<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title><%= controller.action_name %></title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag @theme+"/scaffold" %>
		<%= stylesheet_link_tag @theme+"/frame", :media => "all" %>
	</head>
	<% help=h_help(@help)%>
	<body id="help_body">
		<h1><%= help[:title] %></h1>
		<br/>
		<span class="help_text"> <%= help[:text] %> </span>
		<% if(help[:childs_src])!=nil%>
		<ul class="help">
			<% help[:childs_src].each do |child| %>
			<li class="help">
				<%= child%>
			</li>
			<%end%>
		</ul>
		<%end%>
		<br/>
		<table class="footer">
			<tr  class="footer">
				<td class="help_footer"> <%= h_help_menu("help_previous",help[:previous_src])%> </td>
				<td class="help_footer"> <%= h_help_menu("help_main",help[:main_src])%> </td>
				<td class="help_footer"> <%= h_help_menu("help_upper",help[:upper_src])%> </td>
				<td class="help_footer"> <%= h_help_menu("help_next",help[:next_src])%> </td>
			</tr>
		</table>
		<hr/>
		<a class="help" href="javascript:window.close();"><%= t("help_close_window")%></a>
	</body>
</html>
