<h1><%=t(:questions_list) %><%=h_count_objects(@faqs) %></h1>

<%= form_simple_query_helper('/questions', @faqs) %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= link_to t(:new_question), new_question_path %>
        </td>
        <td>
            <%= show_help("help_questions") %>
        </td>
    </tr>
</table>
<%= will_paginate(@faqs[:recordset]) %>
<table>
    <tr>
        <th>
            <%=t(:label_asker) %>
        </th>
        <th>
            <%=t(:label_question) %>
        </th>
        <th>
            <%=t(:label_responder) %>
        </th>
        <th>
            <%=t(:label_answer) %>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    <% @faqs[:recordset].each do |question| %>
    <tr>
        <td>
            <%=h question.asker.login %>
        </td>
        <td>
            <%=h question.question %>
        </td>
        <td>
            <%unless  question.responder.nil? %>
            	<%=h question.responder.login %>
           	<%end%>
        </td>
        <td>
            <%=h question.answer %>
        </td>
        <td>
            <%= link_to h_img_show.to_s, question %>
        </td>
        <td>
            <%= link_to h_img_edit.to_s, edit_question_path(question) %>
        </td>
        <td>
            <%= link_to h_img_destroy.to_s, question, :confirm => t(:msg_confirm), :method => :delete %>
        </td>
    </tr>
    <% end %>
</table>
<%= will_paginate(@faqs[:recordset]) %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= link_to t(:new_question), new_question_path %>
        </td>
        <td>
            <%= show_help("help_questions") %>
        </td>
    </tr>
</table>
