<h1><%=t(:questions_new) %></h1>
<%= form_for(@faq) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "questions/edit",:locals => { :f => f, :fonct=>"new" }) %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("create") %>
        </td>
        <td>
            <%= link_to t("list"), questions_path %>
        </td>
    </tr>
</table>
<% end %>
