<h1><%=t(:questions_show)%></h1>
<p>
  <b><%=t(:label_question) %></b>
  <%=h @faq.question %>
</p>

<p>
  <b><%=t(:label_answer) %></b>
  <%=h @faq.answer %>
</p>

<%= render(:partial => "shared/menu_show", :object => @faq) %>
