<div id="banner">
    <span class='title'> <%= @page_title || "SYLRPLM" %></span>
    <% if connected %>
      <span class='banner'> <%= "#{current_user.login} #{t("as")} #{current_user.role.try(:title)}" %></span>
      <span class='banner'> <%= link_to h_img("disconnect").to_s, sessions_path, :method => :delete %></span>
    <% else %>
      <span class='banner'> <%= link_to t("connect"), new_sessions_url %></span>
    <% end %>
</div>
<div id="columns">
  <div id="side">
    <span class='banner'> <%= t(:label_today) %></span>
    <span class='banner'> <%= Date.today %></span>
    <span class='banner'><%= tip_help() %></span>

    <div id="menu">
      <fieldset>
        <%= content_tag(:legend, t(:legend_desktop)) %>
        <%= h_menu("/main","help_main",t("mnu_main")) %>
        <%= h_menu("/workitems", "help_flw_workitems",t("mnu_flw_workitems")) %>
        <%= h_menu("/notifications", "help_notifications",t("mnu_notifications")) %>
      </fieldset>

      <fieldset>
        <%= content_tag(:legend, t(:legend_plm_objects)) %>
        <%= h_menu("/documents","help_documents",t("mnu_documents")) %>
        <%= h_menu("/parts","help_parts",t("mnu_parts")) %>
        <%= h_menu("/projects","help_projects",t("mnu_projects")) %>
        <%= h_menu("/customers","help_customers",t("mnu_customers")) %>
      </fieldset>

      <fieldset>
        <%= content_tag(:legend, t(:legend_collab)) %>
        <%= h_menu("/questions","help_questions",t("mnu_questions")) %>
        <%= h_menu("/main/news","help_news",t("mnu_news")) %>
        <%= h_menu("/forums","help_forums",t("mnu_forums")) %>
        <%= h_menu("/main/contacts","help_contacts",t("mnu_contact")) %>
      </fieldset>

      <fieldset>
        <%= content_tag(:legend, t(:legend_clipboard)) %>
        <div id="favori_document">
          <%= render(:partial => "main/favori_document", :object => @favori.get("document")) %>
        </div>
        <div id="favori_part">
          <%= render(:partial => "main/favori_part", :object => @favori.get("part")) %>
        </div>
        <div id="favori_project">
          <%= render(:partial => "main/favori_project", :object => @favori.get("project")) %>
        </div>
        <div id="favori_customer">
          <%= render(:partial => "main/favori_customer", :object => @favori.get("customer")) %>
        </div>
        <div id="favori_user">
          <%= render(:partial => "main/favori_user", :object => @favori.get("user")) %>
        </div>
      </fieldset>

      <fieldset>
        <%= content_tag(:legend, t(:legend_processes)) %>
        <%= h_menu("/definitions", "help_flw_definitions",t("mnu_flw_definitions")) %>
        <%= h_menu("/workitems", "help_flw_workitems",t("mnu_flw_workitems")) %>
        <%= h_menu("/processes", "help_flw_processes",t("mnu_flw_processes")) %>
      </fieldset>

      <% if admin_connected %>
        <fieldset>
          <%= content_tag(:legend, t(:legend_organization)) %>
          <%= h_menu("/users","help_users",t("mnu_users")) %>
          <%= h_menu("/roles","help_roles",t("mnu_roles")) %>
          <%= h_menu("/groups","help_groups",t("mnu_groups")) %>
          <%= h_menu("/accesses","help_accesses",t("mnu_acces")) %>
          <%= h_menu("/volumes","help_volumes",t("mnu_volumes")) %>
        </fieldset>

        <fieldset>
          <%= content_tag(:legend, t(:legend_param)) %>
          <%= h_menu("/typesobjects","help_typesobjects",t("mnu_types_objects")) %>
          <%= h_menu("/statusobjects","help_statusobjects",t("mnu_status_objects")) %>
          <%= h_menu("/sequences","help_sequences",t("mnu_sequences")) %>
        </fieldset>

        <fieldset>
          <%= content_tag(:legend, t(:legend_debug)) %>
          <%= h_menu("/notifications", "help_notifications",t("mnu_notifications")) %>
          <%= h_menu("/errors", "help_flw_errors",t("mnu_flw_errors")) %>
          <%= h_menu("/history", "help_flw_history",t("mnu_flw_history")) %>
          <%= h_menu("/datafiles", "help_datafiles",t("mnu_datafiles")) %>
          <%= h_menu("/forum_items", "help_forum_items",t("mnu_forum_items")) %>
          <%= h_menu("/links", "help_links",t("mnu_links")) %>
          <%= h_menu("/checks", "help_checks",t("mnu_checks")) %>
        </fieldset>
      <% end %>

      <% unless @themes.nil? %>
        <fieldset>
          <%= content_tag(:legend, t(:label_theme)) %>
          <% form_tag do %>
            <%= select_tag("theme", @themes) %><%= h_img_sub(:submit) %>
          <% end %>
        </fieldset>
      <% end %>

      <fieldset>
        <%= content_tag(:legend, t(:label_language)) %>
        <% form_tag do %>
          <%= select_tag(:locale, options_for_select(@languages)) %><%= h_img_sub(:submit) %>
        <% end %>
      </fieldset>

    </div>
  </div>
  <div id="main">
    <% if flash[:notice].present? %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield :layout %>
  </div>
</div>
