<h1><%= t(:hello) %></h1>
<!-- <h2><%= t(:tit_language) %><%= I18n.locale.to_s %></h2> -->
<h1><%= t(:datas_in_database) %></h1>
<%= render(:partial => "shared/show_datas") %>
<p class='notice'>
	<%= t(:first_use,:help => show_help(:help_first_use,true)).html_safe%>
</p>
<p>
	<%= h_help_key(:help_main_functions)%>
</p>
<!-- <%= h_help_all %> -->
<% if User.count == 0 %>
<h2><%= t(:ctrl_init_to_do) %></h2>
<%end %>