<h1>
<%=t(:hello) %></H1>
<!--
<br/>
<%= t(:tit_language) %><%= I18n.locale.to_s %>
<br/>
--><%= render(:partial => "main/check_types") %>
<%= render(:partial => "main/check_status") %>


<%=h_help_all %>
<hr><h2><%=t("context_info") %></h2>
<table>
    <tr>
        <th>
            key
        </th>
        <th>
            value
        </th>
    </tr>
    <% for item in request.env %>
    <% if item[0].index("rack.session") == nil%>
    <tr>
        <td>
            <%= item[0] %>
        </td>
        <td>
            <%= item[1] %>
        </td>
    </tr>
    <%end %>
    <% end %>
</table>
