<H1><%= t(:title_tools)%></H1>
<% form_tag :controller=>:main, :action=>:index, :method=>:get do |form| %>
<% if logged_in? %>
<fieldset>
  <legend>
    <%= t(:legend_account) %>
  </legend>
  <%= render(:partial => "users/show",:locals => { :user => current_user, :fonct => "show" }) %>
  <table class='menu_bas'>
    <tr>
      <td> <%= link_to t(:account_edit, :login => current_user.login), :id => current_user.id, :controller=>:users, :action=>:account_edit %> </td>
      <td> <%= link_to t(:account_edit_passwd, :login => current_user.login), {:controller=>:users, :action=>:account_edit_passwd, :id=>current_user.id} %> </td>
    </tr>
  </table>
</fieldset>
<%end%>
<fieldset>
  <legend>
    <%= t(:legend_preferences) %>
  </legend>

  <p>
    <%= label_tag t(:label_theme) %>
    <%= select_tag(:theme, @themes) %>
  </p>

  <p>
    <%= label_tag t(:label_language) %>
    <%= select_tag(:locale, options_for_select(@languages)) %>
  </p>

  <p><%= submit_tag t(:proceed), class: 'btn' %></p>
</fieldset>
<% if admin_logged_in? %>
<fieldset>
	<legend>
		<%= t(:context_info) %>
	</legend>
	<hr>
	<table>
		<tr>
			<th> <%=t(:variable_key)%></th>
			<th> <%=t(:variable_value)%></th>
		</tr>
		<% for item in request.env %>
		<% if item[0].index("rack.session") == nil %>
		<tr>
			<td> <%= item[0] %></td>
			<td> <%= item[1] %></td>
		</tr>
		<%end %>
		<% end %>
	</table>
</fieldset>
<% end %>
<% end %>