<h1><%= t("workitems_edit") %><%= h @workitem.wfid %></h1>

<script>
	function saveWi() {
		var f = byId('workitem_form');
		f.onsubmit.call();
		// making sure it happens...
		f.submit();
	}

	function proceedWi() {
		byId('state').value = 'proceeded';
		saveWi();
	}
</script>
<% fonct="edit"%>
<% form_tag(
	workitem_path(@workitem),
	:id => h_form_html_id(@workitem, fonct),
	:method => :put,
	:multipart => true) do -%>
	<input type="hidden" name="state" id="state" value="" />
	<!-- :( -->
	<table class='menu_bas'>
		<tr >
			<td><%= link_to_function(t("update"), 'saveWi()') %> </td>
			<td><%= submit_tag t("proceed"), :onclick => "proceedWi(); return false;" %> </td>
			<td><%= link_to(t("list"), workitems_path) %> </td>
		</tr>
	</table>
	<table>
		<%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem, :fonct=>fonct } %>
		<tr>
			<td class='nomax'>
				<%= h_workitem_fields(@workitem, fonct)%>
			</td>
		</tr>
		<%= render(:partial => "workitems/wi_links", :locals => { :fonct=>fonct } ) %>
	</table>
	<% end -%>
	<%= render_fluo :wfid => @workitem.wfid, :workitems => [ @workitem.expid ] %> 
	<table class='menu_bas'>
		<tr >
			<td><%= link_to_function(t("update"), 'saveWi()') %> </td>
			<td><%= submit_tag t("proceed"), :onclick => "proceedWi(); return false;" %> </td>
			<td><%= link_to(t("list"), workitems_path) %> </td>
		</tr>
	</table>


