<h1><%= t("workitems_list") %></h1>
<table class='menu_bas'>
	<tr>
		<td> <%= request.query_string.size > 0 or params[:wfid] ? link_to( t("workitems_all"), :controller => 'workitems') : link_to( t("mnu_flw_workitems"), :controller => 'workitems') %> </td>
	</tr>
</table>

<%= render(:partial => "workitems/workitems", :object =>  @workitems, :locals => {  :fonct=>"index" } ) %>

<% if request.query_string.size > 0 or params[:wfid] %>
<%= link_to t("workitems_all"), :controller => 'workitems' %>
<% end %>
<table class='menu_bas'>
	<tr>
		<% if request.query_string.size > 0 or params[:wfid] %> <td> <%= link_to t("workitems_all"), :controller => 'workitems' %> </td>
		<% end%>
	</tr>
</table>
<div id="help">
	<p>
		A list of workitems (tasks) that your user may view or edit.
	</p>
	<p>
		'pick' allows you to make a workitem yours (transferring it to your personal woritem store).
	</p>
</div>
