<% fonct="show" %> <h1><%= t("workitems_show") %><%= workitem_path(@workitem) unless @workitem.nil? %></h1>
<%= form_tag("/workitems",{ :id => h_form_html_id(@workitem, fonct) }) do |f| %>

<table>
	<tr>
		<td> <%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem, :fonct=>fonct } %> </td>
	</tr>
		<tr>
		<td> <%= render(:partial => "workitems/wi_links", :locals => { :fonct=>fonct }) %> </td>
	</tr>
</table>
<br/>
<% end %>
<table class='menu_bas'>
	<tr >
		<td colspan='2'> <!--%= link_to t('edit_task'), edit_workitem_path(@workitem) unless @workitem.nil? %--></td>
		<td colspan='2'> <%= link_to t('list'), workitems_path %> </td>
	</tr>
</table>

<%= render_fluo :tree_json => @workitem.tree, :workitems => [ @workitem.expid ] unless @workitem.nil? %>

