<div class="depot-form">
    <fieldset>
        <legend>
            <%= t(:legend_login) %>
        </legend>
        <% form_for :sessions, :url => {:controller=>:sessions , :action=>:create}  do |form| %>
        <%= hidden_field_tag :id , @current_user.id %>
        
		<p>
            <label for="role">
                <%= t(:label_role) %>
            </label>
            
			<%= form.collection_select(:role_id, @roles, :id, :title, {}) %>
        </p>
        <table class='menu_bas'>
            <tr>
                <td>
                    <%=submit_tag t(:submit_login) %>
               </td>
            </tr>
        </table>
        <% end %>
    </fieldset>
</div>
