<% form_for :session, :url => {:controller=>:sessions , :action=>:create} do |form| %>
<fieldset>
	<legend>
		<%= t(:legend_login) %>
	</legend>
	<%= form.label t(:label_login) %>
	<%= form.text_field :login %> <%= submit_tag t(:submit_new_account) %>
	<br/>
	<%= form.label t(:label_password) %>
	<%= form.password_field :password %>
	<br/>
	<table class='menu_bas'>
		<tr>
			<td> <%= submit_tag t(:submit_account) %> </td>
			<td></td>
		</tr>
	</table>
</fieldset>
<% end %> 