<% form_for :session, :url => {:controller=>:sessions , :action=>:create_new_account} do |form| %>
<fieldset>
	<legend>
		<%= t(:legend_new_account) %>
	</legend>
	<%= form.label t(:label_username) %> 
	<%= form.text_field :login %>
	<br/>
	<%= form.label t(:label_password) %> 
	<%= form.password_field :password %>
	<br/>
	<%= form.label t(:label_new_email) %> 
	<%= form.text_field :new_email %>
	<br/>
	<%= form.label t(:label_language) %>
	<%= form.select(:language, options_for_select(@languages)) %>
<br/>
<table class='menu_bas'>
	<tr>
		<td> <%= form.submit t(:submit_create_account) %> </td>
	</tr>
</table>
</fieldset>

<% end %> 