<%= h_title t(:submit_create_account) %>

<%= form_for :session, :url => {:controller => :sessions , :action => :create_account}, method: 'post' do |form| %>
<fieldset>
  <legend>
    <%= t(:legend_new_account) %>
  </legend>

   <p>
    <%= form.label t(:label_login) %>
    <%= form.text_field :login %>
  </p>

  <p>
<%= form.label t(:label_first_name) %>
<%= form.text_field :first_name, :size => 40 %>
</p>

<p>
<%= form.label t(:label_last_name) %>
<%= form.text_field :last_name, :size => 40 %>
</p>

  <p>
    <%= form.label t(:label_password) %>
    <%= form.password_field :password %>
  </p>
 <p>
<%= form.label t(:label_confirm_password) %>
<%= form.password_field :password_confirmation, :size => 40 %>
</p>
  <p>
    <%= form.label t(:label_new_email) %>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label t(:label_language) %>
    <%= form.select(:language, options_for_select(@languages)) %>
  </p>

  <p><%= form.submit t(:submit_create_account), class: 'btn' %></p>
</fieldset>
<% end %>
