<h1>t(:forum_edit)</h1>
<% form_for(@forum) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "forums/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<table class='menu_bas'>
	<tr>
		<td><%= f.submit t("update") %></td>
		<td><%= link_to t("explorer"), @forum %></td>
		<td><%= link_to t("list"), forums_path %></td>
	</tr>
</table>
<% end %> 