<h1><%= t(:forum_list) %><%= h_count_objects(@forums) %></h1>
<% unless @forum.nil? %>
<% form_for(@forum) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= form_simple_query_helper('/forums', @forums) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_forum"), new_forum_path %> </td>
		<td> <%= show_help("help_forums") %> </td>
	</tr>
</table>
<%= will_paginate(@forums[:recordset]) %>
<table>
	<tr>
		<th> <%= t(:label_type) %> </th>
		<th> <%= t(:label_status) %> </th>
		<th> <%= t(:label_subject) %> </th>
		<th> <%= t(:label_description) %> </th>
		<th> <%= t(:label_responsible) %> </th>
		<th> <%= t(:label_group) %> </th>
		<th> <%= t(:label_projowner) %></th>
		<th></th>
		<th></th>
	</tr>
	<% @forums[:recordset].each do |forum| %>
	<tr>
		<td> <%= h_explorer forum.typesobject, :name %> </td>
		<td> <%= h_explorer forum.statusobject, :name %> </td>
		<td> <%= h forum.subject %> </td>
		<td> <%= h forum.description %> </td>
		<td> <% if forum.owner != nil %>
		<%= h_explorer forum.owner, :login %>
		<% end %> </td>
		<td><%= h_explorer forum.group, :name %></td>
		<td><%= h_explorer forum.projowner %></td>
		<% unless forum.frozen? %> <td> <%= link_to h_img_edit.to_s, edit_forum_path(forum) %> </td>
		<td> <%= link_to h_img_destroy, forum, :confirm => t("msg_confirm"), :method => :delete %> </td>
		<% end %>
	</tr>
	<% end %>
</table>
<%= will_paginate(@forums[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_forum"), new_forum_path %> </td>
		<td> <%= show_help("help_forums") %> </td>
	</tr>
</table>