<% fonct="show" %>
<% form_for(@forum, :html => { :id => h_form_html_id(@forum, fonct) }) do |f| %>
<%= f.error_messages %>
<p>
	<b>Type:</b>
	<%= h @forum.typesobject.name %>
</p>
<p>
	<b>Status:</b>
	<%= h @forum.statusobject.name %>
</p>
<p>
	<b>Subject:</b>
	<%= h @forum.subject %>
</p>
<p>
	<b>Description:</b>
	<%= h @forum.description %>
</p>
<p>
	<b>Creator:</b>
	<% if @forum.owner!= nil %>
	<%= h @forum.owner.login%>
	<% end %>
</p>
<%= h_type_values(@forum, fonct) %>
<p>
	<b><%= t("label_domain") %></b>
	<%= h @forum.domain %>
</p>
<% end %>
<%= @forum.forum_items.count%> <%= t("forum_items")%>
<% if @forum.forum_items.count >0 %>
<ul class='forum'>
	<%= render(:partial => "forums/f_item", :collection => @forum.forum_items) %>
</ul>
<% end %>
<table class='menu_bas'>
	<tr>
		<% if @forum.frozen? %> <td><%= t("freeze")%></td>
		<% else %> <td><%= link_to t("edit"), edit_forum_path(@forum) %></td>
		<td> <%= link_to t("edit_lifecycle"), {:controller=>"forums", :action=>"edit_lifecycle", :id => @forum.id} %> </td>
		<% end %> <td><%= link_to t("list"), forums_path %></td>
	</tr>
</table>