<h1><%= t(:lifecycle_edit, :model => t(@part.modelname), :obj => @part.to_s) %></h1>
<% fonct="edit_lifecycle" %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @part, :fonct=>fonct}) %>
<%= form_for(@part, :url => {:controller=>"parts", :action=>"update_lifecycle", :id => @part.id}, :method=>:get) do |f| %>
<%= form_errors_for @part %>
<%= render(:partial => "parts/edit_lifecycle",:locals => { :fonct=>fonct, :f=>f , :fonct=>fonct}) %>
<% end %>