<%= hidden_field_tag("filter_types" , @myparams["filter_types"]) unless @myparams.nil?%> <h1><%= t(:part_list) %><%= h_count_objects(@parts) %></h1>
<% unless @part.nil?
form_for(@part) do |form| %>
<%= form.error_messages %>
<% end%>
<% else %>
<%= h_form_simple_query("/parts", @parts) %>
<% form_tag({:controller=>:parts, :action=>:index_execute}) do %>
<% unless param_equals?("todo", "select") %>
<%=h_menu_index_action("part")%>
<%end%>
<% if @myparams[:list_mode] == t(:list_mode_icon) %>
<%= h_thumbnails_objs @parts %>
<% else %>
<%= will_paginate(@parts[:recordset]) %>
<table>
	<tr>
		<th><%= h_img(:label_icon) %></th>
		<th <%= sort_td_class_helper "ident" %>><%= sort_link_helper t("label_ident"), "ident" %></th>
		<th <%= sort_td_class_helper "revision" %>><%= sort_link_helper t("label_revision"), "revision" %></th>
		<th <%= sort_td_class_helper "typesobject_id" %>><%= sort_link_helper t("label_typesobject"), "typesobject_id" %></th>
		<th <%= sort_td_class_helper "designation" %>><%= sort_link_helper t("label_designation"), "designation" %></th>
		<th <%= sort_td_class_helper "statusobject_id" %>><%= sort_link_helper t("label_statusobject"), "statusobject_id" %></th>
		<th <%= sort_td_class_helper "owner" %>><%= sort_link_helper t("label_responsible"), "owner_id" %></th>
		<th <%= sort_td_class_helper "group" %>><%= sort_link_helper t("label_group"), "group_id" %></th>
		<th <%= sort_td_class_helper :projowner %>> <%= sort_link_helper t(:label_projowner), "projowner_id" %> </th>
		<th <%= sort_td_class_helper "date" %>><%= sort_link_helper t("label_date"), "date" %></th>
		<th <%= sort_td_class_helper "domain" %>><%= sort_link_helper t("label_domain"), "domain" %></th>
		<th> <%= t("label_values")%></th>
		<th></th><th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @parts[:recordset].each do |part| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= icone(part) %></td>
		<td><%= h_explorer part %></td>
		<td><%= part.revision %></td>
		<td><%= h_explorer part.typesobject, :name_translate unless part.typesobject.nil? %> </td>
		<td><%= part.designation %></td>
		<td><%= h_explorer part.statusobject, :name_translate unless part.statusobject.nil? %> </td>
		<td><%= h_explorer part.owner, :login %></td>
		<td><%= h_explorer part.group, :name_translate %></td>
		<td><%= h_explorer part.projowner %>(<%= part.projowner.typeaccess.name_translate unless part.projowner.typeaccess.nil? %>)</td>
		<td><%= l part.date %></td>
		<td><%= part.domain %></td>
		<td><%= part.type_values %></td>
		<% unless param_equals?("todo", "select") %>
		<td><%= link_to h_img_edit.to_s, edit_part_path(part) %></td>
		<td> <%= link_to h_img_edit_lifecycle.to_s, {:controller=>"parts", :action=>"edit_lifecycle", :id => part.id} %> </td>
		<td> <%= link_to h_img(:duplicate), new_dup_part_path(part) %> </td>
		<% if logged_in? %>
		<td> <%= link_to_remote h_img(:copy).to_s, :url => {:action => :add_favori, :id => part.id}, :method => :get %></td>
		<%end%>
		<td><%= h_destroy(part) %></td>
		<% if part.revisable?  %>
		<td> <%= h_img_revise.to_s %></td>
		<%end%>
		<td><%= check_box(:action_on,part.id) %></td>
		<% else %> <td><%= select_button(part)%> </td>
		<%end%>
	</tr>
	<% end %>
</table>
<% end %>
<%= will_paginate(@parts[:recordset]) %>
<% unless param_equals?("todo", "select") %>
<%=h_menu_index_action("part")%>
<%end%>
<%end%>
<%end%>
