<h1><%= t(:part_list) %><%= h_count_objects(@parts) %></h1>

<%= form_simple_query_helper('/parts', @parts) %>
<table class='menu_bas'>
  <tr>
    <td>
      <%= link_to t("new_part"), new_part_path %>
    </td>
    <td>
      <%= show_help("help_parts") %>
    </td>
  </tr>
</table>
<%= will_paginate(@parts[:recordset]) %>
<table>
    <tr>
        <th>
        </th>
        <th<%= sort_td_class_helper "ident" %>>
          <%= sort_link_helper t("label_ident"), "ident" %>
        </th>
        <th<%= sort_td_class_helper "typesobject_id" %>>
          <%= sort_link_helper t("label_typesobject"), "typesobject_id" %>
        </th>
        <th<%= sort_td_class_helper "revision" %>>
          <%= sort_link_helper t("label_revision"), "revision" %>
        </th>
        <th<%= sort_td_class_helper "designation" %>>
          <%= sort_link_helper t("label_designation"), "designation" %>
        </th>
        <th<%= sort_td_class_helper "statusobject_id" %>>
          <%= sort_link_helper t("label_statusobject"), "statusobject_id" %>
        </th>
        <th<%= sort_td_class_helper "owner" %>>
          <%= sort_link_helper t("label_responsible"), "owner" %>
        </th>
        <th<%= sort_td_class_helper "group" %>>
          <%= sort_link_helper t("label_group"), "group" %>
        </th>
		<th <%= sort_td_class_helper :projowner %>> <%= sort_link_helper t(:label_projowner), :projowner %> </th>
        <th<%= sort_td_class_helper "date" %>>
          <%= sort_link_helper t("label_date"), "date" %>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    <% @parts[:recordset].each do |part| %>
      <tr>
        <td>
          <%= icone(part) %>
        </td
        
        <td>
          <%= h part.ident %>
        </td>
        <td>
          <% unless part.typesobject.nil? %>
            <%= h part.typesobject.name %>
          <% end %>
        </td>
        <td>
          <%= h part.revision %>
        </td>
        <td>
          <%= h part.designation %>
        </td>
        <td>
          <% unless part.statusobject.nil? %>
            <%= h part.statusobject.name %>
          <% end %>
        </td>
        <td>
          <%= h part.owner.login %>
        </td>
        <td>
          <%= h part.group.name %>
        </td>
        <td>
          <%= h part.projowner.ident %>
        </td>
        <td>
          <%= l part.date %>
        </td>
        <td>
          <%= link_to h_img_show.to_s, part %>
        </td>
        	<% if part.revisable?  %>
		<td> <%= h_img_revise.to_s %></td>
          	<td></td>
        	<% else %>
						<% if part.frozen? == false %> 
          		<td><%= link_to h_img_edit.to_s, edit_part_path(part) %></td>
          		<td><%= h_destroy(part) %></td>
        		<% else %>
							<td></td>
							<td></td>
						<% end %>
					<% end %>
        <td>
          <% if logged_in? %>
		  <%= link_to_remote h_img(:copy).to_s, :url => {:action => :add_favori, :id => part.id}, :method => :get %>
		  <%end%>
		</td>
      </tr>
    <% end %>
</table>
<%= will_paginate(@parts[:recordset]) %>
<table class='menu_bas'>
  <tr>
    <td>
      <%= link_to t("new_part"), new_part_path %>
    </td>
    <td>
      <%= show_help("help_parts") %>
    </td>
  </tr>
</table>
