<h1><%= t(:part_list) %><%= h_count_objects(@parts) %></h1>
<% unless @part.nil? %>
<% form_for(@part) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= form_simple_query_helper('/parts', @parts) %>
<table class='menu_bas'>
	<tr>
		<td><%= link_to t("new_part"), new_part_path %></td>
		<td><%= show_help("help_parts") %></td>
	</tr>
</table>
<%= will_paginate(@parts[:recordset]) %>
<table>
	<tr>
		<th></th>
		<th <%= sort_td_class_helper "ident" %>><%= sort_link_helper t("label_ident"), "ident" %></th>
		<th <%= sort_td_class_helper "revision" %>><%= sort_link_helper t("label_revision"), "revision" %></th>
		<th <%= sort_td_class_helper "typesobject_id" %>><%= sort_link_helper t("label_typesobject"), "typesobject_id" %></th>
		<th <%= sort_td_class_helper "designation" %>><%= sort_link_helper t("label_designation"), "designation" %></th>
		<th <%= sort_td_class_helper "statusobject_id" %>><%= sort_link_helper t("label_statusobject"), "statusobject_id" %></th>
		<th <%= sort_td_class_helper "owner" %>><%= sort_link_helper t("label_responsible"), "owner_id" %></th>
		<th <%= sort_td_class_helper "group" %>><%= sort_link_helper t("label_group"), "group_id" %></th>
		<th <%= sort_td_class_helper :projowner %>> <%= sort_link_helper t(:label_projowner), "projowner_id" %> </th>
		<th <%= sort_td_class_helper "date" %>><%= sort_link_helper t("label_date"), "date" %></th>
		<th <%= sort_td_class_helper "domain" %>><%= sort_link_helper t("label_domain"), "domain" %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @parts[:recordset].each do |part| %>
	<tr>
		<td><%= icone(part) %></td>
		<td><%= h_explorer part %></td>
		<td><%= part.revision %></td>
		<td><%= h_explorer part.typesobject, :name unless part.typesobject.nil? %> </td>
		<td><%= part.designation %></td>
		<td><%= h_explorer part.statusobject, :name unless part.statusobject.nil? %> </td>
		<td><%= h_explorer part.owner, :login %></td>
		<td><%= h_explorer part.group, :name %></td>
		<td><%= h_explorer part.projowner %></td>
		<td><%= l part.date %></td>
		<td><%= part.domain %></td>
		<% if part.revisable?  %> <td> <% unless document.revise_by_action? %><%= h_img_revise.to_s %><% end %></td>
		<td></td>
		<% else %>
		<% if part.frozen? == false %> <td><%= link_to h_img_edit.to_s, edit_part_path(part) %></td>
		<td><%= h_destroy(part) %></td>
		<% else %> <td></td>
		<td></td>
		<% end %>
		<% end %> <td> <% if logged_in? %>
		<%= link_to_remote h_img(:copy).to_s, :url => {:action => :add_favori, :id => part.id}, :method => :get %>
		<%end%> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@parts[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td><%= link_to t("new_part"), new_part_path %></td>
		<td><%= show_help("help_parts") %></td>
	</tr>
</table>
