<h1><%= t("part_new_dup") %></h1>
<% fonct="new_dup" %>
<%= form_for(@part, :html => { :id => h_form_html_id(@part, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "parts/edit",:locals => { :f => f, :fonct=>fonct }) %>
<%= render(:partial => "shared/show_objects_in_relations",:locals => { :object => @part_orig, :f => f, :fonct=>fonct }) %>
<h1></h1>
<table class='menu_bas'>
	<tr>
		<td> <%= f.submit t("update") %> </td>
		<%if @part.statusobject.promote==true %> <td><%= link_to t(:promote), :id => @part.id, :action => :promote , :confirm => t("msg_confirm") %></td>
		<%end %>
		<%if @part.statusobject.demote==true %> <td><%= link_to t(:demote), :id => @part.id, :action => :demote , :confirm => t("msg_confirm") %></td>
		<%end %> <td> <%= link_to t("explorer"), @part %> </td>
		<td> <%= link_to t("list"), parts_path %> </td>
	</tr>
</table>
<% end %>
