<h1><%= t(:part_show) %></h1>
<% fonct="show"%>
<% form_for(@part, :html => { :id => h_form_html_id(@part, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @part, :fonct=>fonct}) %>
<p>
	<b><%= t(:label_ident) %></b>
	<%= h @part.ident %>
</p>
<p>
	<b><%= t(:label_type) %></b>
	<% if(@part.typesobject != nil) %>
	<%= h @part.typesobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_revision) %></b>
	<%= h @part.revision %>
</p>
<p>
	<b><%= t(:label_designation) %></b>
	<%= h @part.designation %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @part.description %>
</p>
<p>
	<b><%= t(:label_status) %></b>
	<% if(@part.statusobject != nil) %>
	<%= h @part.statusobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_responsible) %></b>
	<%= h @part.owner.login %>
</p>
<p>
	<b><%= t(:label_date) %></b>
	<%= l @part.date %>
</p>
<p>
	<b><%= t("label_domain") %></b>
	<%= h @part.domain %>
</p>
<%= h_type_values(@part, fonct) %>
<% end %>
<%= render(:partial => "shared/show_datafiles",
:locals=> {:plm_object => @part,  :fonct => fonct, :document=>nil, :part=>@part, :project=>nil, :customer=>nil}) %>
<%= render(:partial => "shared/object_workitems", :object =>@part) %>
<%= render(:partial => "shared/objects_to_add", :object =>@part) %>
<%= render(:partial => "shared/links_relation_tabs", :object =>@part) %>

