<h1><%= t(:part_show) %></h1>
<% fonct="show" %>
<% form_for(@part, :html => { :id => h_form_html_id(@part, fonct) }) do |f| %>
<%= f.error_messages %>
<% end %>
<p>
	<b><%= t(:label_ident) %></b>
	<%= h @part.ident %>
</p>
<p>
	<b><%= t(:label_type) %></b>
	<% if(@part.typesobject != nil) %>
	<%= h @part.typesobject.name %>
	<% end %>
</p>
<p>
	<b><%= t(:label_revision) %></b>
	<%= h @part.revision %>
</p>
<p>
	<b><%= t(:label_designation) %></b>
	<%= h @part.designation %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @part.description %>
</p>
<p>
	<b><%= t(:label_status) %></b>
	<% if(@part.statusobject != nil) %>
	<%= h @part.statusobject.name %>
	<% end %>
</p>
<p>
	<b><%= t(:label_responsible) %></b>
	<%= h @part.owner.login %>
</p>
<p>
	<b><%= t(:label_date) %></b>
	<%= l @part.date %>
</p>
<%= h_type_values(@part, fonct) %>
	<p>
	<b><%= t("label_domain") %></b>
	<%= h @part.domain %>
	</p>
<h1></h1>
<%= render(:partial => "shared/object_workitems", :object =>@part) %>
<h1></h1>
<table class='menu_bas'>
	<% unless @favori.get('document').count==0 || @part.relations["document"].count==0 %>
	<tr>
		<% form_for(@part, :url => {:id => @part.id, :action => "add_docs" }, :method => :get) do |f| %> <td> <%= select("relation","document", options_from_collection_for_select( @part.relations["document"], :id, :ident)) %></td>
		<td><%= submit_tag t("paste_documents") %></td>
		<% end %>
	</tr>
	<%end%>
	<% unless @favori.get('part').count==0 || @part.relations["part"].count==0 %>
	<tr>
		<% form_for(@part, :url => {:id => @part.id, :action => "add_parts" }, :method => :get) do |f| %> <td> <%= select("relation","part", options_from_collection_for_select( @part.relations["part"], :id, :ident)) %></td>
		<td> <%= submit_tag t("paste_parts") %></td>
		<% end %>
	</tr>
	<% end %>
	<% unless @part.relations["forum"].count==0 %>
	<tr>
		<% form_for(@part, :url => {:id => @part.id, :action => :new_forum }) do |f| %> <td> <%= select("relation","forum", options_from_collection_for_select( @part.relations["forum"], :id, :ident)) %></td>
		<td><%= submit_tag t("add_forum") %></td>
		<% end %>
	</tr>
	<% end %>
</table>
 
<h1></h1>
<%= render(:partial => "shared/tree", :object => @part ) %>
<table class='menu_bas'>
	<tr>
		<td> <% if @part.frozen? %>
		<%= t("freeze") %>
		<% else %>
		<%= link_to t("edit"), edit_part_path(@part) %> </td>
		<%end%> <td> <%= link_to t("new_part"), new_part_path %></td>
		<td> <%= link_to t("list"), parts_path %></td>
	</tr>
</table>