<h1>Editing relation</h1>
<% fonct="edit" %>
<%= form_for(@relation, :html => { :id => h_form_html_id(@relation, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "relations/edit",:locals => { :f => f, :fonct=>fonct }) %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("update") %>
        </td>
        <td>
            <%= link_to t("explorer"), @relation %>
        </td>
        <td>
            <%= link_to t("list"), relations_path %>
        </td>
    </tr>
</table>
<% end %>
