<h1>Listing relations</h1>
<% unless @relation.nil? %>
<% form_for(@relation) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_relation), new_relation_path %> </td>
		<td> <%= show_help("help_relations") %> </td>
	</tr>
</table>
<table>
	<tr>
		<th <%= sort_td_class_helper "name" %>> <%= sort_link_helper t("label_name"), "name" %></th>
		<th <%= sort_td_class_helper "typesobject" %>> <%= sort_link_helper t(:label_typesobject), "typesobject_id" %></th>
		<th <%= sort_td_class_helper "father_plmtype" %>> <%= sort_link_helper t("label_father_plmtype"), "father_plmtype" %></th>
		<th <%= sort_td_class_helper "child_plmtype" %>> <%= sort_link_helper t("label_child_plmtype"), "child_plmtype" %></th>
		<th <%= sort_td_class_helper "father_typesobject" %>> <%= sort_link_helper t("label_father_type"), "father_typesobject_id" %></th>
		<th <%= sort_td_class_helper "child_typesobject" %>> <%= sort_link_helper t("label_child_type"), "child_typesobject_id" %></th>
		<th>Cardin occur min</th>
		<th>Cardin occur max</th>
		<th>Cardin use min</th>
		<th>Cardin use max</th>
		<th <%= sort_td_class_helper "domain" %>> <%= sort_link_helper t(:label_domain), "domain" %></th>
		
		
	</tr>
	<% @relations[:recordset].each do |relation| %>
	<tr>
		<td><%= h relation.name %></td>
		<td><%= h relation.typesobject.name unless relation.typesobject.nil? %></td>
		<td><%= h relation.father_plmtype %></td>
		<td><%= h relation.child_plmtype  %></td>
		<td><%= h relation.father_typesobject.name unless relation.father_typesobject.nil? %></td>
		<td><%= h relation.child_typesobject.name unless relation.child_typesobject.nil? %></td>
		<td><%= h relation.cardin_occur_min %></td>
		<td><%= h relation.cardin_occur_max %></td>
		<td><%= h relation.cardin_use_min %></td>
		<td><%= h relation.cardin_use_max %></td>
		<td><%= h relation.domain %></td>
		<td> <%= link_to h_img_show.to_s, relation %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_relation_path(relation) %> </td>
		<td> <%= link_to h_img_destroy.to_s, relation, :confirm => t(:msg_confirm), :method => :delete %> </td>
	</tr>
	<% end %>
</table>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_relation), new_relation_path %> </td>
		<td> <%= show_help("help_relations") %> </td>
	</tr>
</table>