<h1><%= t(:relation_list) %><%= h_count_objects(@relations)%> </h1>
<% unless @relation.nil? %>
<%= form_for(@relation) do |f| %>
<%= form_errors_for @relation %>
<% end %>
<% else %>
<%= h_form_simple_query('/relations', @relations) %>
<%= form_tag({:controller=>:relations, :action=>:index_execute}) do %>
<%= h_menu_index_action("relation")%>
<%= will_paginate(@relations[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper "name" %>> <%= sort_link_helper t("label_name"), "name" %></th>
		<th <%= sort_td_class_helper "typesobject" %>> <%= sort_link_helper t(:label_typesobject), "typesobject_id" %></th>
		<th <%= sort_td_class_helper "father_plmtype" %>> <%= sort_link_helper t("label_father_plmtype"), "father_plmtype" %></th>
		<th <%= sort_td_class_helper "father_typesobject" %>> <%= sort_link_helper t("label_father_type"), "father_typesobject_id" %></th>
		<th <%= sort_td_class_helper "child_plmtype" %>> <%= sort_link_helper t("label_child_plmtype"), "child_plmtype" %></th>
		<th <%= sort_td_class_helper "child_typesobject" %>> <%= sort_link_helper t("label_child_type"), "child_typesobject_id" %></th>
		<th><%= t("label_paste_way")%></th>
		<th><%= t("label_cardin_occur_min")%></th>
		<th><%= t("label_cardin_occur_max")%></th>
		<th><%= t("label_cardin_use_min")%></th>
		<th><%= t("label_cardin_use_max")%></th>
		<th><%= t("label_views")%></th>
		<th <%= sort_td_class_helper "domain" %>> <%= sort_link_helper t(:label_domain), "domain" %></th><th></th><th></th><th></th>
	</tr>
	<% @relations[:recordset].each do |relation| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= h_explorer relation, :name %><%= h_show_translate relation.name_translate %></td>
		<td><%= h_explorer relation.typesobject, :name_translate unless relation.typesobject.nil? %></td>
		<td><%= h relation.father_plmtype %>(<%= relation.father_plmtype_translate%>)</td>
		<td><%= h_explorer relation.father_typesobject, :name_translate unless relation.father_typesobject.nil? %>(<%= relation.father_typesobject_id%>)</td>
		<td><%= h relation.child_plmtype  %>(<%= relation.child_plmtype_translate %>)</td>
		<td><%= h_explorer relation.child_typesobject, :name_translate unless relation.child_typesobject.nil? %>(<%= relation.child_typesobject_id%>)</td>
		<td><%= h relation.paste_way%></td>
		<td><%= h relation.cardin_occur_min %></td>
		<td><%= h relation.cardin_occur_max %></td>
		<td><%= h relation.cardin_use_min %></td>
		<td><%= h relation.cardin_use_max %></td>
		<td><%= h_value_or_default(comma_links(relation.views, :name),t(:msg_tobedefine)) %></td>
		<td><%= h relation.domain %></td>
		<td> <%= link_to h_img_edit.to_s, edit_relation_path(relation) %> </td>

		<td> <%= h_menu_duplicate(relation) %> </td>
		<td> <%= h_destroy(relation) %> </td>
		<td><%= check_box(:action_on,relation.id) %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@relations[:recordset]) %>
<%= h_menu_index_action("relation")%>
<%end%>
<%end%>
