<p>
    <b><%= f.label t("label_message") %></b>
    <br/>
    <%= f.text_area :message %>
</p>
<p>
    <b><%= f.label t("label_id") %></b>
    <br/>
    <%= f.text_field :forum_id %>
</p>
<p>
    <b><%= f.label t("label_parent") %></b>
    <br/>
    <%= f.text_field :parent_id %>
</p>
<p>
    <b><%= f.label t("label_author") %></b>
    <br/>
    <%= f.text_field :owner_id %>
</p>