<table class="coll">
	<thead>
		<tr>
			<% if admin_logged_in? %>
			<th> <%= t("label_id")%> </th>
			<% end %>
			<th>date</th>
			<th>since</th>
			<th>source</th>
			<th>event</th>
			<th>wfid</th>
			<th>wfname</th>
			<th>wfrev</th>
			<th>fei</th>
			<th>participant</th>
			<th>message</th>
			<th>tree</th>
		</tr>
	</thead>
	<tbody>
		<% histories.each do |entry|
		fei = entry.full_fei
		sfei = fei ? "#{fei.sub_instance_id} #{fei.expname} #{fei.expid}" : ''
		cat = entry.created_at.to_s %>
		<tr>
			<% if admin_logged_in? %>
			<td> <%= entry.id %> </td>
			<% end %>
			<td class="created_at" title="<%= cat %>"><%= cat[0..18] %></td>
			<td class="since"><%= display_since(entry, :created_at) %></td>
			<td class="source"><%= view_link(entry, :source) %></td>
			<td class="event"><%= view_link(entry, :event) %></td>
			<td class="wfid"><%= view_link(entry, :wfid) %></td>
			<td class="wfname"><%= view_link(entry, :wfname) %></td>
			<td class="wrevision"><%= h entry.wfrevision %></td>
			<td class="fei"><%= sfei %></td>
			<td class="participant"><%= view_link(entry, :participant) %></td>
			<td class="message" title="<%= h entry.message %>"><%= h truncate(entry.message, :length => 25) %></td>
			<td class="tree"><%= entry.tree.size.to_s+" car" unless entry.tree.nil? %></td>
			<td><%= link_to h_img_show.to_s, history_path(entry) %></td>
		</tr>
		<% end %>
	</tbody>
	<tfoot></tfoot>
</table>
