<table class="coll">
	<tr>
		<% if admin_logged_in? %> <th> <%= t("label_id")%> </th>
		<% end %> <th><%= h t(:label_date)%></th>
		<th><%= h t(:label_history_since)%></th>
		<th><%= h t(:label_history_source)%></th>
		<th><%= h t(:label_history_event)%></th>
		<th><%= h t(:label_history_wfid)%></th>
		<th><%= h t(:label_history_wf_name)%></th>
		<th><%= h t(:label_history_wf_rev)%></th>
		<th><%= h t(:label_history_fei)%></th>
		<th><%= h t(:label_history_participant)%></th>
		<th><%= h t(:label_history_message)%></th>
		<th><%= h t(:label_history_tree)%></th>
		<% if fonct != 'show_only' %>
		<th><%= h t(:label_history_plm_objects)%></th>
		<% end %>
		<th><%= h t(:label_history_explore)%></th>
	</tr>
	<% histories.each do |entry|
	fei = entry.full_fei
	sfei = fei ? "#{fei.sub_instance_id} #{fei.expname} #{fei.expid}" : ''
	cat = entry.created_at.to_s
	plm_objects=entry.plm_objects
	ok = true
	ok = false if (fonct=='on_plm_objects' && plm_objects.count ==0)
	if ok %>
	<tr class='<%= cycle("even", "odd") %>'>
		<% if admin_logged_in? %> <td> <%= entry.id %> </td>
		<% end %> <td class="created_at" title="<%= cat %>"><%= cat[0..18] %></td>
		<td class="since"><%= display_since(entry, :created_at) %></td>
		<td class="source"><%= view_link(entry, :source) %></td>
		<td class="event"><%= view_link(entry, :event) %></td>
		<td class="wfid"><%= view_link(entry, :wfid) %></td>
		<td class="wfname"><%= view_link(entry, :wf_name) %></td>
		<td class="wrevision"><%= h entry.wf_revision %></td>
		<td class="fei"><%= sfei %></td>
		<td class="participant"><%= view_link(entry, :participant) %></td>
		<td class="message" title="<%= h entry.message %>"><%= h truncate(entry.message, :length => 40) %></td>
		<td class="tree"><%= entry.tree.size.to_s+" car" unless entry.tree.nil? %></td>
		<% if fonct != 'show_only' %>
		<td><%= comma_links(plm_objects, :ident) %></td>
		<% end %>
		<td> <% if obj.nil? %>
		<%= link_to h_img_show.to_s, history_path(entry) %>
		<%else%>
		<%= link_to h_img_show.to_s, history_path(entry, :obj_id=>obj, :obj_type=>obj.model_name) %>
		<% end %> </td>
	</tr>
	<% end %>
	<% end %>
</table>
