<h1><%= t("history_show") %></h1>
<% fonct="show" %>
<form action='<%="/history/#{@entry.id}"%>' id = '<%=h_form_html_id(@entry, fonct)%>'>
<p>
	<b>Date:</b>
	<%= h @entry.created_at %>
</p>
<p>
	<b>Source:</b>
	<%= h @entry.source %>
</p>
<p>
	<b>Event:</b>
	<%= h @entry.event %>
</p>
<p>
	<b>wfid:</b>
	<%= h @entry.wfid %>
</p>
<p>
	<b>wf_name:</b>
	<%= h @entry.wf_name %>
</p>
<p>
	<b>fei:</b>
	<%= h @entry.fei %>
</p>
<p>
	<b>Participant:</b>
	<%= h @entry.participant %>
</p>
<p>
	<b>Message:</b>
	<%= h @entry.message %>
</p>
<p>
	<b>Tree:</b>
	<br/>
	<%= render_fluo :tree_json => @entry.tree %>
</p>
<p>
	<b>Fields:</b>
	<br/>
	<%=	h_history_fields(@entry, fonct) %>
</p>
<table class='menu_toolbar'>
	<tr>
		<% unless @object.nil? %>
		<td> <%= link_to t(@object.model_name+"_show"), send(@object.model_name+"_path", @object) %> </td>
		<% end %>
		<td> <%= link_to t("list"), "/history" %> </td>
	</tr>
</table>
</form>
