<%= hidden_field :datafile , :revision %>
<%= hidden_field_tag "fonct" , fonct %>
<%= f.error_messages %>
<p>
    <b><%= f.label t(:label_ident) %></b>
    <br/>
    <%= f.text_field :ident %>
</p>
<p>
    <b><%= f.label t(:label_type) %></b>
    <br/>
    <%= f.collection_select(:typesobject_id, @types, :id, :name) %>
</p>
<p>
    <b><%= f.label t(:label_revision) %></b>
    <br/>
    <%=h @datafile.revision %>
</p>
<p>
    <b><%= f.label t(:label_volume) %></b>
    <br/>
    <%= @datafile.volume.name %>
</p>
<p>
    <b><%= f.label t(:label_filename) %>:</b>
    <%=@datafile.filename %>
    <% unless document.nil? %>
    <% if  document.is_checked %>
    <br/>
    <%= f.file_field(:uploaded_file) %>
    <%end %>
    <%else%>
		<br/>
    <%= f.file_field(:uploaded_file) %>
    <%end %>
</p>
<p>
    <%= f.label t(:label_content_type) %>
    <br/>
    <%=@datafile.content_type %>
</p>
<p>
    <b><%= f.label t(:label_responsible) %></b>
    <br/>
    <%= @datafile.owner.login %>
</p>
<p>
    <b><%= f.label t(:label_date) %></b>
    <br/>
    <%= @datafile.updated_at %>
</p>
