<table>
	<tr>
		<th><%= h_img(:label_icon) %></th>
		<th <%= sort_td_class_helper :ident %>> <%= sort_link_helper t(:label_ident), :ident %> </th>
		<th <%= sort_td_class_helper :revision %>> <%= sort_link_helper t(:label_revision), :revision %> </th>
		<th <%= sort_td_class_helper :typesobject_id %>> <%= sort_link_helper t(:label_typesobject), :typesobject_id %> </th>
		<th <%= sort_td_class_helper :plm_object %>> <%= sort_link_helper t(:label_datafile_object), :plm_object %> </th>
		<th <%= sort_td_class_helper :volume_id %>> <%= sort_link_helper t(:label_volume), :volume_id %> </th>
		<th <%= sort_td_class_helper :filename %>> <%= sort_link_helper t(:label_filename), :filename %> </th>
		<% if admin_logged_in?%>
		<th <%= sort_td_class_helper :owner %>> <%= sort_link_helper t(:label_responsible), :owner %> </th>
		<th <%= sort_td_class_helper :group %>> <%= sort_link_helper t(:label_group), :group %> </th>
		<th <%= sort_td_class_helper :projowner %>> <%= sort_link_helper t(:label_projowner), :projowner %> </th>
		<th <%= sort_td_class_helper :content_type %>> <%= sort_link_helper t(:label_content_type), :content_type %> </th>
		<th <%= sort_td_class_helper :created_at %>> <%= sort_link_helper t(:label_date), :created_at %> </th>
		<th <%= sort_td_class_helper :domain %>> <%= sort_link_helper t(:label_domain), :domain %> </th>
		<%end%>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% datafiles[:recordset].each do |datafile| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= icone(datafile) %>
		<%= h_thumbnails(datafile) %></td>
		<td> <%= link_to datafile.ident, datafile_path(datafile, :doc => (document.nil? ? nil : document.id)) %> </td>
		<td> <%= h datafile.revision %> </td>
		<td> <%= h datafile.typesobject.name_translate %> </td>
		<td> <% unless datafile.document.nil? %>
		<% unless datafile.document == document %>
		<%= link_to datafile.document.ident, document_path(datafile.document) %>
		<% else %>
		<%= datafile.document.ident unless datafile.document.nil? %>
		<% end %>
		<%end %>
		<% unless datafile.part.nil? %>
		<% unless datafile.part == part %>
		<%= link_to datafile.part.ident, part_path(datafile.part) %>
		<% else %>
		<%= datafile.part.ident unless datafile.part.nil?%>
		<% end %>
		<%end %>
		<% unless datafile.project.nil? %>
		<% unless datafile.project == project %>
		<%= link_to datafile.project.ident, project_path(datafile.project) %>
		<% else %>
		<%= datafile.project.ident unless datafile.project.nil?%>
		<% end %>
		<%end %>
		<% unless datafile.customer.nil? %>
		<% unless datafile.customer == customer %>
		<%= link_to datafile.customer.ident, customer_path(datafile.customer) %>
		<% else %>
		<%= datafile.customer.ident unless datafile.customer.nil?%>
		<% end %>
		<% end %> <td> <%= link_to "#{datafile.volume.name}.#{datafile.volume.protocol}", volume_path(datafile.volume) %> </td>
		<td><a href="<%= url_for(:controller=> 'datafiles',:action=>'show_file', :id => datafile.id) %>" title="<%= datafile.repository %>"><%= h datafile.filename %></a></td>
		<% if admin_logged_in?%>
		<td> <%= link_to datafile.owner.login, user_path(datafile.owner) %> </td>
		<td> <%= link_to datafile.group.name, group_path(datafile.group) %> </td>
		<td> <%= link_to datafile.projowner.ident, project_path(datafile.projowner) %> </td>

		<td> <% if datafile.content_type != nil %>
		<%= datafile.content_type[0..20] %>
		<%end %> </td>
		<td> <%= l datafile.updated_at %> </td>
		<td> <%= h datafile.domain %> </td>
		<%end%>
		<td> <% unless document.nil? %>
		<% unless datafile.filename.nil? %>
		<%= link_to h_img(:download), :id => datafile.id, :controller=> "datafiles", :action => :download_file %>
		<% else %>
		<%= h_img(:download_ko, t(:datafile_without_file)) %>
		<%end %>
		<% end %> </td>
		<% unless document.nil? %> <td> <%= link_to h_img_edit.to_s, edit_datafile_path(datafile, :doc => document.id) %> </td>
		<td> <%= button_to t(:destroy), datafile_path(datafile, :doc => document.id), :method => :delete, :confirm => t("msg_confirm") %> </td>
		<%else %>
		<td> <%= link_to h_img_edit.to_s, edit_datafile_path(datafile), :controller=> "datafiles" %> </td>
		<td> <%= h_destroy(datafile) %> </td>
		<%end %>
	</tr>
	<% end %>
</table>
