<h1><%=t(:datafile_edit) %></h1>
<% form_for(@datafile,
:html => { :multipart => true}) do |f| %>
<%= f.error_messages %>
<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("update") %>
        </td>
        <td>
            <%= link_to t("explorer"), @datafile %>
        </td>
        <td>
            <%= link_to t("list"), datafiles_path %>
        </td>
				<%if @document!=nil%>
        <td>
            <%= link_to t("document_show"), document_path(@document) %>
        </td>
        <%end%>
    </tr>
</table>
<%= render(:partial => "datafiles/edit_datafile",:locals => { :f => f, :fonct=>"edit", :document=>@document }) %>

<% end %>