<h1><%= t(:datafile_show) %></h1>
<% fonct="show" %>
<%= render(:partial => "shared/menu_show", :locals=>{:object =>@datafile, :fonct=>fonct}) %>
<%= form_for(@datafile, :html => { :id => h_form_html_id(@datafile, fonct) }) do |f| %>
<%= form_errors_for @datafile %>

<p>
	<b><%= t("label_ident") %></b>
	<%= h @datafile.ident %>
</p>
<p>
	<b><%= t("label_typesobject") %></b>
	<%= h @datafile.typesobject.name_translate unless @datafile.typesobject.nil? %>
</p>
<p>
	<b><%= t("label_revision") %></b>
	<%= h @datafile.revision %>
</p>
<p>
	<b><%= t("label_document") %></b>
	<%= h @datafile.document %>
</p>
<p>
	<b><%= t("label_part") %></b>
	<%= h @datafile.revision %>
</p>
<p>
	<b><%= t("label_project") %></b>
	<%= h @datafile.project %>
</p>
<p>
	<b><%= t("label_customer") %></b>
	<%= h @datafile.customer %>
</p>
<p>
	<b><%= t("label_volume") %></b>
	<%= link_to "#{@datafile.volume.name}.#{@datafile.volume.protocol}", volume_path(@datafile.volume) %>
</p>
<p>
	<b><%= t("label_filename") %></b>
	<%= h @datafile.filename %>
</p>
<p>
	<b><%= t("label_repository") %></b>
	<%= h @datafile.repository %>
</p>
<p>
	<b><%= t("label_content_type") %></b>
	<%= h @datafile.content_type %>
</p>
<p>
	<b><%= t("label_responsible") %></b>
	<%= h @datafile.owner.login %>
</p>
<p>
	<b><%= t("label_date") %></b>
	<%= l @datafile.updated_at %>
</p>
<%= h_type_values(@datafile, fonct) %>
<p>
	<b><%= t("label_domain") %></b>
	<%= h @datafile.domain %>
</p>
<% end %>

