<h1><%= t(:statusobjects_edit)%></h1>
<% fonct="edit" %>
<% form_for(@statusobject) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @statusobject, :f => f, :fonct=>fonct}) %>
<%= render(:partial => "statusobjects/edit",:locals => { :f => f, :fonct=>fonct }) %>
<%= render(:partial => "shared/submit_edit",:locals => { :object => @statusobject, :f => f, :fonct=>fonct}) %>
<% end %>