<h1><%= t(:statusobjects_list) %><%= h_count_objects(@statusobjects)%> </h1>
<% unless @statusobject.nil? %>
<% form_for(@statusobject) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= form_simple_query_helper('/statusobjects', @statusobjects) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_statusobject), new_statusobject_path %> </td>
		<td> <%= show_help("help_statusobjects") %> </td>
	</tr>
</table>
<%= will_paginate(@statusobjects[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper "id" %>> <%= sort_link_helper t(:label_id), "id" %> </th>
		<th <%= sort_td_class_helper "forobject" %>> <%= sort_link_helper t(:label_object), "forobject" %> </th>
		<th <%= sort_td_class_helper "typesobject_id" %>> <%= sort_link_helper t(:label_typesobject), "typesobject_id" %> </th>
		<th <%= sort_td_class_helper "name" %>> <%= sort_link_helper t(:label_name), "name" %> </th>
		<th <%= sort_td_class_helper "rank" %>> <%= sort_link_helper t(:label_rank), "rank" %> </th>
		<th <%= sort_td_class_helper "description" %>> <%= sort_link_helper t(:label_description), "description" %> </th>
		<th <%= sort_td_class_helper "promote" %>> <%= sort_link_helper t(:label_promote), "promote_id" %> </th>
		<th <%= sort_td_class_helper "demote" %>> <%= sort_link_helper t(:label_demote), "demote_id" %> </th>
		<th <%= sort_td_class_helper "revise" %>> <%= sort_link_helper t(:label_revise), "revise" %> </th>
		<th> <%= t(:label_next_status) %> </th>
		<th> <%= t(:label_previous_status) %> </th>
		<th <%= sort_td_class_helper "domain" %>> <%= sort_link_helper t(:label_domain), "domain" %> </th><th></th><th></th>
	</tr>
	<% @statusobjects[:recordset].each do |statusobject| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td> <%= h statusobject.id %> </td>
		<td> <%= h statusobject.forobject %> </td>
		<td> <%= h_explorer statusobject.typesobject, :name %> </td>
		<td> <%= h_explorer statusobject, :name %> </td>
		<td> <%= h statusobject.rank %> </td>
		<td> <%= h statusobject.description %> </td>
		<td> <%= h statusobject.promote %> </td>
		<td> <%= h statusobject.demote %> </td>
		<td> <%= h statusobject.revise %> </td>
		<td> <%= h statusobject.next_statusobjects.collect {|st| "#{st.name}"} %> </td>
		<td> <%= h statusobject.previous_statusobjects.collect {|st| "#{st.name}"} %> </td>
		<td> <%= h statusobject.domain %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_statusobject_path(statusobject) %> </td>
		<td> <%= link_to h_img_destroy.to_s, statusobject, :confirm => t(:msg_confirm), :method => :delete %> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@statusobjects[:recordset]) %> 
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_statusobject), new_statusobject_path %> </td>
		<td> <%= show_help("help_statusobjects") %> </td>
	</tr>
</table>