
<p>
    <b><%=t(:label_object) %></b>
    <%=h @statusobject.object %>
</p>
<p>
    <b><%=t(:label_name) %></b>
    <%=h @statusobject.name %>
</p>
<p>
    <b><%=t(:label_rank) %></b>
    <%=h @statusobject.rank %>
</p>
<p>
    <b><%=t(:label_description) %></b>
    <%=h @statusobject.description %>
</p>
<p>
    <b><%=t(:label_promote) %></b>
    <%=h @statusobject.promote %>
</p>
<p>
    <b><%=t(:label_demote) %></b>
    <%=h @statusobject.demote %>
</p>

<hr><h1><%=t(:document_list) %><%= @statusobject.documents.count %></h1>
<table>
    <tr>
        <th>
            <%=t(:label_id) %>
        </th>
        <th>
            <%=t(:label_ident) %>
        </th>
        <th>
            <%=t(:label_type) %>
        </th>
        <th>
            <%=t(:label_revision) %>
        </th>
        <th>
            <%=t(:label_designation) %>
        </th>
        <th>
            <%=t(:label_description) %>
        </th>
        <th>
            <%=t(:label_volume) %>
        </th>
        <th>
            <%=t(:label_status) %>
        </th>
        <th>
            <%=t(:label_responsible) %>
        </th>
        <th>
            <%=t(:label_date) %>
        </th>
        <th>
            <%=t(:label_filename) %>
        </th>
        <th>
            <%=t(:label_content_type) %>
        </th>
    </tr>
    <% @statusobject.documents.each do |document| %>
    <tr>
        <td>
            <%=h document.id %>
        </td>
        <td>
            <%=h document.ident %>
        </td>
        <td>
            <% if(document.typesobject != nil) %>
            <%=h document.typesobject.id %>:<%=h document.typesobject.name %>
            <% end %>
        </td>
        <td>
            <%=h document.revision %>
        </td>
        <td>
            <%=h document.designation %>
        </td>
        <td>
            <%=h document.description %>
        </td>
        <td>
            <% if(document.statusobject != nil) %>
            <%=h document.statusobject.id %>:<%=h document.statusobject.name %>
            <% end %>
        </td>
        <td>
            <%=h document.owner.login %>
        </td>
        <td>
            <%=h document.date %>
        </td>
        <table class='menu_bas'>
            <tr>
                <td>
                    <%= link_to t("explorer"), document %>
                </td>
            </tr>
        </table>
    </tr>
    <% end %>
</table>
<hr><h1><%=t(:customer_list) %><%= @statusobject.customers.count %></h1>
<table>
    <tr>
        <th>
            <%=t(:label_ident) %>
        </th>
        <th>
            <%=t(:label_type) %>
        </th>
        <th>
            <%=t(:label_designation) %>
        </th>
        <th>
            <%=t(:label_description) %>
        </th>
        <th>
            <%=t(:label_status) %>
        </th>
        <th>
            <%=t(:label_responsible) %>
        </th>
        <th>
            <%=t(:label_date) %>
        </th>
    </tr>
    <% @statusobject.customers.each do |customer| %>
    <tr>
        <td>
            <%=h customer.ident %>
        </td>
        <% if(customer.typesobject != nil) %>
        <td>
            <%=h customer.typesobject.id %>:<%=h customer.typesobject.name %>
        </td>
        <% else %>
        <td>
        </td>
        <% end %>
        <td>
            <%=h customer.designation %>
        </td>
        <td>
            <%=h customer.description %>
        </td>
        <% if(customer.statusobject != nil) %>
        <td>
            <%=h customer.statusobject.id %>:<%=h customer.statusobject.name %>
        </td>
        <% else %>
        <td>
        </td>
        <% end %>
        <td>
            <%=h customer.owner.login %>
        </td>
        <td>
            <%=h customer.date %>
        </td>
        <table class='menu_bas'>
            <tr>
                <td>
                    <%= link_to t("explorer"), customer %>
                </td>
            </tr>
        </table>
    </tr>
    <% end %>
</table>
<table class='menu_bas'>
    <tr>
        <td>
            <%= link_to t(:edit), edit_statusobject_path(@statusobject) %>
        </td>
        <td>
            <%= link_to t(:list), statusobjects_path %>
        </td>
    </tr>
</table>
