<h1>Editing roles_user</h1>

<% form_for(@roles_user) do |f| %>
  <%= f.error_messages %>

  <%= render(:partial => "roles_users/edit",:locals => { :f => f, :fonct=>"edit" }) %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @roles_user %> |
<%= link_to 'Back', roles_users_path %>