<h1>New roles_user</h1>

<%= form_for(@roles_user) do |f| %>
  <%= f.error_messages %>

 <%= render(:partial => "roles_users/edit",:locals => { :f => f, :fonct=>"new" }) %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', roles_users_path %>
