<table>
	<tr>
		<th> <%= t "label_ident" %></th>
		<th <%= sort_td_class_helper "event_type" %>	> <%= sort_link_helper t("label_event_type"), "event_type" %></th>
		<th <%= sort_td_class_helper "event_date" %>	> <%= sort_link_helper t("label_event_date"), "event_date" %></th>
		<th <%= sort_td_class_helper "responsible" %>	> <%= sort_link_helper t("label_responsible"), "responsible" %></th>
		<th <%= sort_td_class_helper "notify_date" %>	> <%= sort_link_helper t("label_notify_date"), "notify_date" %></th>
		<th <%= sort_td_class_helper "notify_users" %>	> <%= sort_link_helper t("label_notify_users"), "notify_users" %></th>
	</tr>
	<% @notifications[:recordset].each do |notification| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td>
		<%= h ("#{notification.forobject_type}.#{notification.forobject_id}") %> </td>
		<td> <%= h (notification.event_type) %></td>
		<td> <%= h (notification.event_date) %></td>
		<td> <%= h (notification.responsible.try(:login)) %></td>
		<td> <%= h (notification.notify_date) %></td>
		<td> <%= h (h_tr_messag(notification.notify_users)) %></td>
		<td> <%= link_to h_img_show.to_s, notification %></td>
		<td> <%= link_to h_img_edit.to_s, edit_notification_path(notification) %></td>
		<td> <%= h_destroy(notification) %></td>
		<td> <%= link_to h_img("btn_notify"), :action => :notify, :id => notification.id%></td>

	</tr>
	<% end %>
</table>
