<h1><%= t(:notification_edit) %></h1>
<% form_for(@notification) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "notifications/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<table class='menu_bas'>
	<tr>
		<td> <%= f.submit t(:update) %> </td>
		<td> <%= link_to t("explorer"), @notification %> </td>
		<td> <%= link_to t("list"), notifications_path %> </td>
	</tr>
</table>
<% end %> 