<h1><%= t(:notification_list) %><%= h_count_objects(@notifications) %></h1>

<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_notification"), new_notification_path %></td>
		<td> <%= link_to t("button_notify_all"), :confirm => t("msg_confirm"), :action => :notify, :id => 0%></td>
		<td> <%= show_help("help_notifications") %></td>
	</tr>
</table>

<%= form_simple_query_helper('/notifications', @notifications) %>

<%= will_paginate(@notifications[:recordset]) %>
<%= render(:partial => "notifications/index", :locals=>{:fonct=>"index"}) %>
<%= will_paginate(@notifications[:recordset]) %>
