<h1><%=t(:notification_list) %><%=h_count_objects(@notifications) %></h1>
<table class='menu_bas'>
  <tr>
    <td>
      <%= link_to t("new_notification"), new_notification_path %>
    </td>
    <td>
      <%= show_help("help_notifications") %>
    </td>
  </tr>
</table>
<%= form_simple_query_helper('/notifications', @notifications) %>
<%= will_paginate(@notifications[:recordset]) %>
<table>
  <tr>
  	<th<%= sort_td_class_helper "object_type" %>>
          <%= sort_link_helper t("label_object"), "object_type" %>
        </th>
        <th<%= sort_td_class_helper "object_id" %>>
          <%= sort_link_helper t("label_object_id"), "object_id" %>
        </th>
        <th<%= sort_td_class_helper "event_date" %>>
          <%= sort_link_helper t("label_event_date"), "event_date" %>
        </th>
        <th<%= sort_td_class_helper "event_type" %>>
          <%= sort_link_helper t("label_event_type"), "event_type" %>
        </th>
        <th<%= sort_td_class_helper "responsible" %>>
          <%= sort_link_helper t("label_responsible"), "responsible" %>
        </th>
        <th<%= sort_td_class_helper "notify_date" %>>
          <%= sort_link_helper t("label_notify_date"), "notify_date" %>
        </th>
    
  </tr>
<% @notifications[:recordset].each do |notification| %>
  <tr>
    <td><%=h notification.object_type %></td>
    <td><%=h notification.object_id %></td>
    <td><%=h notification.event_date %></td>
    <td><%=h notification.event_type %></td>
    <td><%=h notification.responsible.login %></td>
    <td><%=h notification.notify_date %></td>
    <td><%= link_to h_img_show.to_s, notification %></td>
    <td><%= link_to h_img_edit.to_s, edit_notification_path(notification) %></td>
    <td><%= link_to h_img_destroy.to_s, notification, :confirm => t("msg_confirm"), :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate(@notifications[:recordset]) %>
