<h1><%= t(:notification_list) %><%= h_count_objects(@notifications) %></h1>
<%= form_simple_query_helper('/notifications', @notifications) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_notification"), new_notification_path %></td>
		<td> <%= link_to t("button_notify_all"), :action => :notify, :id => "all"%></td>
		<td> <%= show_help("help_notifications") %></td>
	</tr>
</table>
<%= will_paginate(@notifications[:recordset]) %>
<%= render(:partial => "notifications/index", :locals=>{:fonct=>"index"}) %>
<%= will_paginate(@notifications[:recordset]) %> 
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_notification"), new_notification_path %></td>
		<td> <%= link_to t("button_notify_all"), :action => :notify, :id => "all"%></td>
		<td> <%= show_help("help_notifications") %></td>
	</tr>
</table>