<h1><%= t("group_edit") %><%= h @group.name %></h1>
<% form_for(@group) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "groups/edit",:locals => { :f => f, :fonct=>"edit" }) %>

<%= render(:partial => "shared/menu_edit",:locals => { :object => @group, :f => f}) %>
<% end %> 