<h1><%= t("group_edit") %><%= h @group.name %></h1>
<% fonct="edit" %>
<%= form_for(@group) do |f| %>
<%= form_errors_for @group %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @group, :f => f, :fonct=>fonct}) %>
<%= render(:partial => "groups/edit",:locals => {:object => @group, :f => f, :fonct=>fonct }) %>
<%= render(:partial => "shared/submit_edit",:locals => { :object => @group, :f => f, :fonct=>fonct}) %>
<% end %>