<h1><%= t("group_list") %></h1>
<%= h_form_simple_query('/groups', @groups) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_group"), new_group_path %></td>
		<td> <%= show_help("help_groups") %></td>
	</tr>
</table>
<%= will_paginate(@groups[:recordset]) %>
<table>
	<table class='coll'>
		<thead>
			<tr>
				<th <%= sort_td_class_helper "name" %>> <%= sort_link_helper t("label_name"), "name" %></th>
				<th <%= sort_td_class_helper "internal" %>> <%= sort_link_helper t("label_domain"), "internal" %></th>
				<th> <%= t("label_group_users") %></th>
				<th> <%= t("label_group_father") %></th><th></th>
				<th></th>
			</tr>
		</thead>
		<% for group in @groups[:recordset] %>
		<tr class='<%= cycle("even", "odd") %>'>
			<td><%= h_explorer group, :name %><%= h_show_translate group.name_translate %></td>
			<td><%= group.domain %></td>
			<td><%= comma_links(group.users, :login) %></td>
			<td><%= h_explorer group.father, :name unless group.father.nil?%><%= h_show_translate group.father.name_translate unless group.father.nil?%></td>
			<td><%= link_to h_img_edit.to_s, edit_group_path(group) %> </td><td><%= link_to h_img_destroy.to_s, group, :confirm => t("msg_confirm"), :method => :delete %> </td>
			<td> <%= link_to h_img(:duplicate), new_dup_group_path(group) %> </td>
		</tr>
		<% end %>
	</table>
	<table class='menu_bas'>
		<tr>
			<td> <%= link_to t("new_group"), new_group_path %></td>
			<td> <%= show_help("help_groups") %></td>
		</tr>
	</table>
