<h1><%= t("group_new") %></h1>
<% form_for(@group) do |f| %>
<%= f.error_messages %>
<fieldset>
	<legend>
		<%= t(:legend_group) %>
	</legend>
	<%= f.label t("label_name") %>
	<%= f.text_field :name %>
	<br/>
</fieldset>
<table class='menu_bas'>
	<tr>
		<td> <%= f.submit t("create") %> </td>
		<td> <%= link_to t("list"), groups_path %> </td>
	</tr>
</table>
<% end %> 