<h1><%= t("group_show") %><%= h @group.name %></h1>
<table>
  <tr>
    <td class="wide-first-col">id</td>
    <td><%= h @group.id %></td>
  </tr>
  <tr>
    <td><%= t("label_name") %></td>
    <td><%= h @group.name %></td>
  </tr>
  <tr>
    <td><%= t("label_members") %></td>
    <td><%= comma_list(@group.users, :login) %></td>
  </tr>
  
</table>
<table class='menu_bas'>
<tr>
<td><%= link_to t("edit"), edit_group_path(@group)  %></td>
<td><%= link_to t("list"),  groups_path %></td>
</tr>
</table

