<h1><%= t("group_show") %><%= h @group.name %></h1>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @group, :fonct=>"show"}) %>
<table>
	<tr>
		<td class="wide-first-col">id</td>
		<td><%= @group.id %></td>
	</tr>
	<tr>
		<td><%= t("label_name") %></td>
		<td><%= @group.name_translate %></td>
	</tr>
	<tr>
		<td><%= t("label_group_users") %></td>
		<td><%= comma_links(@group.users, :login) %></td>
	</tr>
	<tr>
		<td><%= t("label_group_father") %></td>
		<td><%= @group.father_name %></td>
	</tr>
</table>

