<h1><%= t(:legend_user) %></h1>
<% if fonct != "account_edit" %>
<% if @types != nil %>
<%= h_edit_type_object(f, object, @types) %>
<% end %>
<% end %>
<label for="user_name"> <%= t(:label_login) %> </label>
<%= f.text_field :login, :size => 40 %>
<br/>
<label for="user_first_name"> <%= t(:label_first_name) %> </label>
<%= f.text_field :first_name, :size => 40 %>
<br/>
<label for="user_last_name"> <%= t(:label_last_name) %> </label>
<%= f.text_field :last_name, :size => 40 %>
<br/>
<% if fonct == "add" || fonct == "new" %> <label for="user_password"> <%= t(:label_password) %> </label>
<%= f.password_field :password, :size => 40 %>
<br/>
<label for="user_password_confirmation"> <%= t(:label_confirm_password) %> </label>
<%= f.password_field :password_confirmation, :size => 40 %>
<br/>
<% end %>
<%= f.label t(:label_email) %>
<%= f.text_field :email, :size => 40 %>
<br/>
<%= f.label t(:label_language) %>
<%= f.select(:language, options_for_select(@languages)) %>
<br/>
<%= f.label t(:label_volume) %>
<%= f.collection_select(:volume_id, @volumes, :id, :name) %>
<br/>
<% if fonct != "account_edit" %>
<% if @themes != nil %>
<%= f.label t(:label_theme) %>
<%= f.select(:theme,options_for_select(@themes)) %>
<br/>
<% end %>
<% end %>

<%= f.label t(:label_subscription) %>
<%= f.collection_select(:subscription_id, @subscriptions, :id, :name) %>
<br/>

<%= f.label t(:label_time_zone) %>
<%= f.select(:time_zone, options_for_select(User.time_zones, @the_user.time_zone), :include_blank => true) %>
<br/>

<%= f.label t(:label_last_revision) %>
<%= check_box(:user,:last_revision,{:checked => (@the_user.last_revision==true ? "checked" : "false")} ) %>
<br/>
<br/>

<%= f.label t(:label_check_automatic) %>
<%= check_box(:user,:check_automatic,{:checked => (@the_user.check_automatic==true ? "checked" : "false")}) %>
<br/>
<br/>

<%= f.label t(:label_show_mail) %>
<%= check_box(:user,:show_mail,{:checked => (@the_user.show_mail==true ? "checked" : "false")}) %>
<br/>
<br/>

<% if fonct != "account_edit"%> <label for="user_roles"> <%= t(:label_roles) %> </label>
<%= select_inout(f, @the_user, @roles, :title) %>
<br/>

<label for="user_groups"> <%= t(:label_groups) %> </label>
<%= select_inout(f, @the_user, @groups, :name) %>
<br/>

<label for="user_projects"> <%= t(:label_projects) %> </label>
<%= select_inout(f, @the_user, @projects, :ident) %>
<br/>
<%= h_input_domain(f) %>
<br />
<% else %>

<% end %>
<%= h_type_values(@the_user, fonct) %>

