<fieldset>
	<legend>
		<%= t(:legend_user) %>
	</legend>
	<p>
		<label for="user_name">
			<%= t(:label_username) %>
		</label>
		<%= form.text_field :login, :size => 40 %>
	</p>
	<p>
		<label for="user_password">
			<%= t(:label_password) %>
		</label>
		<%= form.password_field :password, :size => 40 %>
	</p>
	<p>
		<label for="user_password_confirmation">
			<%= t(:label_confirm_password) %>
		</label>
		<%= form.password_field :password_confirmation, :size => 40 %>
	</p>
	<p>
		<label for="user_first_name">
			<%= t(:label_first_name) %>
		</label>
		<%= form.text_field :first_name, :size => 40 %>
	</p>
	<p>
		<label for="user_last_name">
			<%= t(:label_last_name) %>
		</label>
		<%= form.text_field :last_name, :size => 40 %>
	</p>
	<p>
		<%= form.label t(:label_roles) %>
		</br>
		<% @roles.each do |role| %>
		<% if(@the_user.roles.count(:all, :conditions=>["id=#{role.id}"])>0) %>
		<%= check_box(:role_id,role.id,{:checked=>"checked"}) %><%= role.title %>
		<% else %>
		<%= check_box(:role_id,role.id) %><%= role.title %>
		<% end %>
		<% end %>
	</p>
	<p>
		<%= form.label t(:label_email) %>
		<%= form.text_field :email, :size => 40 %>
	</p>
	<p>
		<b><%= form.label t(:label_language) %></b>
		<%= form.select(:language, options_for_select(@languages)) %>
	</p>
	<p>
		<b><%= form.label t(:label_volume) %></b>
		<%= form.collection_select(:volume_id, @volumes, :id, :name) %>
	</p>
	<% if @themes != nil %>
	<p>
		<b><%= form.label t(:label_theme) %></b>
		<%= form.select(:theme,options_for_select(@themes)) %>
	</p>
	<% end %>
	<p>
		<b><%= form.label t(:label_notification) %></b>
		<%= form.select(:notification, options_for_select(@notifications)) %>
	</p>
	<p>
		<b><%= form.label t(:label_time_zone) %></b>
		<%= form.select(:time_zone, options_for_select(User.time_zones, @the_user.time_zone), :include_blank => true) %>
	</p>
	<p>
		<% if @current_user.show_mail==true %>
		<%= check_box(:user,:show_mail,{:checked=>"checked"}) %>
		<%else%>
		<%= check_box(:user,:show_mail) %>
		<%end%>
		<b><%= t(:label_show_mail) %></b>
	</p>
</fieldset>
