<h1><%= t(:account_edit, :login => current_user.login) %></h1>
<% form_for(@the_user, :url => {:controller=>:users , :action=>:account_update})  do |form| %>
<%= form.error_messages %>
<fieldset>
	<legend>
		<%= t(:legend_user) %>
	</legend>
	<%= render(:partial => "users/edit",:locals => { :form => form, :fonct => "account_edit" }) %>
	<table class='menu_bas'>
		<tr>
			<td> <%= form.submit t("update") %> </td>
		</tr>
	</table>
</fieldset>
<%end%>

<% form_for :session, :url => {:controller => :sessions , :action => :login}  do |form| %>
<%= hidden_field_tag :user_id , @current_user.id %>
<fieldset>
	<legend>
		<%= t(:legend_context) %>
	</legend>
	<%= render(:partial => "shared/session_context",:locals => { :form => form}) %>
	<table class='menu_bas'>
		<tr>
			<td> <%= submit_tag t(:submit_login) %> </td>
		</tr>
	</table>
</fieldset>
<% end %> 