<h1><%= t(:account_edit, :login => current_user.login) %></h1>
<% fonct = "account_edit" %>
<%= form_for(@the_user, :url => {:controller=>:users , :action=>:account_update}, :html => { :id => h_form_html_id(@the_user, fonct) })  do |f| %>
<%= form_errors_for @the_user %>
<h1><%= t(:legend_user) %></h1>
<%= hidden_field_tag :user_action , fonct %>
	<%= render(:partial => "users/edit",:locals => { :f => f, :fonct => fonct}) %>
	<table class='menu_toolbar'>
		<tr>
			<td> <%= f.submit t("update") %> </td>
		</tr>
	</table>
<%end%>

<%= form_for :session, :url => {:controller => :sessions , :action => :login}  do |f| %>
<%= hidden_field_tag :user_id , @current_user.id %>
<h1><%= t(:legend_context) %></h1>
	<%= render(:partial => "shared/session_context",:locals => { :form => f}) %>
	<table class='menu_toolbar'>
		<tr>
			<td> <%= submit_tag t(:submit_login) %> </td>
		</tr>
	</table>
<% end %>