<h1><%= t(:user_edit) %></h1>
<% fonct="edit" %>
<% form_for @the_user, :html => { :id => h_form_html_id(@the_user, fonct) } do |form| %>
<%= form.error_messages %>
<fieldset>
	<legend>
		<%= t(:legend_user) %>
	</legend>
	<%= render(:partial => "users/edit",:locals => { :form => form, :fonct => fonct }) %>
	<%= render(:partial => "shared/menu_edit",:locals => { :object => @the_user, :f => f}) %>

</fieldset>
<%end %>

