<h1><%= t(:user_edit_password) %></h1>
<% form_for(@the_user, :url => {:controller=>:users , :action=>:update_password})  do |form| %>
<%= form.error_messages %>
<fieldset>
	<legend>
		<%= t(:legend_user) %>
	</legend>
	<label for="user_name"> <%= t(:label_login) %> </label>
	<%= form.text_field :login, :size => 40 , :readonly => :true %>
	<br/>
	<label for="user_first_name"> <%= t(:label_first_name) %> </label>
	<%= form.text_field :first_name, :size => 40  %>
	<br/>
	<label for="user_last_name"> <%= t(:label_last_name) %> </label>
	<%= form.text_field :last_name, :size => 40 %>
	<br/>
	<%= form.label t(:label_email) %>
	<%= form.text_field :email, :size => 40 %>
	<br/>
	<label for="user_password"> <%= t(:label_password) %> </label>
	<%= form.password_field :password, :size => 40 %>
	<br/>
	<label for="user_password_confirmation"> <%= t(:label_confirm_password) %> </label>
	<%= form.password_field :password_confirmation, :size => 40 %>
</fieldset>
<table class='menu_bas'>
	<tr>
		<td> <%= form.submit t("update") %> </td>
		<td> <%= link_to t("list"), users_path %> </td>
	</tr>
</table>
<%end%>