<h1><%= t(:user_list) %><%= h_count_objects(@current_users)%> </h1>
<% unless @user.nil? %>
<% form_for(@user) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>

<%= h_form_simple_query('/users',@current_users) %>

<% unless param_equals?("todo", "select") %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_user"), new_user_path %></td>
		<td> <%= show_help("help_users") %></td>
	</tr>
</table>
<% end %>
<%= render(:partial => "users/index",:locals => { :fonct => "index_users"}) %>

<% unless param_equals?("todo", "select") %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_user"), new_user_path %></td>
		<td> <%= show_help("help_users") %></td>
	</tr>
</table>
<% end %> 