<h1><%= t(:user_list) %><%= h_count_objects(@current_users)%> </h1>
<% unless @user.nil? %>
<% form_for(@user) do |f| %>
<%= f.error_messages %>
<% end %>
<% else %>

<%= h_form_simple_query('/users',@current_users) %>
<% form_tag({:controller=>:users, :action=>:index_execute}) do %>
<% unless param_equals?("todo", "select") %>
<%= h_menu_index_action("user")%>
<% end %>
<%= render(:partial => "users/index",:locals => { :fonct => "index_users"}) %>

<% unless param_equals?("todo", "select") %>
<%= h_menu_index_action("user")%>
<% end %>
<% end %>
<% end %>