<h1><%= t(:user_show) %></h1>
<% fonct="show" %>
<%= form_for(@the_user, :html => { :id => h_form_html_id(@the_user, fonct) }) do |f| %>
<%= form_errors_for @the_user %>
<%= render(:partial => "shared/menu_show",:locals => { :object => @the_user, :fonct => fonct, :f => f }) %>
<%= render(:partial => "users/"+fonct,:locals => { :user => @the_user, :fonct => fonct, :f => f }) %>
<% end %>
