<!-- attention:
	ne pas faire de formattage auto sur ce fichier, le javascript est mal decoupe
	options:
		- class
		- buttons=>position
		- buttons=>all
		- buttons=>none
		- read-only
	-->
	<script src="/javascripts/application.js"></script>
	<script src="/javascripts/ruote-forms.js"></script>
<script src="/javascripts/fluo-json.js"></script>
<script src="/javascripts/forms-ext.js"></script>
<table class='menu_toolbar'>
	<tr>
		<td><span><a id='button_swap' href="" onclick="swapForm( '<%=t(:button_swap_values)%>', '<%=t(:button_swap_code)%>'); return false;"><%= t(:button_swap_code)%></a></span></td>
		<!--
			<td><span id="rf_buttons"><a href="" onclick="RuoteForms.resetForm('rform'); return false;"><%= t(:button_reset)%></a><a href="" onclick="RuoteForms.undo('rform'); return false;"><%= t(:button_undo)%></a></span></td>
		-->
		<td><span id="rf_buttons"></span></td>

	</tr>
</table>
<div id="fields_ta" style="display: none;">
	<textarea id="fields" name="<%= textarea_name %>"><%= fields -%></textarea>
</div>
<div id="fields_rf">
	<div id="rform"></div>
</div>
<% if fields.nil? || fields.empty? || fields=="\"\""
    fields = {}.to_json
  end %>
<div class="fieldhead">
	<script>
byId('<%= form_id ||= "fields" %>').onsubmit = function () { swapForm('<%=t(:button_swap_values)%>', '<%=t(:button_swap_code)%>'); return true;};
<% args="#{fields}" %>
<%unless options.nil?
	 args<<",#{options}"
	 end%>
	RuoteForms.renderForm('rform', <%=raw(args)%>);
	</script>

</div>
