<% button_demote=a_object.demote_button?
button_promote=a_object.promote_button?
prevs = a_object.statusobject.previous_statusobjects
nexts = a_object.statusobject.next_statusobjects
button_revise = a_object.revise_button? %>
<fieldset>
	<legend>
		<%= t(:legend_edit_lifecycle)%>
	</legend>
	<table>
		<!--titles-->
		<tr>
			<td><b> <%= t("label_previous_status")%> </b></td>
			<td><b> <%= t("label_status")%> </b></td>
			<td><b> <%= t("label_next_status")%> </b></td>
		</tr>
		<!--select-->
		<tr>
			<td> <% unless a_object.statusobject.nil? || button_demote.nil?%>
			<%= a_form.collection_select(:previous_status_id, prevs, :id, :name) %>
			<%end%> </td>
			<td> <% unless a_object.statusobject.nil? %>
			<% stval = a_object.statusobject.name %>
			<% end %>
			<%= text_field_tag( :status, stval, :readonly => true) %> </td>
			<td> <% unless a_object.statusobject.nil? || button_promote.nil? %>
			<%= a_form.collection_select(:next_status_id,  nexts, :id, :name) %>
			<% end %> </td>
		</tr>
		<!--submit buttons-->
		<tr>
			<td> <% unless button_demote.blank? %>
			<%= a_form.submit t(button_demote) %>
			<% end %> </td>
			<td> <% if a_object.frozen? %>
			<%= t(:freeze) %>
			<% end %> </td>
			<td> <% unless button_promote.blank? %>
			<%= a_form.submit t(button_promote) %>
			<% end %> </td>
	</table>
</fieldset>
<fieldset>
	<legend>
		<%= t(:legend_edit_revision)%>
	</legend>
	<br/>
	<table>
		<tr>
			<td> <% unless button_revise.blank? %>
			<%= a_form.submit t(button_revise) %>
			<% else %>
			<%= t(:not_revisable) %>
			<% end %> </td>
		</tr>
	</table>
</fieldset>
