<% puts "menu_common:filter_types=#{@myparams[:filter_types]}" %>
<%= hidden_field_tag("filter_types" , @myparams["filter_types"]) unless @myparams.nil? %>
<% if object.respond_to? :document %>
<% unless object.document.nil? %> <td> <%= link_to t("document_show"), document_path(object.document) %> </td>
<% end %>
<% end %>

<% if object.respond_to? :part %>
<% unless object.part.nil? %> <td> <%= link_to t("part_show"), part_path(object.part) %> </td>
<% end %>
<% end %>

<% if object.respond_to? :project %>
<% unless object.project.nil? %> <td> <%= link_to t("project_show"), project_path(object.project) %> </td>
<% end %>
<% end %>

<% if object.respond_to? :customer %>
<% unless object.customer.nil? %> <td> <%= link_to t("customer_show"), project_path(object.customer) %> </td>
<% end %>
<% end %>

<% if Controller.route_exists?(object.controller_name, "reset_passwd")
begin %>
<td> <%= link_to t(:reset_passwd), {:controller=>"users", :action=>"reset_passwd", :id=>object.id} %> </td>
<% rescue Exception=>e
end
end %>

<% if fonct=="doc_new" %>
<td> <%= link_to t("customer_show"), customer_path(@object_plm) unless @object_plm.nil? %>
<%= link_to t("document_show"), document_path(@object_plm) unless @object_plm.nil? %>
<%= link_to t("part_show"), part_path(@object_plm) unless @object_plm.nil? %>
<%= link_to t("project_show"), project_path(@object_plm) unless @object_plm.nil? %> </td>
<td> <%= link_to t("list"), datafiles_path %> </td>
<% else %>
<td> <%= link_to t("list"), {:controller=>object.controller_name, :action=>"index"} %></td>
<%end%>