<% workitems = object_workitems.get_workitems
if workitems.any? %>
  <h1><%= t("workitems_list") %> : <%= current_user.login %></h1>
  <%= render "workitems/workitems", :object => workitems %>
<% end %>
<% histories = object_workitems.get_histories
if histories.any? %>
  <h1><%= t("history_list") %> : <%= current_user.login %></h1>
  <%= render "history/histories", :object => histories %>
<% end %>
