<script src="/javascripts/ruote-forms.js"></script>
<script>
	linkToCss('ruote-forms');
	function swapForm() {
		var fta = byId('fields_ta');
		var ffl = byId('fields');
		var frf = byId('fields_rf');
		var brf = byId('rf_buttons');
		if (fta.style.display == 'block') {
			RuoteForms.renderForm('rform', fluoFromJson(ffl.value));
			fta.style.display = 'none';
			frf.style.display = 'block';
			brf.style.display = 'inline';
		} else {
			ffl.value = RuoteForms.toJson('rform');
			fta.style.display = 'block';
			frf.style.display = 'none';
			brf.style.display = 'none';
		}
	}
</script>

		<%=  t(:label_definitions_attributs) %> <a id='button_swap'  href="#" onclick="swapForm('<%=t(:button_swap_values)%>', '<%=t(:button_swap_code)%>'); return false;"> <%=  t(:button_swap_code)%></a>
		<span id="rf_buttons"> <a href="#" onclick="RuoteForms.resetForm('rform'); return false;"> <%=  t(:button_reset)%><a href="" onclick="RuoteForms.undo('rform'); return false;"> <%=  t(:button_undo)%></a></span>

	<div id="fields_ta" style="display: none;">
		<textarea id="fields" name="<%= textarea_name ||= 'fields' %>"><%= fields.to_json -%></textarea>
	</div>
	<div id="fields_rf">
		<div id="rform"></div>
	</div>
	<div class="fieldhead">
		<script>
			byId('<%= form_id ||= 'workitem_form' %>').onsubmit = function () {
				swapForm('<%=t(:button_swap_values)%>', '<%=t(:button_swap_code)%>');
				return true;
			};
			RuoteForms.renderForm('rform',<%= fields.to_json %>);
		</script>
	</div>
