<% unless User.count == 0 || @datas.nil? %> <h1><%= t(:datas_in_database) %></h1>
<table>
	<tr>
		<% @datas.each do |domain, values| %> <th> <%= t("ctrl_#{domain}") %></th>
		<% end %>
	</tr>
	<tr>
		<% @datas.each do |domain, values| %>
		<td>
		<table>
			<% @datas[domain].each do |key, value| %>
			<tr class='<%= cycle("even", "odd") %>'>
				<%puts "domain=#{domain} key=#{key} value=#{value}"%>
				<td> <%= @datas[domain][key] %></td>
				<td> <%= link_to t("ctrl_#{key}") ,{:controller=>get_controller_from_model_type(key), :action=>"index"}   %></td>
			</tr>
			<% end %>
		</table></td>
		<% end %>
	</tr>
</table>
<% end %>