<h1><%=t(:legend_link_duplication, :object_orig => object)%></h1>
<% if object.respond_to? :links_documents %>
<h2><%= object.links_documents.count %> <%= t(:label_assoc_documents) %></h2>
<table class='menu_bas'>
	<% links=object.links_documents %>
	<% if links.count>0 %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= check_box_tag("all[document]","document", {:checked => 'checked'},{ :onchange=>'switchCheckBox(this);'}) %><%= t(:switch_all_links) %></td>
	</tr>
	<% links.each do |lnk| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= check_box_tag("links[document][]","#{lnk.id}", {:checked => 'checked'}) %><%= lnk.child %></td>
	</tr>
	<% end %>
	<% end %>
</table>
<% end %>

<% if object.respond_to? :links_parts %>
<h2><%= object.links_parts.count %> <%= t(:label_assoc_parts) %></h2>
<table class='menu_bas'>
	<% links=object.links_parts %>
	<% if links.count>0 %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= check_box_tag("all[part]","part", {:checked => 'checked'},{ :onchange=>'switchCheckBox(this);'}) %><%= t(:switch_all_links) %></td>
	</tr>
	<% links.each do |lnk| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= check_box_tag("links[part][]","#{lnk.id}", {:checked => 'checked'}) %><%= lnk.child %></td>
	</tr>
	<% end %>
	<% end %>
</table>
<% end %>

<% if object.respond_to? :links_projects %>
<h2><%= object.links_projects.count %> <%= t(:label_assoc_projects) %></h2>
<table class='menu_bas'>
	<% links=object.links_projects %>
	<% if links.count>0 %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= check_box_tag("all[project]","project", {:checked => 'checked'},{ :onchange=>'switchCheckBox(this);'}) %><%= t(:switch_all_links) %></td>
	</tr>
	<% links.each do |lnk| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= check_box_tag("links[project][]","#{lnk.id}", {:checked => 'checked'}) %><%= lnk.child %></td>
	</tr>
	<% end %>
	<% end %>
</table>
<%end%>

<% if fonct != "new_dup" %>

<% if object.respond_to? :documents_up %>
<h2><%= object.documents_up.count %> <%= t(:label_assoc_documents_up) %></h2>
<table class='menu_bas'>
	<% object.documents_up.each do |obj| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= obj %></td>
	</tr>
	<% end %>
</table>
<% end %>

<% if object.respond_to? :parts_up %>
<h2><%= object.parts_up.count %> <%= t(:label_assoc_parts_up) %></h2>
<table class='menu_bas'>
	<% object.parts_up.each do |obj| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= obj %></td>
	</tr>
	<% end %>
</table>
<% end %>

<% if object.respond_to? :projects_up %>
<h2><%= object.projects_up.count %> <%= t(:label_assoc_projects_up) %></h2>
<table class='menu_bas'>
	<% object.projects_up.each do |obj| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= obj %></td>
	</tr>
	<% end %>
</table>
<% end %>

<% if object.respond_to? :customers_up %>
<h2><%= object.customers_up.count %> <%= t(:label_assoc_customers_up) %></h2>
<table class='menu_bas'>
	<% object.customers_up.each do |obj| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= obj %></td>
	</tr>

	<% end %>
</table>
<% end %>

<%end%>
