<% unless workitem.nil? %>
<% if admin_logged_in?%>
	<label>id</label>
	<%= h workitem.id %>
</br>
<%end%>
	<label><%= t(:label_wfid)%></label>
	<%= h workitem.wfid %>
</br>
	<label><%= t(:label_position)%></label>
	<%= h workitem.full_fei.expname %> <%= h workitem.full_fei.expid %>
</br>
	<label><%= t(:label_workflow)%></label>
	<%= h workitem.wfname %> <%= h workitem.wfrevision %>
</br>
	<label><%= t(:label_dispatch_time)%></label>
	<%= display_time(workitem, :dispatch_time) %>
</br>
	<label><%= t(:label_updated_at)%></label>
	<%= display_time(workitem, :last_modified) %>
</br>
<% end %>
