<h1>Listing partslinks</h1>

<table>
  <tr>
    <th>Father</th>
    <th>Child</th>
    <th>Designation</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Responsible</th>
    <th>Group</th>
    <th>Date</th>
  </tr>

<% @partslinks.each do |partslink| %>
  <tr>
    <td><%=h partslink.father_id %></td>
    <td><%=h partslink.child_id %></td>
    <td><%=h partslink.designation %></td>
    <td><%=h partslink.description %></td>
    <td><%=h partslink.quantity %></td>
    <td><%=h partslink.responsible %></td>
    <td><%=h partslink.group %></td>
    <td><%=h partslink.date %></td>
    <td><%= link_to 'Show', partslink %></td>
    <td><%= link_to 'Edit', edit_partslink_path(partslink) %></td>
    <td><%= link_to 'Destroy', partslink, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New partslink', new_partslink_path %>