<p>
  <b>Father:</b>
  <%=h @partslink.father_id %>
</p>

<p>
  <b>Child:</b>
  <%=h @partslink.child_id %>
</p>

<p>
  <b>Designation:</b>
  <%=h @partslink.designation %>
</p>

<p>
  <b>Description:</b>
  <%=h @partslink.description %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @partslink.quantity %>
</p>

<p>
  <b>Responsible:</b>
  <%=h @partslink.responsible %>
</p>

<p>
  <b>Group:</b>
  <%=h @partslink.group %>
</p>

<p>
  <b>Date:</b>
  <%=h @partslink.date %>
</p>


<%= link_to 'Edit', edit_partslink_path(@partslink) %> |
<%= link_to 'Back', partslinks_path %>