<h1><%= t(:legend_customer) %></h1>
<%= h_edit_type_object(f, object, @types) %>
<%= f.label t("label_ident") %>
<%= f.text_field :ident %>
<br/>
<%= f.label t("label_designation") %>
<%= f.text_field :designation %>
<br/>
<%= f.label t("label_description") %>
<%= f.text_area :description , :rows => 10 %>
<br/>
<%= f.label t(:label_responsible) %>
<%= select_in_list(:customer, :owner, object.owner.login, :users) %>
<br/>
<%= f.label t("label_date") %>
<%= f.date_select :date %>
<br/>
<%= h_input_domain(f) %>
<%= h_type_values(object, fonct) %>
