<h1><%= t(:customer_list) %><%= h_count_objects(@object_plms) %></h1>
<% unless @object_plm.nil? %>
	<%= form_for(@object_plm) do |f| %>
	<%= form_errors_for @object_plm %>
<% end %>
<% end %>
<%= h_form_simple_query('/customers', @object_plms) %>
<%= form_tag({:controller=>:customers, :action=>:index_execute}) do %>
	<% unless param_equals?("todo", "select") %>
		<%= h_menu_index_action("customer")%>
	<%end%>
	<% if @myparams[:list_mode] == t(:list_mode_icon) %>
		<%= h_thumbnails_objs @object_plms %>
	<% else %>
		<%= will_paginate(@object_plms[:recordset]) %>
		<table>
			<tr>
				<th><%= h_img(:label_icon) %></th>
				<th <%= sort_td_class_helper "ident" %>> <%= sort_link_helper t("label_ident"), "ident" %> </th>
				<th <%= sort_td_class_helper "typesobject_id" %>> <%= sort_link_helper t("label_typesobject"), "typesobject_id" %> </th>
				<th <%= sort_td_class_helper "designation" %>> <%= sort_link_helper t("label_designation"), "designation" %> </th>
				<th <%= sort_td_class_helper "statusobject_id" %>> <%= sort_link_helper t("label_statusobject"), "statusobject_id" %> </th>
				<th <%= sort_td_class_helper "owner" %>> <%= sort_link_helper t("label_responsible"), "owner_id" %> </th>
				<th <%= sort_td_class_helper "group" %>> <%= sort_link_helper t("label_group"), "group_id" %> </th>
				<th <%= sort_td_class_helper "projowner" %>> <%= sort_link_helper t("label_projowner"), "projowner_id" %> </th>
				<th <%= sort_td_class_helper "date" %>> <%= sort_link_helper t("label_date"), "date" %> </th>
				<th <%= sort_td_class_helper "domain" %>><%= sort_link_helper t("label_domain"), "domain" %></th>
				<th></th><th></th>
				<th></th><th></th>
				<th></th><th></th>
			</tr>
			<% @object_plms[:recordset].each do |customer| %>
				<tr class='<%= cycle("even", "odd") %>'>
					<td> <%= icone(customer) %> </td>
					<td> <%= h_explorer customer %> </td>
					<td> <%= h_explorer customer.typesobject, :name_translate unless customer.typesobject.nil? %> </td>
					<td> <%= h customer.designation %> </td>
					<td> <%= h_explorer customer.statusobject, :name_translate unless customer.statusobject.nil? %> </td>
					<td> <%= h_explorer customer.owner, :login %> </td>
					<td> <%= h_explorer customer.group, :name_translate %> </td>
					<td> <%= h_explorer customer.projowner %> (<%= customer.projowner.typeaccess.name_translate unless customer.projowner.typeaccess.nil? %>)</td>
					<td> <%= l customer.date %> </td>
					<td> <%= h customer.domain %> </td>
					<% unless param_equals?("todo", "select") %>
						<td> <%= link_to h_img_edit.to_s, edit_customer_path(customer) %> </td>
						<td> <%= link_to h_img_edit_lifecycle.to_s, {:controller=>"customers", :action=>"edit_lifecycle", :id => customer.id} %> </td>
						<td> <%= link_to h_img(:duplicate), new_dup_customer_path(customer) %> </td>
						<td> <%= link_to h_img(:copy), add_clipboard_customer_path(customer), remote: true  if logged_in? %></td>
						<td><%= h_destroy(customer) %></td>
						<td><%= check_box(:action_on,customer.id) %></td>
						<% if customer.revisable?  %>
							<td> <%= h_img_revise.to_s %></td>
						<% end %>
					<% else %>
						<td><%= select_button(customer)%> </td>
					<%end%>
				</tr>
			<% end %>
		</table>
	<% end %>
	<%= will_paginate(@object_plms[:recordset]) %>
	<% unless param_equals?("todo", "select") %>
		<%= h_menu_index_action("customer")%>
	<%end%>
<%end%>
