<h1><%= t(:lifecycle_edit, :model => t(@customer.model_name), :obj => @customer.to_s) %></h1>
<% fonct="edit" %>
<% form_for(@customer, :url => {:controller=>"customers", :action=>"update_lifecycle", :id => @customer.id}, :method=>:get, :html => { :id => h_form_html_id(@customer, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "customers/edit_lifecycle",:locals => { :f => f, :fonct=>fonct }) %>
<h1></h1>
<table class='menu_bas'>
	<tr>
		<%= h_menu_lifecycle f, @customer %>
		<td> <%= link_to t("explorer"), @customer %> </td>
		<td> <%= link_to t("list"), customers_path %> </td>
	</tr>
</table>
<% end %>