<h1><%= t(:lifecycle_edit, :model => t(@object_plm.modelname), :obj => @object_plm.to_s) %></h1>
<% fonct="edit_lifecycle" %>
<%= render(:partial => "shared/menu_edit", :locals => {:object => @object_plm, :fonct=>fonct}) %>
<%= form_for(@object_plm, :url => {:controller=>"customers", :action=>"update_lifecycle", :id => @object_plm.id}, :method=>:get, :html => { :id => h_form_html_id(@object_plm, fonct) }) do |f| %>
<%= form_errors_for @object_plm %>
<%= render(:partial => "customers/edit_lifecycle",:locals => { :fonct=>fonct, :f=>f }) %>
<% end %>