<h1><%= t("customer_list") %><%= h_count_objects(@customers) %></h1>
<% unless @customer.nil? %>
<% form_for(@customer) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= form_simple_query_helper('/customers', @customers) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_customer"), new_customer_path %> </td>
		<td> <%= show_help("help_customers") %> </td>
	</tr>
</table>
<% if @myparams[:list_mode] == t(:list_mode_icon) %>
<%= h_thumbnails_objs @customers %>
<% else %>
<%= will_paginate(@customers[:recordset]) %>
<table>
	<tr>
		<th><%= h_img(:label_icon) %></th>
		<th <%= sort_td_class_helper "ident" %>> <%= sort_link_helper t("label_ident"), "ident" %> </th>
		<th <%= sort_td_class_helper "typesobject_id" %>> <%= sort_link_helper t("label_typesobject"), "typesobject_id" %> </th>
		<th <%= sort_td_class_helper "designation" %>> <%= sort_link_helper t("label_designation"), "designation" %> </th>
		<th <%= sort_td_class_helper "statusobject_id" %>> <%= sort_link_helper t("label_statusobject"), "statusobject_id" %> </th>
		<th <%= sort_td_class_helper "owner" %>> <%= sort_link_helper t("label_responsible"), "owner_id" %> </th>
		<th <%= sort_td_class_helper "group" %>> <%= sort_link_helper t("label_group"), "group_id" %> </th>
		<th <%= sort_td_class_helper "projowner" %>> <%= sort_link_helper t("label_projowner"), "projowner_id" %> </th>
		<th <%= sort_td_class_helper "date" %>> <%= sort_link_helper t("label_date"), "date" %> </th>
		<th <%= sort_td_class_helper "domain" %>><%= sort_link_helper t("label_domain"), "domain" %></th>
		<th></th><th></th>
		<th></th><th></th>
	</tr>
	<% @customers[:recordset].each do |customer| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td> <%= icone(customer) %> </td>
		<td> <%= h_explorer customer %> </td>
		<td> <%= h_explorer customer.typesobject, :name unless customer.typesobject.nil? %> </td>
		<td> <%= h customer.designation %> </td>
		<td> <%= h_explorer customer.statusobject, :name unless customer.statusobject.nil? %> </td>
		<td> <%= h_explorer customer.owner, :login %> </td>
		<td> <%= h_explorer customer.group, :name %> </td>
		<td> <%= h_explorer customer.projowner %> </td>
		<td> <%= l customer.date %> </td>
		<td> <%= h customer.domain %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_customer_path(customer) %> </td>
		<td> <%= link_to h_img_edit_lifecycle.to_s, {:controller=>"customers", :action=>"edit_lifecycle", :id => customer.id} %> </td>
		<td> <%= link_to h_img_destroy.to_s, customer, :confirm => t("msg_confirm"), :method => :delete %> </td>
		<td> <%= link_to h_img(:duplicate), new_dup_customer_path(customer) %> </td>
		<td> <% if logged_in? %>
		<%= link_to_remote h_img(:copy).to_s, :url => {:action => :add_favori, :id => customer.id}, :method => :get %>
		<% end %> </td>
	</tr>
	<% end %>
</table>
<% end %>
<%= will_paginate(@customers[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_customer"), new_customer_path %> </td>
		<td> <%= show_help("help_customers") %> </td>
	</tr>
</table>
