<h1><%= t("customer_new_dup") %></h1>
<% fonct="new_dup" %>
<%= form_for(@customer, :html => { :id => h_form_html_id(@customer, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "customers/edit",:locals => { :f => f, :fonct=>fonct }) %>
<%= render(:partial => "shared/show_objects_in_relations", :locals => { :object => @customer_orig, :f => f, :fonct=>fonct }) %>
<h1></h1>
<table class='menu_bas'>
	<tr>
		<td> <%= f.submit t("update") %> </td>
		<%if @customer.statusobject.promote==true %> <td><%= link_to t(:promote), :id => @customer.id, :action => :promote , :confirm => t("msg_confirm") %></td>
		<%end %>
		<%if @customer.statusobject.demote==true %> <td><%= link_to t(:demote), :id => @customer.id, :action => :demote , :confirm => t("msg_confirm") %></td>
		<%end %> <td> <%= link_to t("explorer"), @customer %> </td>
		<td> <%= link_to t("list"), customers_path %> </td>
	</tr>
</table>
<% end %>
