<h1><%= t(:datafile_add) %></h1>
<% fonct="doc_new"%>
<% form_for @datafile, :html => { :multipart => true}, :url => { :action=>"add_datafile",:id=>@customer.id }  do |f| %>
<%= f.error_messages %>
<%= hidden_field_tag "customer_id", @customer.id.to_s %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @customer, :f => f, :fonct=>fonct}) %>
<%= render(:partial => "datafiles/edit_datafile",:locals => { :f => f , :fonct=>fonct, :document=>@customer}) %>
<%= render(:partial => "shared/submit_new", :locals => {:object => @customer, :f => f, :fonct=>fonct}) %>
<% end %>