<H1><%= t("customer_show") %></H1>
<% fonct="show" %>
<%= render(:partial => "shared/menu_show", :locals => {:object => @customer, :fonct => fonct}) %>
<%= form_for(@customer, :html => { :id => h_form_html_id(@customer, fonct) }) do |f| %>
<%= form_errors_for @customer %>
<p>
	<b><%= t("label_ident") %></b>
	<%= h @customer.ident %>
</p>
<p>
	<b><%= t("label_typesobject") %></b>
	<%= h @customer.typesobject.name_translate unless @customer.typesobject.nil? %>
</p>
<p>
	<b><%= t("label_designation") %></b>
	<%= h @customer.designation %>
</p>
<p>
	<b><%= t("label_description") %></b>
	<%= h @customer.description %>
</p>
<p>
	<b><%= t("label_statusobject") %></b>
	<%= h @customer.statusobject.name_translate unless @customer.statusobject.nil? %>
</p>
<p>
	<b><%= t("label_responsible") %></b>
	<%= h @customer.owner.login %>
</p>
<p>
	<b><%= t("label_date") %></b>
	<%= l @customer.date %>
</p>
<p>
	<b><%= t("label_domain") %></b>
	<%= h @customer.domain %>
</p>
<%= h_type_values(@customer, fonct) %>
<% end %>
<%= render(:partial => "shared/show_datafiles",
	:locals=> {:plm_object => @customer,  :fonct => fonct, :document=>nil, :part=>nil, :project=>nil, :customer=>@customer}) %>
<%= render(:partial => "shared/object_workitems", :object =>@customer) %>
<%= render(:partial => "shared/objects_to_add", :object =>@customer) %>
<%= render(:partial => "shared/links_relation_tabs", :object =>@customer) %>
