<H1><%= t("customer_show") %></H1>
<% fonct="show" %>
<% form_for(@customer, :html => { :id => h_form_html_id(@customer, fonct) }) do |f| %>
<%= f.error_messages %>
<p>
	<b><%= t("label_ident") %></b>
	<%= h @customer.ident %>
</p>
<p>
	<b><%= t("label_typesobject") %></b>
	<% if(@customer.typesobject != nil) %>
	<%= h @customer.typesobject.name %>
	<% end %>
</p>
<p>
	<b><%= t("label_designation") %></b>
	<%= h @customer.designation %>
</p>
<p>
	<b><%= t("label_description") %></b>
	<%= h @customer.description %>
</p>
<p>
	<b><%= t("label_statusobject") %></b>
	<% if(@customer.statusobject != nil) %>
	<%= h @customer.statusobject.name %>
	<% end %>
</p>
<p>
	<b><%= t("label_responsible") %></b>
	<%= h @customer.owner.login %>
</p>
<p>
	<b><%= t("label_date") %></b>
	<%= l @customer.date %>
</p>
<%= h_type_values(@customer, fonct) %>
<p>
	<b><%= t("label_domain") %></b>
	<%= h @customer.domain %>
</p>
<% end %>
<h1></h1>
<% files = @customer.get_datafiles%>
<% if files[:total]>0%> <h1><%= t("datafiles_list") %></h1>
<%= render(:partial => "datafiles/index_datafiles", :locals=>{:datafiles=>files, :document=>@customer}) %>
<% end %> 
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("add_datafile"), :action => :new_datafile, :id => @customer.id %> </td>
	</tr>
</table>
<h1></h1>
<%= render(:partial => "shared/object_workitems", :object =>@customer) %>
<table class='menu_bas'>
	<tr>
		<% unless @favori.get("document").count==0 %>
		<% form_for(@customer, :url => {:id => @customer.id, :action => "add_docs" }) do |f| %> <td> <%= select("relation","document", options_from_collection_for_select( @relations["document"], :id, :ident)) %> </td>
		<td> <%= submit_tag t("paste_documents") %> <td> <% end %>
	</tr>
	<tr>
		<% end %>
		<% unless @favori.get("project").count==0 %>
		<% form_for(@customer, :url => {:id => @customer.id, :action => "add_projects" }) do |f| %> <td> <%= select("relation","project", options_from_collection_for_select( @relations["project"], :id, :ident)) %> </td>
		<td> <%= submit_tag t("paste_projects") %> </td>
		<% end %>
		<% end %>
	</tr>
</table>
<h1></h1>
<%= render(:partial => "shared/tree", :object => @customer ) %>
<table class='menu_bas'>
	<tr>
		<% unless @relations["forum"].count==0 %>
		<% form_for(@customer, :url => {:id => @customer.id, :action => :new_forum }) do |f| %> <td> <%= select("relation","forum", options_from_collection_for_select( @relations["forum"], :id, :name)) %></td>
		<td><%= submit_tag t("add_forum") %></td>
		<% end %>
		</tr>
</table>
<table class='menu_bas'>
		<% end %> <td> <%= link_to t("edit"), edit_customer_path(@customer) %> </td>
		<td> <%= link_to t("new_customer"), new_customer_path %> </td>
		<td> <%= link_to t("list"), customers_path %> </td>
	</tr>
</table