<h1><%= t(:volume_show) %></h1>
<p>
	<b><%= t(:label_name) %></b>
	<%= h @volume.name %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @volume.description %>
</p>
<p>
	<b><%= t(:label_directory) %></b>
	<%= h @volume.directory %>
</p>
<p>
	<b><%= t(:label_protocol) %></b>
	<%= h @volume.protocol %>
</p>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:edit), edit_volume_path(@volume)%> </td>
		<td> <%= link_to t(:list), volumes_path %> </td>
	</tr>
</table>
