<h1><%= t(:volume_show) %></h1>
<% fonct="show" %>
<% form_for(@volume) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @volume, :fonct=>fonct}) %>

<p>
	<b><%= t(:label_name) %></b>
	<%= h @volume.name %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @volume.description %>
</p>
<p>
	<b><%= t(:label_directory) %></b>
	<%= h @volume.directory %>
</p>
<p>
	<b><%= t(:label_protocol) %></b>
	<%= h @volume.protocol %>
</p>
<%end%>
