
<%unless @definitions.length <= 0 %>
<table class='coll'>
	<thead>
		<tr>
			<% if admin_logged_in? %>
			<th> <%= t("label_id")%> </th>
			<% end %>
			<th> <%= t("label_name")%> </th>
			<th> <%= t("label_description")%> </th>
			<th> <%= t("label_uri")%> </th>
			<th> <%= t("label_groups")%> </th>
			<th> <%= t("label_internal")%> </th>
		</tr>
	</thead>
	<% for definition in @definitions %>
	<tr>
		<% if admin_logged_in? %>
			<td> <%= definition.id %> </td>
		<% end %>
		<td> <%= link_to h(definition.name), definition %> </td>
		<td title="<%= h definition.description %>"> <%= h truncate(definition.description, :length => 40) %> </td>
		<td> <%= link_to h(definition.uri), definition.full_uri %> </td>
		<td> <%= comma_list(definition.groups) %> </td>
		<td> <%= definition.internal %> </td>
		<% if fonct != "new_process" %> 
		<td> <%= link_to(h_img_show.to_s, definition) %></td>
		<td><%= link_to(
		h_img_edit.to_s,
		edit_definition_path(definition)) %></td>
		<td><%= link_to(
		h_img_destroy.to_s,
		definition,
		:confirm => t("msg_confirm"),
		:method => :delete) %></td>
		<% else %>
		<td><%= link_to(
		t("launchthis"),
		new_process_path(:definition_id => definition.id)) if definition.usable? %> 
		</td>
		<% end %>
	</tr>
	<% end %>
</table>
<%end %> 