<h1><%= t("definitions_edit") %>: "<%= h @definition.name %>"</h1>
<% form_for(@definition, :html => { :id => 'definition_form' }) do |f| %>
<%= f.error_messages %>
<fieldset>
	<legend>
		<%= t("label_process_definition")%>
	</legend>
	<%= f.label t("label_name")%>
	<%= f.text_field :name %>
	<br/>
	<%= f.label  t("label_description")%>
	<%= f.text_field :description %>
	<br/>
	<%= f.label t("label_uri")%>
	<%= render(
	:partial => 'shared/ruote_forms',
	:locals => {
	:fields => @definition.launch_fields_hash,
	:form_id => 'definition_form',
	:textarea_name => 'definition[launch_fields]'}
	) %>
	<br/>
	<%= f.label t("label_roles_may_launch") %>
	<%= select_inout(f, @definition, Role.all, :title) %>
	<%= h_input_text(f ,:domain) %>
	<br />
</fieldset>
<table class='menu_bas'>
	<tr>
		<td> <%= f.submit t("update") %></td>
		<td> <%= link_to t("explorer"),  @definition %></td>
		<td> <%= link_to t("list"), definitions_path %></td>
	</tr>
</table>
<% end %>

<%= render_fluo :definition => @definition %>
<p>
	Change the info about a [business] process definition here.
</p>
<p>
	Two important things may be edited here : the initial payload for any launch and the list of user groups that may launch the process definition.
</p>
