<h1><%= t("definitions_list") %></h1>
<%unless @definitions.length <= 0 %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_definition"), new_definition_path %> </td>
		<td> <%= show_help("help_definitions") %> </td>
	</tr>
</table>
<table class='coll'>
	<thead>
		<tr>
			<th> <%= t("label_name")%> </th>
			<th> <%= t("label_description")%> </th>
			<th> <%= t("label_uri")%> </th>
			<th> <%= t("label_groups")%> </th>
			<th> <%= t("label_internal")%> </th>
		</tr>
	</thead>
	<% for definition in @definitions %>
	<tr>
		<td> <%= link_to h(definition.name), definition %> </td>
		<td title="<%= h definition.description %>"> <%= h truncate(definition.description, :length => 40) %> </td>
		<td> <%= link_to h(definition.uri), definition.full_uri %> </td>
		<td> <%= comma_list(definition.groups) %> </td>
		<td> <%= definition.internal %> </td>
		<td class='coll_buttons'> <%= link_to(h_img_show.to_s, definition) %>
		<%= link_to(
		h_img_edit.to_s,
		edit_definition_path(definition)) %>
		<%= link_to(
		h_img_destroy.to_s,
		definition,
		:confirm => t("msg_confirm"),
		:method => :delete) %>
		<%= link_to(
		h_img_launchthis.to_s,
		new_process_path(:definition_id => definition.id)) %> </td>
	</tr>
	<% end %>
</table>
<%end %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_definition"), new_definition_path %> </td>
		<td> <%= show_help("help_definitions") %> </td>
	</tr>
</table>
<div id="help">
	<p>
		[Business] process definitions. Edit them (or their initial payload) or launch them.
	</p>
</div>
