<h1><%= t("access_list") %><%= h_count_objects(@accesses)%> </h1>
<%= form_simple_query_helper('/accesses', @accesses) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_access"), new_access_path %> </td>
		<% if admin_logged_in? %>
		<td> <%= link_to t("access_reset"), {:controller => :accesses, :action => :reset} %> </td>
		<% end %>
		<td> <%= show_help("help_access") %> </td>
	</tr>
</table>
<%= will_paginate(@accesses[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper "controller" %>> <%= sort_link_helper t("label_controller"), "controller" %> </th>
		<th <%= sort_td_class_helper "action" %>> <%= sort_link_helper t("label_action"), "action" %> </th>
		<th <%= sort_td_class_helper "roles" %>> <%= sort_link_helper t("label_role"), "roles" %> </th>
		<th></th><th></th>
	</tr>
	<% @accesses[:recordset].each do |acc| %>
	<tr>
		<td> <%= h acc.controller %> </td>
		<td> <%= h acc.action %> </td>
		<td> <%= h acc.roles %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_access_path(acc) %> </td>
		<td> <%= link_to h_img_destroy.to_s, acc, :confirm => t("msg_confirm"), :method => :delete %> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@accesses[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_access"), new_access_path %> </td>
		<td> <%= show_help("help_access") %> </td>
	</tr>
</table>