<h1><%= t("document_list") %><%= h_count_objects(@object_plms) %></h1>
<% unless @object_plm.nil? %>
	<%= form_for(@object_plm) do |f| %>
		<%= form_errors_for @object_plm %>
	<% end %>
<%end%>
	<%= h_form_simple_query('/documents', @object_plms, @object_plm) %>
	<%= form_tag({:controller=>:documents, :action=>:index_execute}) do %>
	<% unless param_equals?("todo", "select") %>
	<%= h_menu_index_action("document")%>
	<%end%>
	<% if @myparams[:list_mode] == t(:list_mode_icon) %>
	<%= h_thumbnails_objs @object_plms %>
	<% else %>
	<%= will_paginate(@object_plms[:recordset]) %>
	<table>
		<tr>
			<th><%= h_img(:label_icon) %></th>
			<th <%= sort_td_class_helper "ident" %>> <%= sort_link_helper t("label_ident"), "ident" %></th>
			<th <%= sort_td_class_helper "revision" %>> <%= sort_link_helper t("label_revision"), "revision" %></th>
			<th <%= sort_td_class_helper "typesobject_id" %>> <%= sort_link_helper t("label_typesobject"), "typesobject_id" %></th>
			<th <%= sort_td_class_helper "designation" %>> <%= sort_link_helper t("label_designation"), "designation" %></th>
			<th <%= sort_td_class_helper "statusobject_id" %>> <%= sort_link_helper t("label_statusobject"), "statusobject_id" %></th>
			<th <%= sort_td_class_helper "owner" %>> <%= sort_link_helper t("label_responsible"), "owner_id" %></th>
			<th <%= sort_td_class_helper "group" %>> <%= sort_link_helper t("label_group"), "group_id" %></th>
			<th <%= sort_td_class_helper :projowner %>> <%= sort_link_helper t(:label_projowner), "projowner_id" %> </th>
			<th> <%= t("label_nbfiles") %></th>
			<th <%= sort_td_class_helper "date" %>> <%= sort_link_helper t("label_date"), "date" %></th>
			<th <%= sort_td_class_helper "domain" %>><%= sort_link_helper t("label_domain"), "domain" %></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% previous=nil
		@object_plms[:recordset].each do |document| %>
		<tr class='<%= cycle("even", "odd") %>'>
			<td> <%= icone(document) %> </td>
			<td> <%= h_explorer document, :ident %> </td>
			<td> <%= h document.revision %> </td>
			<td> <%= h_explorer document.typesobject, :name_translate %></td>
			<td> <%= h document.designation %> </td>
			<td> <%= h_explorer document.statusobject, :name_translate  %></td>
			<td> <%= h_explorer document.owner, :login %></td>
			<td> <%= h_explorer document.group, :name_translate %></td>
			<td> <%= h_explorer document.projowner %>
			(<%= document.projowner.typeaccess.name_translate unless (document.projowner.nil? || document.projowner.typeaccess.nil?) %>) </td>
			<td> <%= h document.datafiles.length %></td>
			<td> <%= document.date %> </td>
			<td> <%= document.domain %> </td>
			<td> <% if document.checked? %>
			<%= h_img_checkout.to_s if document.checked? %>
			<%else%>
			<%= h_img_checkin.to_s %>
			<% end%> </td>

			<% unless param_equals?("todo", "select") %>
				<% unless document.id.nil? %>
					<td> <%= link_to h_img_edit.to_s, edit_document_path(document) %></td>
					<td> <%= link_to h_img_edit_lifecycle.to_s, {:controller=>"documents", :action=>"edit_lifecycle", :id => document.id} %> </td>
					<td> <%= link_to h_img(:duplicate), new_dup_document_path(document)  %> </td>

						<td><%= link_to h_img(:copy), add_clipboard_document_path(document), remote: true  if logged_in? %></td>

					<td> <%=h_destroy(document)  %></td>
					<td><%= check_box(:action_on,document.id) %></td>
					<% if document.revisable?  %>
						<td> <%= h_img_revise.to_s %></td>
					<%end%>
				<%end%>
			<%else%>
				<%= select_button(document)%>
			<%end%>

		</tr>
		<% previous=document %>
		<% end %>
	</table>
	<% end %>
	<%= will_paginate(@object_plms[:recordset]) %>
	<% unless param_equals?("todo", "select") %>
	<%= h_menu_index_action("document")%>
	<%end%>
<%end%>
