<h1><%= t(:document_edit) %></h1>
<% fonct="edit" %>
<% form_for(@document, :html => { :id => h_form_html_id(@document, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "documents/edit",:locals => { :f => f, :fonct=>fonct }) %>
<h1></h1>
<table class='menu_bas'>
	<tr>
		<td>  </td>
		<td> <% if @document.frozen? %>
		<%= t("freeze") %>
		<% else %>
		<%= f.submit t("update") %>
		<% end %> </td>
		<td> <%= link_to t("explorer"), @document %> </td>
		<td> <%= link_to t("list"), documents_path %> </td>
	</tr>
</table>
<% end %>