<h1><%=t(:document_edit) %></h1>
<% form_for(@document, :html => { :multipart => true}) do |f| %>
<%= f.error_messages %>

<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("update") %>
        </td>
        <td>
            <% if @document.frozen? %>
            <%=t("freeze") %>
            <% else %>
            <%if @document.statusobject.promote==true %>
            <%= link_to t("promote"), :id => @document.id, :action => :promote , :confirm => t("msg_confirm") %>
            <%end %>
            <%if @document.statusobject.demote==true %>
            <%= link_to t("demote"), :id => @document.id, :action => :demote , :confirm => t("msg_confirm") %>
            <%end %>
            <% end %>
        </td>
        <td>
            <%= link_to t("explorer"), @document %>
        </td>
        <td>
            <%= link_to t("list"), documents_path %>
        </td>
    </tr>
</table>
 <%= render(:partial => "documents/edit",:locals => { :f => f, :fonct=>"edit" }) %>   

<% end %>