<h1><%= t("document_list") %><%= h_count_objects(@documents) %></h1>
<% unless @document.nil? %>
<% form_for(@document) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= form_simple_query_helper('/documents', @documents) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_document"), new_document_path %></td>
		<td> <%= show_help("help_documents") %></td>
	</tr>
</table>
<%= will_paginate(@documents[:recordset]) %>
<table>
	<tr>
		<th></th>
		<th <%= sort_td_class_helper "ident" %>> <%= sort_link_helper t("label_ident"), "ident" %></th>
		<th <%= sort_td_class_helper "revision" %>> <%= sort_link_helper t("label_revision"), "revision" %></th>
		<th <%= sort_td_class_helper "typesobject_id" %>> <%= sort_link_helper t("label_typesobject"), "typesobject_id" %></th>
		<th <%= sort_td_class_helper "designation" %>> <%= sort_link_helper t("label_designation"), "designation" %></th>
		<th <%= sort_td_class_helper "statusobject_id" %>> <%= sort_link_helper t("label_statusobject"), "statusobject_id" %></th>
		<th <%= sort_td_class_helper "owner" %>> <%= sort_link_helper t("label_responsible"), "owner" %></th>
		<th <%= sort_td_class_helper "group" %>> <%= sort_link_helper t("label_group"), "group" %></th>
		<th <%= sort_td_class_helper :projowner %>> <%= sort_link_helper t(:label_projowner), :projowner %> </th>
		<th> <%= t("label_nbfiles") %></th>
		<th <%= sort_td_class_helper "date" %>> <%= sort_link_helper t("label_date"), "date" %></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% previous=nil
	@documents[:recordset].each do |document| %>
	<tr>
		<td> <%= icone(document) %></td>
		<td> <%= h_if_differ(document , previous,  "ident") %> </td>
		<td> <%= h_if_differ(document , previous,  "revision") %> </td>
		<td> <%= h_if_differ(document , previous,  "typesobject.name" ) unless document.typesobject.nil? %></td>
		<td> <%= h_if_differ(document , previous,  "designation") %> </td>
		<td> <%= h_if_differ(document , previous,  "statusobject.name") unless document.statusobject.nil?  %></td>
		<td> <%= h_if_differ(document , previous,  "owner.login") %></td>
		<td> <%= h_if_differ(document , previous,  "group.name") %></td>
		<td> <%= h_if_differ(document , previous,  "projowner.ident") %>
		(<%= document.projowner.typeaccess.name%>) </td>
		<td> <%= h document.datafiles.length %></td>
		<td> <%= h_if_differ(document , previous,  "date") %> </td>
		<td> <% if document.checked? %>
		<%= h_img_checkout.to_s if document.checked? %>
		<%else%>
		<%= h_img_checkin.to_s %>
		<% end%> </td>
		<td> <%= link_to h_img_show.to_s, document if document.ok_for_show?(current_user)%> </td>
		<% if document.revisable? %> <td> <%= h_img_revise.to_s %></td>
		<td></td>
		<% else %>
		<% if document.frozen? == false %> <td> <%= link_to h_img_edit.to_s, edit_document_path(document) %></td>
		<td> <%= link_to h_img_destroy.to_s, document, :confirm => t("msg_confirm"), :method => :delete %></td>
		<% else %> <td></td>
		<td></td>
		<% end %>
		<% end %>
		</td>
		<% if logged_in? %> <td><%= link_to_remote  h_img(:copy).to_s, :url => {:controller => "documents", :action => "add_favori", :id => document.id}, :method => :get  %></td>
		<% end %>
	</tr>
	<% previous=document %>
	<% end %>
</table>
<%= will_paginate(@documents[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_document"), new_document_path %></td>
		<td> <%= show_help("help_documents") %></td>
	</tr>
</table>