<h1><%= t("document_new") %></h1>
<% form_for(@document) do |f| %>
<%= hidden_field :document , :revision %>
<%= f.error_messages %>
<%= render(:partial => "documents/edit",:locals => { :f => f, :fonct=>"new" }) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @document, :f => f}) %>

<% end %>