<h1><%= t("document_new_dup") %></h1>
<% fonct="new_dup" %>
<% form_for(@document, :html => { :id => h_form_html_id(@document, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "documents/edit",:locals => { :f => f, :fonct=>fonct }) %>
<%= render(:partial => "shared/show_objects_in_relations",:locals => { :object => @document_orig, :f => f, :fonct=>fonct }) %>
<h1></h1>
<%= render(:partial => "shared/menu_new", :locals => {:object => @document, :f => f}) %>

<% end %>