<h1><%= t(:document_show) %></h1>
<% fonct="show" %>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @document, :fonct=>fonct}) %>
<%= form_for(@document, :html => { :id => h_form_html_id(@document, fonct) }) do |f| %>
<%= form_errors_for @document %>
<p>
	<b><%= t(:label_ident) %></b>
	<%= h @document.ident %>
</p>
<p>
	<b><%= t(:label_typesobject) %></b>
	<% if(@document.typesobject != nil) %>
	<%= h @document.typesobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_revision) %></b>
	<%= h @document.revision %>
</p>
<p>
	<b><%= t(:label_designation) %></b>
	<%= h @document.designation %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @document.description %>
</p>
<p>
	<b><%= t(:label_statusobject) %></b>
	<% if(@document.statusobject != nil) %>
	<%= h @document.statusobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_next_status) %></b>
	<% unless @document.next_status.nil?  %>
	<%= h @document.next_status.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_responsible) %></b>
	<%= h @document.owner.login unless @document.owner.nil? %>
</p>
<p>
	<b><%= t(:label_date) %></b>
	<%= l @document.date unless @document.date.nil? %>
</p>
<p>
	<b><%= t(:label_domain) %></b>
	<%= h @document.domain %>
</p>
<%= h_type_values(@document, fonct) %>
<% end %> <!-- form -->

<!-- workitems associated to the document -->
<%= render(:partial => "shared/object_workitems", :object => @document)  %>

<%= render(:partial => "documents/check_document", :locals => {:document => @document})  %>

<%= render(:partial => "shared/show_datafiles",
:locals=> {:plm_object => @document,  :fonct => fonct, :document=>@document, :part=>nil, :project=>nil, :customer=>nil}) %>

<%= render(:partial => "shared/objects_to_add", :object =>@document) %>
<%= render(:partial => "shared/links_relation_tabs", :object =>@document) %>

