<h1><%= t("document_show") %></h1>
<p>
    <b><%= t("label_ident") %></b>
    <%=h @document.ident %>
</p>
<p>
    <b><%= t("label_typesobject") %></b>
    <% if(@document.typesobject != nil) %>
    <%=h @document.typesobject.name %>
    <% end %>
</p>
<p>
    <b><%= t("label_revision") %></b>
    <%=h @document.revision %>
</p>
<p>
    <b><%= t("label_designation") %></b>
    <%=h @document.designation %>
</p>
<p>
    <b><%=t("label_description") %></b>
    <%=h @document.description %>
</p>
<p>
    <b><%= t("label_statusobject") %></b>
    <% if(@document.statusobject != nil) %>
    <%=h @document.statusobject.name %>
    <% end %>
</p>
<p>
    <b><%= t("label_responsible") %></b>
    <%=h @document.owner.login %>
</p>
<p>
    <b><%= t("label_date") %></b>
    <%=l @document.date %>
</p>
<table class='menu_bas'>
    <% if (@document.is_freeze() == true ) %>
    <tr>
        <td>
            <%=t("freeze") %>
        </td>
    </tr>
    <% else %>
    <% if(@document.is_checked()==false) %>
    <% form_for(@document, :url => {:id => @document.id, :action => "check_out" }) do |f| %>
    <tr>
        <td>
            <%= f.submit t("check_out") %>
        </td>
        <td>
            <%= label_tag t("reason") %><%= text_field_tag :reason %>
        </td>
    </tr>
    <%end %>
    <% else %>
	        <td>
            <%= t("is_check_out") %>
        </td>
        <td>
            <%= t("reason") %><%= @checkout.out_reason %>
        </td>

    <% form_for(@document, :url => {:id => @document.id, :action => "check_in" },
    :html => { :multipart => true}) do |f| %>
    <tr>
        <td>
            <%= f.submit t("check_in") %>
        </td>
        <td>
            <%= label_tag t("reason") %><%= text_field_tag :reason %>
        </td>
    </tr>
    <% end %>
    <% form_for(@document, :url => {:id => @document.id, :action => "check_free" }) do |f| %>
    <tr>
        <td>
            <%= f.submit t("check_free") %>
        </td>
        <td>
            <%= label_tag t("reason") %><%= text_field_tag :reason %>
        </td>
    </tr>
    <% end %>
    <%end %>
    <% end %>
</table>
<br/>
<table class='menu_bas'>
    <tr>
        <td>
            <%= link_to t("edit"), edit_document_path(@document) %>
        </td>
        <td>
            <%= link_to t("new_document"), new_document_path %>
        </td>
        <td>
            <%= link_to t("list"), documents_path %>
        </td>
    </tr>
</table>
<h1><%= t("document_datafiles") %></h1>
<%= render(:partial => "datafiles/index_datafiles", :locals=>{:document=>@document}) %>
<table class='menu_bas'>
    <tr>
        <td>
        	 <% unless @document.is_freeze  %>
            <%= link_to h_img(:add_datafile).to_s+t("add_datafile"), :id => @document.id, :action => :new_datafile %>
        <%end%>
				</td>
    </tr>
</table>
