<h1><%= t("document_show") %></h1>
<% form_for(@document) do |f| %>
<%= f.error_messages %>
<%end %>
<p>
	<b><%= t("label_ident") %></b>
	<%= h @document.ident %>
</p>
<p>
	<b><%= t("label_typesobject") %></b>
	<% if(@document.typesobject != nil) %>
	<%= h @document.typesobject.name %>
	<% end %>
</p>
<p>
	<b><%= t("label_revision") %></b>
	<%= h @document.revision %>
</p>
<p>
	<b><%= t("label_designation") %></b>
	<%= h @document.designation %>
</p>
<p>
	<b><%= t("label_description") %></b>
	<%= h @document.description %>
</p>
<p>
	<b><%= t("label_statusobject") %></b>
	<% if(@document.statusobject != nil) %>
	<%= h @document.statusobject.name %>
	<% end %>
</p>
<p>
	<b><%= t("label_responsible") %></b>
	<%= h @document.owner.login %>
</p>
<p>
	<b><%= t("label_date") %></b>
	<%= l @document.date %>
</p>
<h1><%= t("document_datafiles") %></h1>
<%= render(:partial => "datafiles/index_datafiles", :locals=>{:datafiles=>@document.get_datafiles, :document=>@document}) %>
<% unless @document.frozen? %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("add_datafile"), :action => :new_datafile, :id => @document.id %> </td>
	</tr>
</table>
<%end %>

<%= h_show_tree @document%>

Documents Fils
<table class='menu_bas'>
	<% @document.documents.each do |obj| %>
	<tr>
		<td><%= obj.ident %></td>
	</tr>
	<% end %>
</table>
Documents Peres
<table class='menu_bas'>
	<% @document.documents_up.each do |obj| %>
	<tr>
		<td><%= obj.ident %></td>
	</tr>
	<% end %>
</table>
Parts Peres
<table class='menu_bas'>
	<% @document.parts_up.each do |obj| %>
	<tr>
		<td><%= obj.ident %></td>
	</tr>
	<% end %>
</table>
Projects Peres
<table class='menu_bas'>
	<% @document.projects_up.each do |obj| %>
	<tr>
		<td><%= obj.ident %></td>
	</tr>
	<% end %>
</table>
Customers Peres
<table class='menu_bas'>
	<% @document.customers_up.each do |obj| %>
	<tr>
		<td><%= obj.ident %></td>
	</tr>
	<% end %>
</table>
Histories Peres
<table class='menu_bas'>
	<% @document.histories_up.each do |obj| %>
	<tr>
		<td><%= obj.ident %></td>
	</tr>
	<% end %>
</table>
<table class='menu_bas'>
	<tr>
		<% unless @favori.get('document').count==0 %>
		<% form_for(@document, :url => {:id => @document.id, :action => :add_docs }) do |f| %> <td> <%= select("relation","document", options_from_collection_for_select( @relations["document"], :id, :ident)) %></td>
		<td><%= submit_tag t("paste_documents") %></td>
		<% end %>
		<%end%>
	</tr>
	</td>
</table>
<%= render(:partial => "shared/object_workitems", :object => @document)  %> <h1><%= t("document_check") %></h1>
<table class='menu_bas'>
	<% if @document.frozen? %>
	<tr>
		<td> <%= t("freeze") %></td>
	</tr>
	<% else %>
	<% if !@document.checked? %>
	<% form_for(@document, :url => {:id => @document.id, :action => :check_out }, :method => :get) do |f| %>
	<tr>
		<td> <%= f.submit t("button_check_out") %></td>
		<td> <%= label_tag t("label_out_reason") %></td>
		<td> <%= text_field_tag "check[out_reason]" %></td>
	</tr>
	<%end %>
	<% else %>
	<tr>
		<td> <%= t("is_check_out") %></td>
		<td> <%= t("label_out_reason") %></td>
		<td> <%= @checkout.out_reason.force_encoding('utf-8') %> </td>
	</tr>
	<% form_for(@document, :url => {:id => @document.id, :action => :check_in }, :method => :get,
	:html => { :multipart => true}) do |f| %>
	<tr>
		<td> <%= f.submit t("button_check_in") %></td>
		<td> <%= label_tag t("label_in_reason") %></td>
		<td> <%= text_field_tag "check[in_reason]" %></td>
	</tr>
	<% end %>
	<% form_for(@document, :url => {:id => @document.id, :action => :check_free }, :method => :get) do |f| %>
	<tr>
		<td> <%= f.submit t("button_check_free") %></td>
		<td> <%= label_tag t("label_in_reason") %></td>
		<td> <%= text_field_tag "check[in_reason]" %></td>
	</tr>
	<% end %>
	<%end %>
	<% end %>
</table>
<h1></h1>
<% form_for(@document) do |f| %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("edit"), edit_document_path(@document) %></td>
		<td> <%= link_to t("new_document"), new_document_path %></td>
		<td> <%= link_to t("list"), documents_path %></td>
	</tr>
</table>
<% end %> 