<fieldset>
	<legend>
		<%= t(:legend_project) %>
	</legend>
	<%= f.label t(:label_ident) %>
	<%= f.text_field :ident %>
	<br/>
	<%= f.label t(:label_type) %>
	<%= f.collection_select(:typesobject_id, @types, :id, :name) %>
	<br/>
	<%= f.label t(:label_typeaccess) %>
	<%= f.collection_select(:typeaccess_id, @types_access, :id, :name) %>
	<br/>
	<%= f.label t(:label_designation) %>
	<%= f.text_field :designation %>
	<br/>
	<%= f.label t(:label_description) %>
	<%= f.text_area :description , :rows => 10 %>
	<br/>
	<%if (@project.statusobject.promote!=true || @project.statusobject.demote!=true) %>
	<%= f.label t("modif_status") %>
	<% if(@project.statusobject != nil) %>
	<%= f.collection_select(:statusobject_id, @status, :id, :name) %>
	<% end %>
	<%else %>
	<%= f.label t("label_status") %>
	<% if(@project.statusobject != nil) %>
	<%= f.collection_select(:statusobject_id, @status, :id, :name) %>
	<%end %>
	<%end %>
	<br/>
	<%= f.label t(:label_responsible) %>
	<%= hidden_field :project , :owner_id %>
	<%= text_field_tag "project_owner_display" , @project.owner.login, :disabled => true %>
	<%= link_to h_img_btn("btn_select").to_s, {:controller => "users", :todo => "select", :html_ident => "project_owner"} , {:target => "_blank", :class => 'menu_bas'}%> </td>
	<br/>
	<%= f.label t(:label_date) %>
	<%= f.date_select :date %>
	<br/>
	<label for="project_users"> <%= t(:label_users) %> </label>
	<%= select_inout(f, @project, @users, :login) %>
	<%= h_input_text(f ,:domain) %>
	<br />
</fieldset>
