<h1><%= t(:legend_project) %></h1>
<%= h_edit_type_object(f, object, @types) %>
<%= f.label t(:label_ident) %>
<%= f.text_field :ident %>
<br/>
<%= f.label t(:label_typeaccess) %>
<%= f.collection_select(:typeaccess_id, @types_access, :id, :name) %>
<br/>
<%= f.label t(:label_designation) %>
<%= f.text_field :designation %>
<br/>
<%= f.label t(:label_description) %>
<%= h_text_editor f, object, :description%>
<br/>

<%= f.label t(:label_responsible) %>
<!--%= select_in_list(:project, :owner, @object_plm.owner.login, :users) %-->
<%= f.text_field :owner, :readonly => true %>
<br/>
<%= f.label t(:label_date) %>
<%= f.date_select :date %>
<br/>
<%= f.label t(:label_customer) %>
<% if object.customers_up[0].nil? %>
<% default=" " %>
<% else %>
<% default=object.customers_up[0].ident%>
<% end %>
<%= select_in_list(:project_link, :customer,  default  , :customers) %>
<br/>

<label for="project_users"> <%= t(:label_users) %> </label>
<%= select_inout(f, @object_plm, @users, :login) %>
<%= h_input_domain(f) %>
<%= h_type_values(@object_plm, fonct) %>

