<H1><%= t(:project_show) %></H1>
<% fonct="show" %>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @object_plm, :fonct=>fonct}) %>
<%= form_for(@object_plm, :html => { :id => h_form_html_id(@object_plm, fonct) }) do |f| %>
<%= form_errors_for @object_plm %>
<p>
	<b><%= t(:label_ident) %></b>
	<%= h @object_plm.ident %>
</p>
<p>
	<b><%= t(:label_type) %></b>
	<% if(@object_plm.typesobject != nil) %>
	<%= h @object_plm.typesobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_designation) %></b>
	<%= h @object_plm.designation %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @object_plm.description %>
</p>
<p>
	<b><%= t(:label_statusobject) %></b>
	<% if(@object_plm.statusobject != nil) %>
	<%= h @object_plm.statusobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_responsible) %></b>
	<%= h @object_plm.owner.login %>
</p>
<p>
	<b><%= t(:label_date) %></b>
	<%= l @object_plm.date %>
</p>
<p>
	<b><%= t("label_domain") %></b>
	<%= h @object_plm.domain %>
</p>
<%= h_type_values(@object_plm, fonct) %>
<% end %>
<%= render(:partial => "shared/show_datafiles",
	:locals=> {:plm_object => @object_plm,  :fonct => fonct, :document=>nil, :part=>nil, :project=>@object_plm, :customer=>nil}) %>
<%= render(:partial => "shared/object_workitems", :object =>@object_plm) %>
<%= render(:partial => "shared/objects_to_add", :object =>@object_plm) %>

<%= render(:partial => "shared/links_relation_tabs", :object =>@object_plm) %>
