<h1><%= t(:project_edit) %></h1>
<% fonct="edit" %>
<% form_for(@project, :html => { :id => h_form_html_id(@project, fonct) }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "projects/edit",:locals => { :f => f, :fonct=>fonct }) %>
<h1></h1>
<table class='menu_bas'>
	<tr>
		<td> <%= f.submit t("update") %> </td>
		<td> <%= link_to t("explorer"), @project %> </td>
		<td> <%= link_to t("list"), projects_path %> </td>
	</tr>
</table>
<% end %>