<h1><%= t(:project_list) %><%= h_count_objects(@projects) %></h1>
<%= form_simple_query_helper('/projects', @projects) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_project"), new_project_path %> </td>
		<td> <%= show_help("help_projects") %> </td>
	</tr>
</table>
<%= will_paginate(@projects[:recordset]) %>
<table>
	<tr>
		<th></th>
		<th <%= sort_td_class_helper "ident" %>> <%= sort_link_helper t(:label_ident), "ident" %> </th>
		<th <%= sort_td_class_helper "typesobject_id" %>> <%= sort_link_helper t(:label_typesobject), "typesobject_id" %> </th>
		<th <%= sort_td_class_helper "designation" %>> <%= sort_link_helper t(:label_designation), "designation" %> </th>
		<th <%= sort_td_class_helper "statusobject_id" %>> <%= sort_link_helper t(:label_statusobject), "statusobject_id" %> </th>
		<th <%= sort_td_class_helper  "owner" %>> <%= sort_link_helper t(:label_responsible), "owner" %> </th>
		<th <%= sort_td_class_helper  "group" %>> <%= sort_link_helper t(:label_group), "group" %> </th>
		<th <%= sort_td_class_helper  "date" %>> <%= sort_link_helper t(:label_date) , "date" %> </th><th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @projects[:recordset].each do |project| %>
	<tr>
		<td> <%= icone(project) %> </td>
		<td> <%= h project.ident %> </td>
		<% if(project.typesobject != nil) %> <td> <%= h project.typesobject.name %> </td>
		<% else %> <td></td>
		<% end %> <td> <%= h project.designation %> </td>
		<% if(project.statusobject != nil) %> <td> <%= h project.statusobject.name %> </td>
		<% else %> <td></td>
		<% end %> <td> <%= h project.owner.login %> </td>
		<td> <%= h project.group.name %> </td>
		<td> <%= l project.date %> </td>
		<td> <%= link_to h_img_show.to_s, project %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_project_path(project) %> </td>
		<td> <%= link_to h_img_destroy.to_s, project, :confirm => t(:msg_confirm), :method => :delete %> </td>
		<td> <% if logged_in? %>
		<%= link_to_remote h_img(:copy).to_s, :url => {:action => :add_favori, :id => project.id}, :method => :get %>
		<% end %> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@projects[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_project"), new_project_path %> </td>
		<td> <%= show_help("help_projects") %> </td>
	</tr>
</table>