<h1><%= t(:project_list) %><%= h_count_objects(@projects) %></h1>
<% unless @project.nil? %>
<% form_for(@project) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= h_form_simple_query('/projects', @projects) %>
<% unless param_equals?("todo", "select") %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_project"), new_project_path %> </td>
		<td> <%= show_help("help_projects") %> </td>
	</tr>
</table>
<%end%>
<% if @myparams[:list_mode] == t(:list_mode_icon) %>
<%= h_thumbnails_objs @projects %>
<% else %>
<%= will_paginate(@projects[:recordset]) %>
<table>
	<tr>
		<th><%= h_img(:label_icon) %></th>
		<th <%= sort_td_class_helper "ident" %>> <%= sort_link_helper t(:label_ident), "ident" %> </th>
		<th <%= sort_td_class_helper "typesobject_id" %>> <%= sort_link_helper t(:label_typesobject), "typesobject_id" %> </th>
		<th <%= sort_td_class_helper "typeaccess_id" %>> <%= sort_link_helper t(:label_typeaccess), "typeaccess_id" %> </th>
		<th <%= sort_td_class_helper "designation" %>> <%= sort_link_helper t(:label_designation), "designation" %> </th>
		<th <%= sort_td_class_helper "statusobject_id" %>> <%= sort_link_helper t(:label_statusobject), "statusobject_id" %> </th>
		<th <%= sort_td_class_helper "owner" %>> <%= sort_link_helper t(:label_responsible), "owner_id" %> </th>
		<th <%= sort_td_class_helper "group" %>> <%= sort_link_helper t(:label_group), "group_id" %> </th>
		<th <%= sort_td_class_helper "date" %>> <%= sort_link_helper t(:label_date) , "date" %> </th>
		<th <%= sort_td_class_helper "users" %>> <%= sort_link_helper t(:label_users) , "users" %> </th>
		<th <%= sort_td_class_helper "domain" %>><%= sort_link_helper t(:label_domain), "domain" %></th><th></th>
		<th></th><th></th>
		<th></th>
	</tr>
	<% @projects[:recordset].each do |project| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td> <%= icone(project) %> </td>
		<td> <%= h_explorer project %> </td>
		<td> <%= h_explorer project.typesobject, :name_translate unless project.typesobject.nil? %></td>
		<td> <%= h_explorer project.typeaccess, :name_translate unless project.typeaccess.nil? %> </td>
		<td> <%= h project.designation %> </td>
		<td> <%= h_explorer project.statusobject, :name_translate unless project.statusobject.nil? %> </td>
		<td> <%= h_explorer project.owner :login %> </td>
		<td> <%= h_explorer project.group, :name_translate  %> </td>
		<td> <%= l project.date unless project.date.nil? %> </td>
		<td> <%= comma_links(project.users, :login) %></td>
		<td> <%= project.domain %></td>
		<% unless param_equals?("todo", "select") %>
		<td> <%= link_to h_img_edit.to_s, edit_project_path(project) %> </td>
		<td> <%= link_to h_img_edit_lifecycle.to_s, {:controller=>"projects", :action=>"edit_lifecycle", :id => project.id} %> </td>
		<td> <%= link_to h_img_destroy.to_s, project, :confirm => t(:msg_confirm), :method => :delete %> </td>
		<td> <%= link_to h_img(:duplicate), new_dup_project_path(project) %> </td>
		<td> <% if logged_in? %>
		<%= link_to_remote h_img(:copy).to_s, :url => {:action => :add_favori, :id => project.id}, :method => :get %>
		<% end %> </td>
		<% if project.revisable?  %>
		<td> <%= h_img_revise.to_s %></td>
		<%end%>
		<% else %> <td><%= select_button(project)%> </td>
		<%end%>
	</tr>
	<% end %>
</table>
<% end %>
<%= will_paginate(@projects[:recordset]) %>
<% unless param_equals?("todo", "select") %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_project"), new_project_path %> </td>
		<td> <%= show_help("help_projects") %> </td>
	</tr>
</table>
<%end%>
