<h1><%=t(:project_new) %></h1>
<%= form_for(@project) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "projects/edit",:locals => { :f => f, :fonct=>"new" }) %>
<h1></h1>
<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("create") %>
        </td>
        <td>
            <%= link_to t("list"), projects_path %>
        </td>
    </tr>
</table>
<% end %>
