<h1><%= t(:datafile_add) %></h1>
<% fonct="doc_new"%>
<%= form_for @datafile, :html => { :multipart => true}, :url => { :action=>"add_datafile",:id=>@object_plm.id }  do |f| %>
<%= form_errors_for @datafile %>
<%= hidden_field_tag "project_id", @object_plm.id.to_s %>
<%= render(:partial => "datafiles/edit_datafile",:locals => { :f => f , :fonct=>fonct, :document=>@object_plm}) %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @datafile, :f => f, :fonct=>fonct}) %>
<%= render(:partial => "shared/submit_new", :locals => {:object => @object_plm, :f => f, :fonct=>fonct}) %>
<% end %>