<H1><%= t(:project_show) %></H1>
<p>
	<b><%= t(:label_ident) %></b>
	<%= h @project.ident %>
</p>
<p>
	<b><%= t(:label_type) %></b>
	<% if(@project.typesobject != nil) %>
	<%= h @project.typesobject.name %>
	<% end %>
</p>
<p>
	<b><%= t(:label_designation) %></b>
	<%= h @project.designation %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @project.description %>
</p>
<p>
	<b><%= t(:label_statusobject) %></b>
	<% if(@project.statusobject != nil) %>
	<%= h @project.statusobject.name %>
	<% end %>
</p>
<p>
	<b><%= t(:label_responsible) %></b>
	<%= h @project.owner.login %>
</p>
<p>
	<b><%= t(:label_date) %></b>
	<%= l @project.date %>
</p><h1></h1>
<%= render(:partial => "shared/object_workitems", :object =>@project) %>
<table class='menu_bas'>
	<% unless @favori.get('document').count==0 || @relations["document"].count==0 %>
	<tr>
		<% form_for(@project, :url => {:id => @project.id, :action => "add_docs" }) do |f| %> <td> <%= select("relation","document", options_from_collection_for_select( @relations["document"], :id, :ident)) %></td>
		<td> <%= submit_tag t("paste_documents") %></td>
		<% end %>
	</tr>
	<% end %>
	<% unless @favori.get('part').count==0 || @relations["part"].count==0 %>
	<tr>
		<% form_for(@project, :url => {:id => @project.id, :action => "add_parts" }) do |f| %> <td> <%= select("relation","part", options_from_collection_for_select( @relations["part"], :id, :ident)) %></td>
		<td> <%= submit_tag t("paste_parts") %></td>
		<% end %>
	</tr>
	<% end %>
	<% unless @favori.get('user').count==0 || @relations["user"].count==0 %>
	<tr>
		<% form_for(@project, :url => {:id => @project.id, :action => "add_users" }) do |f| %> <td> <%= select("relation","user", options_from_collection_for_select( @relations["user"], :id, :ident)) %></td>
		<td> <%= submit_tag t("paste_users") %></td>
		<% end %>
	</tr>
	<% end %>
	<% unless @relations["forum"].count==0 %>
	<tr>
		<% form_for(@project, :url => {:id => @project.id, :action => :new_forum }) do |f| %> <td> <%= select("relation","forum", options_from_collection_for_select( @relations["forum"], :id, :ident)) %></td>
		<td><%= submit_tag t("add_forum") %></td>
		<% end %>
	</tr>
	<% end %>
</table><h1></h1>
<%= render(:partial => "shared/tree", :object => @project ) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("edit"), edit_project_path(@project) %></td>
		<td> <%= link_to t("new_project"), new_project_path %></td>
		<td> <%= link_to t("list"), projects_path %></td>
	</tr>
</table>
