<H1><%= t(:project_show) %></H1>
<% fonct="show" %>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @project, :fonct=>fonct}) %>
<%= form_for(@project, :html => { :id => h_form_html_id(@project, fonct) }) do |f| %>
<%= form_errors_for @project %>
<p>
	<b><%= t(:label_ident) %></b>
	<%= h @project.ident %>
</p>
<p>
	<b><%= t(:label_type) %></b>
	<% if(@project.typesobject != nil) %>
	<%= h @project.typesobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_designation) %></b>
	<%= h @project.designation %>
</p>
<p>
	<b><%= t(:label_description) %></b>
	<%= h @project.description %>
</p>
<p>
	<b><%= t(:label_statusobject) %></b>
	<% if(@project.statusobject != nil) %>
	<%= h @project.statusobject.name_translate %>
	<% end %>
</p>
<p>
	<b><%= t(:label_responsible) %></b>
	<%= h @project.owner.login %>
</p>
<p>
	<b><%= t(:label_date) %></b>
	<%= l @project.date %>
</p>
<p>
	<b><%= t("label_domain") %></b>
	<%= h @project.domain %>
</p>
<%= h_type_values(@project, fonct) %>
<% end %>
<%= render(:partial => "shared/show_datafiles",
	:locals=> {:plm_object => @project,  :fonct => fonct, :document=>nil, :part=>nil, :project=>@project, :customer=>nil}) %>
<%= render(:partial => "shared/object_workitems", :object =>@project) %>
<%= render(:partial => "shared/objects_to_add", :object =>@project) %>

<%= render(:partial => "shared/links_relation_tabs", :object =>@project) %>
