<fieldset>
	<legend>
		<%= t(:legend_link_father) %>
		<%= link_to @link.father.ident, object_path(@link.father) %>
	</legend>
	<%= form.label t(:label_father_plmtype) %>
	<%= text_field_tag :father_plmtype, @link.father_plmtype , :readonly=>:true %>
	<br/>
	<%= form.label t(:label_father_type) %>
	<%= text_field_tag :father_type, @link.father.typesobject.name , :readonly=>:true %>
	<br/>
	<%= form.label t(:label_father) %>
	<%= text_field_tag :father, @link.father.to_s, :readonly=>:true , :size => 50  %>
	<br />
</fieldset>
<fieldset>
	<legend>
		<%= t(:legend_link_values) %>
	</legend>
	<%= render(
	:partial => "shared/form_json",
	:locals => {
	:fields => @link.values,
	:form_id => form_id,
	:textarea_name => 'link[values]',
	:options => {"buttons" => "position"} }
	) %>
	<%= form.label :owner %>
	<%= text_field_tag(:owner, @link.owner.login , :readonly => :true) unless @link.owner.nil? %>
</fieldset>
<fieldset>
	<legend>
		<%= t(:legend_link_child) %>
		<%= link_to @link.child.ident, object_path(@link.child) %>
	</legend>
	<%= form.label t(:label_child_plmtype) %>
	<%= text_field_tag :child_plmtype, @link.child_plmtype , :readonly=>:true %>
	<br/>
	<%= form.label t(:label_child_type) %>
	<%= text_field_tag :child_type, @link.child.typesobject.name , :readonly=>:true %>
	<br/>
	<%= form.label t(:label_child) %>
	<%= text_field_tag :child, @link.child.to_s , :readonly=>:true , :size => 50  %>
</fieldset>
<fieldset>
	<legend>
		<%= t(:legend_link_effectivities) %>
	</legend>
	<label for="part_effectivities"> <%= t(:label_effectivities) %> </label>
	<%= select_tag(:effectivities, options_from_collection_for_select( @root.prd_effectivities, :mdlid, :to_s, @link.effectivities_mdlid), {:multiple => :true, :size => 15 }) %>
	<br/>
</fieldset>
<fieldset>
	<%= form.label t(:label_domain) %>
	<%= form.text_field(:domain) %>
</fieldset>
