<h1><%= t(:link_list) %><%= h_count_objects(@links) %></h1>
<%= form_simple_query_helper('/links', @links) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_link), new_link_path %> </td>
		<td> <%= link_to t(:link_reset), reset_links_path %> </td>
		<td> <%= show_help(:help_links) %> </td>
	</tr>
</table>
<%= will_paginate(@links[:recordset]) %>
<table>
	<tr>
		<th><%= t(:label_id) %> </th>
		<th><%= t(:label_ident) %> </th>
		<th><%= t(:label_domain) %> </th>
		<th><%= t(:label_father) %> </th>
		<th><%= t(:label_relation) %> </th>
		<th><%= t(:label_child) %> </th>
		<th><%= t(:label_values) %> </th>
		<th><%= t("label_domain") %></th>
		
	</tr>
	<% @links[:recordset].each do |link| %>
	<tr>
		<td><%= h link.id %></td>
		<td><%= h link.ident %></td>
		<td><%= h link.domain %></td>
		<td><%= h link.father_ident %></td>
		<td><%= h link.relation_ident %></td>
		<td><%= h link.child_ident %></td>
		<td><%= h link.values %></td>
		<td><%= h link.domain %></td>
		
		<td><%= link_to h_img_show.to_s, link %> </td>
		<td><%= link_to h_img_edit.to_s, edit_link_path(link) %> </td>
		<td><%= link_to h_img_destroy.to_s, link, :confirm => t(:msg_confirm), :method => :delete %> </td>
		<% if logged_in? %> <td><%= link_to_remote  h_img(:copy).to_s, :url => {:controller => "links", :action => "add_favori", :id => link.id}, :method => :get  %></td>
		<% end %>
		
	</tr>
	<% end %>
</table>
<%= will_paginate(@links[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_link), new_link_path %> </td>
		<td> <%= link_to t(:link_reset), reset_links_path %> </td>
		<td> <%= show_help(:help_links) %> </td>
	</tr>
</table>
