<h1><%= t(:link_list) %><%= h_count_objects(@links) %></h1>
<%= h_form_simple_query('/links', @links) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_link), new_link_path %> </td>
		<td> <%= link_to t(:link_reset), reset_links_path %> </td>
		<td> <%= show_help(:help_links) %> </td>
	</tr>
</table>
<%= will_paginate(@links[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper "id" %>> <%= sort_link_helper t("label_id"), "id" %> </th>
		<th style="width:50px"><%= t(:label_ident) %> </th>
		<th style="width:50px" <%= sort_td_class_helper "father" %>> <%= sort_link_helper t("label_father"), "father_id" %> </th>
		<th style="width:50px" <%= sort_td_class_helper "relation" %>> <%= sort_link_helper t("label_relation"), "relation_id" %> </th>
		<th style="width:50px" <%= sort_td_class_helper "child" %>> <%= sort_link_helper t("label_child"), "child_id" %> </th>
		<th <%= sort_td_class_helper "responsible" %>> <%= sort_link_helper t("label_responsible"), "owner_id" %> </th>
		<th <%= sort_td_class_helper "group" %>> <%= sort_link_helper t("label_group"), "group_id" %> </th>
		<th <%= sort_td_class_helper "projowner" %>> <%= sort_link_helper t("label_projowner"), "projowner_id" %> </th>
		<th><%= t(:label_values) %> </th>
		<th <%= sort_td_class_helper "domain" %>> <%= sort_link_helper t("label_domain"), "domain" %> </th>
	</tr>
	<% @links[:recordset].each do |link| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= h link.id %></td>
		<td><%= h link.ident %></td>
		<td><%= h link.father_ident %></td>
		<td><%= h link.relation_ident %></td>
		<td><%= h link.child_ident %></td>
		<td><%= h_explorer link.owner, :login unless link.owner.nil? %></td>
		<td><%= h_explorer link.group, :name unless link.group.nil? %></td>
		<td><%= h_explorer link.projowner, :ident unless link.projowner.nil?%></td>
		<td><%= h link.type_values %></td>
		<td><%= h link.domain %></td>

		<td><%= link_to h_img_show.to_s, link %> </td>
		<td><%= link_to h_img_edit.to_s, edit_link_path(link) %> </td>
		<td><%= h_destroy(link) %> </td>
		<td> <%= link_to h_img(:copy), add_favori_link_path(link), remote: true  if logged_in? %></td>

	</tr>
	<% end %>
</table>
<%= will_paginate(@links[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_link), new_link_path %> </td>
		<td> <%= link_to t(:link_reset), reset_links_path %> </td>
		<td> <%= show_help(:help_links) %> </td>
	</tr>
</table>
