<h1>Listing links <%= h_count_objects(@links)%> </h1>
<%= link_to 'New link', new_link_path %>
<%= form_simple_query_helper('/links', @links) %>
<%= will_paginate(@links[:recordset]) %>
<table>
	<tr>
		<th>Father plm type</th>
		<th>Child plm type</th>
		<th>Father type</th>
		<th>Child type</th>
		<th>Father</th>
		<th>Child</th>
		<th>Name</th>
		<th>Responsible</th>
	</tr>
	<% @links[:recordset].each do |link| %>
	<tr>
		<td><%= h link.father_plmtype %></td>
		<td><%= h link.child_plmtype %></td>
		<td><%= h link.father_type_id %></td>
		<td><%= h link.child_type_id %></td>
		<td><%= h link.father_id %></td>
		<td><%= h link.child_id %></td>
		<td><%= h link.relation.name %></td>
		<td><%= h link.responsible %></td>
		<td><%= link_to 'Show', link %></td>
		<td><%= link_to 'Edit', edit_link_path(link) %></td>
		<td><%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@links[:recordset]) %> 