<h1><%= t("link_show") %></h1>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @link, :fonct=>"show"}) %>
<%= form_for(@link) do |f| %>
<%= form_errors_for @link %>
<p>
	<b><%= t(:label_father_plmtype) %></b>
	<%= h @link.father_plmtype %>
</p>
<p>
	<b><%= t(:label_child_plmtype) %></b>
	<%= h @link.child_plmtype %>
</p>
<p>
	<b><%= t(:label_father) %></b>
	<%= h @link.father.ident %>
</p>
<p>
	<b><%= t(:label_child) %></b>
	<%= h @link.child.ident %>
</p>
<p>
	<b><%= t(:label_values) %></b>
	<%= h @link.type_values%>
</p>
<p>
	<b><%= t(:label_responsible) %></b>
	<%= h @link.owner.login unless @link.owner.nil? %>
</p>
<% end %>
