<p>
	<b>Father type:</b>
	<%= h @link.father_type %>
</p>
<p>
	<b>Child type:</b>
	<%= h @link.child_type %>
</p>
<p>
	<b>Father:</b>
	<%= h @link.father_id %>
</p>
<p>
	<b>Child:</b>
	<%= h @link.child_id%>
</p>
<p>
	<b>Name:</b>
	<%= h @link.name %>
</p>
<p>
	<b>Designation:</b>
	<%= h @link.designation %>
</p>
<p>
	<b>Description:</b>
	<%= h @link.description %>
</p>
<p>
	<b>Responsible:</b>
	<%= h @link.responsible %>
</p>
<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>