<p>
	<b>Father plm type:</b>
	<%= h @link.father_plmtype %>
</p>
<p>
	<b>Child plm type:</b>
	<%= h @link.child_plmtype %>
</p>
<p>
	<b>Father:</b>
	<%= h @link.father_id %>
</p>
<p>
	<b>Child:</b>
	<%= h @link.child_id%>
</p>
<p>
	<b>Values:</b>
	<%= h @link.values%>
</p>

<p>
	<b>Responsible:</b>
	<%= h @link.owner.login unless @link.owner.nil? %>
</p>
<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>