<p>
  <b>Father object:</b>
  <%=h @link.father_object %>
</p>

<p>
  <b>Child object:</b>
  <%=h @link.child_object %>
</p>

<p>
  <b>Father:</b>
  <%=h @link.father_id %>
</p>

<p>
  <b>Child:</b>
  <%=h @link.child_id%>
</p>

<p>
  <b>Name:</b>
  <%=h @link.name %>
</p>

<p>
  <b>Designation:</b>
  <%=h @link.designation %>
</p>

<p>
  <b>Description:</b>
  <%=h @link.description %>
</p>

<p>
  <b>Responsible:</b>
  <%=h @link.responsible %>
</p>

<p>
  <b>Group:</b>
  <%=h @link.group %>
</p>

<p>
  <b>Date:</b>
  <%=h @link.date %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>