<h1><%= t(:subscription_list) %><%= h_count_objects(@subscriptions) %></h1>
<% unless @subscription.nil? %>
<%= form_for(@subscription) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= form_simple_query_helper('/subscriptions', @subscriptions) %>
<table class='menu_bas'>
	<tr>
		<td><%= link_to t("new_subscription"), new_subscription_path %></td>
		<td><%= show_help("help_subscriptions") %></td>
	</tr>
</table>
<% if @myparams[:list_mode] == t(:list_mode_icon) %>
<%= h_thumbnails_objs @subscriptions %>
<% else %>
<%= will_paginate(@subscriptions[:recordset]) %>
<%= render(:partial => "subscriptions/index", :locals=>{:subscriptions=>@subscriptions, :funct => "index"}) %>
<%= will_paginate(@subscriptions[:recordset]) %>
<% end %>
<table class='menu_bas'>
	<tr>
		<td><%= link_to t("new_subscription"), new_subscription_path %></td>
		<td><%= show_help("help_subscriptions") %></td>
	</tr>
</table>
