<h1><%= t(:subscription_list) %><%= h_count_objects(@subscriptions) %></h1>
<% unless @subscription.nil? %>
<% form_for(@subscription) do |f| %>
<%= f.error_messages %>
<% end %>
<% else %>
<%= h_form_simple_query('/subscriptions', @subscriptions) %>
<% form_tag({:controller=>:subscriptions, :action=>:index_execute}) do %>
<%= h_menu_index_action("subscription")%>
<% if @myparams[:list_mode] == t(:list_mode_icon) %>
<%= h_thumbnails_objs @subscriptions %>
<% else %>
<%= will_paginate(@subscriptions[:recordset]) %>
<%= render(:partial => "subscriptions/index", :locals=>{:subscriptions=>@subscriptions, :funct => "index"}) %>
<%= will_paginate(@subscriptions[:recordset]) %>
<% end %>
<%= h_menu_index_action("subscription")%>
<%end%>
<%end%>