<h1><%= t("processes_list") %></h1>
<table class='menu_bas'>
	<tr>
		<% if (params[:workflow] or params[:launcher]) %> <td> <%= link_to( t(:workitems_all), processes_path)  %> </td>
		<% end%>
		<td> <%= link_to(t("launch"), {:controller=>"definitions",:action=>"new_process"}, :title => 'launch a new process from a definition') %> </td>
	</tr>
</table>
<table class='coll'>
	<thead>
		<tr>
			<th>wfid</th>
			<th>size</th>
			<th>position</th>
			<th>err</th>
			<th class='align-right'><%= @processes.size %> instances</th>
		</tr>
	</thead>
	<% for ps in @processes %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= link_to_slice(ps, :wfid) %></td>
		<td><%=ps.expressions.size%></td>
		<td><%=ps.position.inspect%></td>
		<td>	<% ps.position.each do |pos|
          		fei, pname, info = pos%>
          		<%="fei=#{fei} pname=#{pname} info=#{info}"%>
          	<%end%>
          </td>
		<td><%= link_to_if(ps.errors.size > 0,
		h(ps.errors.size),
		{:controller=>:errors, :action=>:index,:id=>ps.wfid}) %></td>
		<td class="coll_buttons"> <%= link_to h_img_show.to_s, process_path(ps.wfid) %>
			<% if logged_in?%>
			</td><td class="coll_buttons"><%= button_to t(:button_abort), process_path(ps.wfid), :method => :delete, :data=>{:confirm => 'Are you sure ?'} %> </td>
			<%end%>
	</tr>
	<% end -%>
</table>
<% #will_paginate(@processes)
%>-
<table class='menu_bas'>
	<tr>
		<% if (params[:workflow] or params[:launcher]) %> <td> <%= link_to( t(:workitems_all), processes_path)  %> </td>
		<% end%>
		<td> <%= link_to(t("launch"), {:controller=>"definitions",:action=>"new_process"}, :title => 'launch a new process from a definition') %> </td>
	</tr>
</table>

