<h1><%= t("processes_new") %></h1>
<%= form_tag('/processes', { :id => 'workitem_form', :multipart => true }) do %>
<%= hidden_field_tag 'definition_id', @definition.id %>
<table>
	<tr>
		<td> <%= t(:label_uri) %></td>
		<td> <%= h truncate(@definition.uri, :length => 40) %> </td>
	</tr>
	<tr>
		<td class='nomax' colspan="2" class="nhover"> <%= render(:partial => 'shared/ruote_forms', :locals => { :fields => @definition.launch_fields_hash }) %> </td>
	</tr>
</table>
<table class='menu_bas'>
	<tr>
		<td><%= submit_tag t('launch_process') %></td>
		<td><%= link_to t("list"), processes_path %> </td>
	</tr>
</table>
<% end -%>

<%= render_fluo :definition => @definition %>