<h1><%= t("processes_show") %><%= params[:id]%></h1>
<% unless @process.nil?%>
<%= h @process.wfid %></h1>
<table>
	<tr>
		<td class="wide-first-col">wfid</td>
		<td><%= h @process.wfid %></td>
	</tr>
	<tr>
		<td><%= t('label_launcher')%></td>
		<td><%= h @process.variables['launcher'] %></td>
	</tr>
	<tr>
		<td><%= t('label_definition')%></td>
		<td><%= h @process.definition_name %> <%= h @process.definition_revision %></td>
	</tr>
	<tr>
		<td><%= t('label_launch_time')%></td>
		<td><%= h @process.launched_time %></td>
	</tr>
	<tr>
		<td><%= t('label_last_active')%></td>
		<td><%= link_to @process.last_active %></td>
	</tr>
	<tr>
		<td><%= t('label_tags')%></td>
		<td><%= link_to @process.tags %></td>
	</tr>
	<tr>
		<td><%= t('label_variables')%></td>
	</tr>
	<%@process.variables.each do |name,value| %>
	<tr>
		<td><%= "#{name}"%></td><td><%= truncate(value.to_s,:length=>40) %></td>
	</tr>
	<%end%>
	<tr>
		<td><%= t('label_current_tree')%></td>
		<td><%= truncate(@process.current_tree.to_s ,:length=>40) %></td>
	</tr>
	<tr>
		<td><%= t('label_errors')%></td>
		<td><%= link_to @process.errors.size.to_s, errors_path(@process.wfid) %></td>
	</tr>
	<tr>
		<td><%= t('label_workitems')%></td>
	</tr>
	<%@process.workitems.each do |workitem| %>
	<tr>
		<td><%= "#{workitem.wf_name}"%></td><td><%= "#{workitem.inspect}"%></td>
	</tr>
	<%end%>
	<tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>

	<% for fexp in @process.root_expressions.select { |fexp|  }.reverse %>
	<tr>
		<td><%= @shown ? '' : t('label_expressions') %></td>
		<td
		onmouseover="FluoCan.highlight('fluo', '<%= fexp.fei.expid %>')"
		onmouseout="FluoCan.highlight('fluo', null)"
		><%= link_to h(fexp.fei.to_web_s), expression_path(fexp) %></td>
		<% @shown = true %>
	</tr>
	<% end %>
</table>
<table class="menu_bas">
	<tr class='button-row'>
		<td><%= link_to t("list"),{ :action=>:index} %></td>
	</tr>
</table>
<%= render_fluo(:process => @process, :workitems => @process.workitems) %>
<%end%>
