<h1><%=t(:role_edit) %></h1>
<% form_for(@role) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "roles/edit",:locals => { :f => f, :fonct=>"edit" }) %>

<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("update") %>
        </td>
        <td>
            <%= link_to t("explorer"), @role %>
        </td>
        <td>
            <%= link_to t("list"), roles_path %>
        </td>
    </tr>
</table>
<% end %>
