<h1><%= t(:role_list) %><%= h_count_objects(@roles) %></h1>
<%= form_simple_query_helper('/roles', @roles) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_role), new_role_path %> </td>
		<td> <%= show_help("help_roles") %> </td>
	</tr>
</table>
<%= will_paginate(@roles[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper "title" %>> <%= sort_link_helper t("label_name"), "title" %></th>
		<th> <%= t(:label_description) %> </th>
		<th> <%= t(:label_role_users) %> </th>
		<th></th>
		<th></th><th></th>
	</tr>
	<% @roles[:recordset].each do |role| %>
	<tr>
		<td> <%= h role.title %> </td>
		<td> <%= h role.description %> </td>
		<td><%= comma_list(role.users, :login) %></td>
		<td> <%= link_to h_img_show.to_s, role %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_role_path(role) %> </td>
		<td> <%= link_to h_img_destroy.to_s, role, :confirm => t(:msg_confirm), :method => :delete %> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@roles[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_role), new_role_path %> </td>
		<td> <%= show_help("help_roles") %> </td>
	</tr>
</table>
