<h1><%= t(:role_show) %></h1>
<p>
	<b><%= t(:label_name) %></b>
	<%= h @role.title %>
</p>
<p>
	<b><%= t(:label_description)%></b>
	<%= h @role.description %>
</p>
<p>
	<b><%= t(:label_role_father)%></b>
	<%= h @role.father_name %>
</p>

</p>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("edit"), edit_role_path(@role) %></td>
		<td> <%= link_to t("new_role"), new_role_path %></td>
		<td> <%= link_to t("list"), roles_path %></td>
	</tr>
</table>