<fieldset>
    <legend>
        <%= t(:legend_user) %>
    </legend>
    <p>
        <label for="user_name">
            <%= t(:label_username) %>
        </label>
        <%= form.text_field :login, :size => 40 %>
    </p>
    <p>
        <label for="user_password">
            <%= t(:label_password) %>
        </label>
        <%= form.password_field :password, :size => 40 %>
    </p>
    <p>
        <label for="user_password_confirmation">
            <%=t(:label_confirm_password) %>
        </label>
        <%= form.password_field :password_confirmation, :size => 40 %>
    </p>
    <p>
        <%= form.label t(:label_roles) %>
        <br/>
        <% @roles.each do |role| %>
        <% if(@user.roles.count(:all, :conditions=>["id=#{role.id}"])>0) %>
        <%= check_box(:role_id,role.id,{:checked=>"checked"}) %><%= role.title %>
        <% else %>
        <%= check_box(:role_id,role.id) %><%= role.title %>
        <% end %>
        <% end %>
        <br/>
    </p>
    <p>
        <%= form.label t(:label_email) %>
        <br/>
        <%= form.text_field :email, :size => 40 %>
    </p>
    <p>
        <b><%= form.label t(:label_volume) %></b>
        <br/>
        <%= form.collection_select(:volume_id, @volumes, :id, :name) %>
    </p>
    <p>
        <b><%= form.label t(:label_nb_items) %></b>
        <br/>
        <%= form.text_field :nb_items, :size => 2 %>
    </p>
    <% if @themes != nil %>
    <%= form.label t(:label_theme) %>
    <br/>
    <%= select("user","theme",options_for_select(@themes)) %>
    <% end %>
</fieldset>
