<H1>Users</H1>
<table>
    <tr>
        <th<%= sort_td_class_helper "login" %>
            <%= sort_link_helper t(:label_username), "login" %>
        </th>
        <th<%= sort_td_class_helper "role" %>
            <%= sort_link_helper t(:label_role), "role.title" %>
        </th>
        <th<%= sort_td_class_helper "mail" %>
            <%= sort_link_helper t(:label_email), "email" %>
        </th>
       <th<%= sort_td_class_helper "theme" %>
            <%= sort_link_helper t(:label_theme), "email" %>
        </th>
				<th></th><th></th>
     </tr>
    <% for user in @all_users %>
    <tr>
        <td>
            <%= h(user.login) %>
        </td>
        <td>
            <%= h(user.role.title) %>
        </td>
        <td>
            <%= h(user.email) %>
        </td>
         <td>
            <%= h(user.theme) %>
        </td>
        <td>
            <%= link_to h_img_edit.to_s, :controller => "login", :action => :edit_user, :id => user.id %>
        </td>
        <td>
            <%= link_to h_img_destroy.to_s, 	{ #link_to options
            :controller => "login",
            :action => "delete_user",
            :id => user },
            { #html options
            :method => :post,
            :confirm => t("msg_confirm") } %>
        </td>
    </tr>
    <% end %>
</table>
<table class='menu_bas'>
    <tr>
        <td>
            <%= link_to t("new_user"), :controller=> "login", :action => "add_user" %>
        </td>
    </tr>
</table>
