<h1><%= t(:views_edit) %></h1>
<% fonct="edit"
  form_id=fonct+"_view" %>
<% form_for(@view, :html => { :id => form_id }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @view, :f => f, :fonct=>fonct}) %> 
<%= render(:partial => "views/edit",:locals => {
:f => f,
:fonct => fonct,
:form_id => form_id })
%>
<%= render(:partial => "shared/submit_edit",:locals => { :object => @view, :f => f, :fonct=>fonct}) %> 
<% end %> 
