<h1><%= t(:views_list) %><%= h_count_objects(@views)%> </h1>
<% unless @view.nil? %>
<%= form_for(@view) do |f| %>
<%= form_errors_for @view %>
<% end %>
<% else %>
<%= h_form_simple_query('/views', @views) %>
<%= form_tag({:controller=>:views, :action=>:index_execute}) do %>
<%= h_menu_index_action("view")%>
<%= will_paginate(@views[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper "name" %>> <%= sort_link_helper t(:label_name), "name" %> </th>
		<th <%= sort_td_class_helper "description" %>> <%= sort_link_helper t(:label_description), "description" %> </th>
		<% if admin_logged_in?%> <th <%= sort_td_class_helper "domain" %>> <%= sort_link_helper t(:label_domain), "domain" %> </th>
		<% end %> <th><%= t(:label_relations) %></th><th></th><th></th>
	</tr>
	<% @views[:recordset].each do |view| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td><%= h_explorer view, :name %><%= h_show_translate view.name_translate %></td>
		<td> <%= h view.description %> </td>
		<% if admin_logged_in?%> <td> <%= h view.domain %> </td>
		<% end %> <td> <%= comma_links(view.relations, :name) %></td>
		<td> <%= link_to h_img_edit.to_s, edit_view_path(view)  %> </td>
		<td> <%= h_menu_duplicate(view) %> </td>
		<td> <%= h_destroy(view) %> </td>
		<td><%= check_box(:action_on,view.id) %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@views[:recordset]) %>
<%= h_menu_index_action("view")%>
<%end%>
<%end%>
