<h1><%= t(:views_show) %></h1>
<table>
	<%= h_attribut_trtd(@view, :id) %>
	<%= h_attribut_trtd(@view, :name) %>
	<%= h_attribut_trtd(@view, :description) %>
	<tr>
		<td><%= t(:label_relations) %></td>
		<td><%= comma_links(@view.relations, :name) %></td>
	</tr>
</table>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:edit), edit_view_path(@view)  %> </td>
		<td> <%= link_to t(:list), views_path %> </td>
	</tr>
</table>
