<%=t(:hello)%>
<br>
<%=t(:document_tovalidate)%>
<br>

<p>
  <b><%=t(:label_ident)%></b>
  <%=h @document.ident %>
</p>

<p>
  <b><%=t(:label_type)%></b>
  <% if(@document.typesobject != nil) %>
  	<%=h @document.typesobject.id %>:<%=h @document.typesobject.name %>
  <% end %> 
</p>

<p>
  <b><%=t(:label_revision)%></b>
  <%=h @document.revision %>
</p>

<p>
  <b><%=t(:label_designation)%></b>
  <%=h @document.designation %>
</p>

<p>
  <b><%=t(:label_description)%></b>
  <%=h @document.description %>
</p>

<p>
  <b><%=t(:label_status)%></b>
  <% if(@document.statusobject != nil) %>
  	<%=h @document.statusobject.id %>:<%=h @document.statusobject.name %>
  <% end %> 
</p>

<p>
  <b><%=t(:label_responsible)%></b>
  <%=h @document.owner.login %>
</p>

<p>
  <b><%=t(:label_date)%></b>
  <%=h @document.date %>
</p>

<%=t(:check_object_and_promote)%> <a href="<%= @urlbase %><%= url_for(:controller=>"documents", :action=>'edit', :id => @document.id) %>" title="<%= @document.ident %>" ><%=h @document.ident %></a>




