<%= t(:hello)%>
<br>
<p>
	<b><%= t(:label_login)%></b>
	<%= h @new_user.login %>
</p>
<p>
	<b><%= t(:label_email)%></b>
	<%= h @new_user.email %>
</p>
<b><%= t("new_login_activate")%> </b>
<a href="<%= @urlbase %><%= url_for(:controller=>'sessions', :action=>'activate', :id => @new_user.id) %>" title="<%= @new_user.login %>" ><%= @new_user.login %> </a>
