<%= t(:hello)%>
<br>
<%= t(:notify)%>
<br>
<b><%= t(:title_notifications)%></b>

<table>
	<tr>
		<th>Object type</th>
		<th>Object</th>
		<th>Event date</th>
		<th>Event type</th>
		<th>Responsible</th>
		<th>Notify date</th>
	</tr>

	<% @object.each do |notification| %>
	<tr>
		<td><%= h notification.object_type %></td>
		<td><%= h notification.object_id %></td>
		<td><%= h notification.event_date %></td>
		<td><%= h notification.event_type %></td>
		<td><%= h notification.responsible.login %></td>
		<td><%= h notification.notify_date %></td>
		<td><%= link_to(t("notification"),
		:controller => 'notifications',
		:action => 'show',
		:id => notification,
		:only_path => false)%></td>
		<td><%= link_to(t("explorer"),
		:controller => Notification.get_object_controller(notification.object_type),
		:action => 'show',
		:id => notification.object_id,
		:only_path => false)%></td>
	</tr>
	<% end %>
</table>

