<h1><%= t("check_edit")%></h1>
<% form_for(@check) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "checks/edit",:locals => { :f => f, :fonct=>"edit" }) %>
<table class='menu_bas'>
	<tr>
		<td><%= f.submit t("update") %></td>
		<td><%= link_to t("explorer"), @check %></td>
		<td><%= link_to t("list"), checks_path %></td>
	</tr>
</table>
<% end %>