<h1><%= t("check_list") %><%= h_count_objects(@checks) %></h1>
<%= h_form_simple_query('/checks', @checks) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_check"), new_check_path %> </td>
		<td> <%= show_help("help_checks") %> </td>
	</tr>
</table>
<%= will_paginate(@checks[:recordset]) %>
<table>
	<tr>
		<th> <%= t("label_object") %> </th>
		<th> <%= t("label_object_id") %> </th>
		<th> <%= t("label_status") %> </th>
		<th> <%= t("label_out_reason") %> </th>
		<th> <%= t("label_out_date") %> </th>
		<th> <%= t("label_out_user") %> </th>
		<th> <%= t("label_out_group") %> </th>
		<th> <%= t("label_in_reason") %> </th>
		<th> <%= t("label_in_date") %> </th>
		<th> <%= t("label_in_user") %> </th>
		<th> <%= t("label_in_group") %> </th>
		<th> <%= t("label_responsible") %> </th>
		<th> <%= t("label_projowner") %> </th>
	</tr>
	<% @checks[:recordset].each do |check| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td> <%= h check.checkobject_plmtype %> </td>
		<td> <%= h check.checkobject_id %> </td>
		<td> <%= h check.status %> </td>
		<td> <%= h check.out_reason %> </td>
		<td> <%= l check.out_date %> </td>
		<td> <%= h check.out_user.login unless check.out_user.nil? %> </td>
		<td> <%= h check.out_group.name unless check.out_group.nil?%> </td>
		<%unless check.in_date.nil? %> <td> <%= h check.in_reason %> </td>
		<td> <%= l check.in_date %></td>
		<td> <%= h check.in_user.login unless check.in_user.nil? %> </td>
		<td> <%= h check.in_group.name unless check.in_group.nil? %> </td>
		<%else%> <td></td>
		<td></td>
		<td></td>
		<td></td>
		<%end %>
		<td><%= h check.user.login unless check.user.nil? %> </td>
		<td> <%= h check.projowner.ident unless check.projowner.nil? %> </td>
		<td> <%= link_to h_img_show.to_s, check %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_check_path(check) %> </td>
		<td> <%= link_to h_img_destroy.to_s, check, :confirm => t("msg_confirm"), :method => :delete %> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@checks[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t("new_check"), new_check_path %> </td>
		<td> <%= show_help("help_checks") %> </td>
	</tr>
</table>
