<h1><%=t("check_new")%></h1>

<% form_for(@check) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t("label_object") %><br />
    <%= f.text_field :object %>
  </p>
  <p>
    <%= f.label t("label_object_id") %><br />
    <%= f.text_field :object_id %>
  </p>
  <p>
    <%= f.label t("label_status") %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label t("label_out_reason") %><br />
    <%= f.text_field :out_reason %>
  </p>
  <p>
    <%= f.label t("label_out_date")  %><br />
    <%= f.date_select :out_date %>
  </p>
  <p>
    <%= f.label t("label_out_user") %><br />
    <%= f.text_field :out_user %>
  </p>
  <p>
    <%= f.label t("label_in_reason") %><br />
    <%= f.text_field :in_reason %>
  </p>
  <p>
    <%= f.label t("label_in_date") %><br />
    <%= f.date_select :in_date %>
  </p>
  <p>
    <%= f.label t("label_in_user") %><br />
    <%= f.text_field :in_user %>
  </p>
  <p>
    <%= f.label t("label_local_dir") %><br />
    <%= f.text_field :local_dir %>
  </p>
  
  <table class='menu_bas'>
<tr>
<td><%= f.submit t("create") %></td>
<td><%= link_to t("list"), checks_path %></td>
</tr>
</table>

<% end %>
