<h1><%= t("check_show")%></h1>
<p>
  <b><%= t("label_object") %></b>
  <%= h @check.checkobject %>
</p>

<p>
  <b><%= t("label_object_id") %></b>
  <%= h @check.checkobject_id %>
</p>

<p>
  <b><%= t("label_status") %></b>
  <%= h @check.status %>
</p>

<p>
  <b><%= t("label_out_reason") %></b>
  <%= h @check.out_reason %>
</p>

<p>
  <b><%= t("label_out_date") %></b>
  <%= l @check.out_date %>
</p>

<p>
  <b><%= t("label_out_user") %></b>
  <%= h @check.out_user %>
</p>

<p>
  <b><%= t("label_in_reason") %></b>
  <%= h @check.in_reason %>
</p>

<%unless @check.in_date.nil? %>
<p>
	 <b><%= t("label_in_date") %></b>
  <%= l @check.in_date %>
</p>
<%end%>
<p>
  <b><%= t("label_in_user") %></b>
  <%= h @check.in_user %>
</p>

<p>
  <b><%= t("label_local_dir") %></b>
  <%= h @check.local_dir %>
</p>

<table class='menu_bas'>
<tr>
<td><%= link_to t("edit"), edit_check_path(@check)  %></td>
<td><%= link_to t("list"), checks_path %></td>
</tr>
</table

