<h1><%=t(:typesobjects_edit) %></h1>
<% form_for(@typesobject) do |f| %>
<%= f.error_messages %>
<p>
    <%= f.label t(:label_object) %>
    <br/>
    <%= f.select(:object, @objectswithtype) %>
</p>
<p>
    <%= f.label t(:label_name) %>
    <br/>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.label t(:label_description) %>
    <br/>
    <%= f.text_area :description %>
</p>
<table class='menu_bas'>
    <tr>
        <td>
            <%= f.submit t("update") %>
        </td>
        <td>
            <%= link_to t("explorer"), @typesobject %>
        </td>
        <td>
            <%= link_to t("list"), typesobjects_path %>
        </td>
    </tr>
</table>
<% end %>
