<h1><%= t(:typesobjects_list) %><%= h_count_objects(@typesobjects)%> </h1>
<% unless @typesobject.nil? %>
<%= form_for(@typesobject) do |f| %>
<%= f.error_messages %>
<% end %>
<% end %>
<%= form_simple_query_helper('/typesobjects', @typesobjects) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_typesobject), new_typesobject_path %> </td>
		<td> <%= show_help("help_typesobjects") %> </td>
	</tr>
</table>
<%= will_paginate(@typesobjects[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper "id" %>> <%= sort_link_helper t(:label_id), "id" %> </th>
		<th <%= sort_td_class_helper "forobject" %>> <%= sort_link_helper t(:label_object), "forobject" %> </th>
		<th <%= sort_td_class_helper "name" %>> <%= sort_link_helper t(:label_name), "name" %> </th>
		<th <%= sort_td_class_helper "description" %>> <%= sort_link_helper t(:label_description), "description" %> </th>
		<th <%= sort_td_class_helper "fields" %>> <%= sort_link_helper t(:label_fields), "fields" %> </th>
		<th <%= sort_td_class_helper "domain" %>> <%= sort_link_helper t(:label_domain), "domain" %> </th>
		<th></th><th></th><th></th>
	</tr>
	<% @typesobjects[:recordset].each do |typesobject| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td> <%= h typesobject.id %> </td>
		<td> <%= h typesobject.forobject %> </td>
		<td> <%= h typesobject.name %> </td>
		<td> <%= h typesobject.description %> </td>
		<td> <%= h typesobject.fields %> </td>
		<td> <%= h typesobject.domain %> </td>
		<td> <%= link_to h_img_show.to_s, typesobject %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_typesobject_path(typesobject) %> </td>
		<td> <%= link_to h_img_destroy.to_s, typesobject, :confirm => t(:msg_confirm), :method => :delete %> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@typesobjects[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_typesobject), new_typesobject_path %> </td>
		<td> <%= show_help("help_typesobjects") %> </td>
	</tr>
</table>
