<h1><%=t(:typesobjects_show) %></h1>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @typesobject, :fonct=>"show"}) %>
<p>
    <b><%=t(:label_object) %></b>
    <%= @typesobject.forobject %><%=h h_show_translate @typesobject.forobject_translate %>
</p>
<p>
    <b><%=t(:label_name) %></b>
    <%= @typesobject.name %><%=h h_show_translate @typesobject.name_translate %>
</p>
<p>
    <b><%=t(:label_description) %></b>
    <%=h @typesobject.description %>
</p>
<p>
    <b><%=t(:label_fields) %></b>
    <%=h @typesobject.fields %>
</p>
