<h1><%=t(:typesobject_show) %></h1>
<% fonct="show"
	form_id = h_form_html_id(@typesobject, fonct) %>
<% form_for(@typesobject, :html => { :id => form_id }) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "shared/menu_show", :locals=>{:object => @typesobject, :fonct=>fonct}) %>
<p>
    <b><%=t(:label_object) %></b>
    <%= @typesobject.forobject %><%=h h_show_translate @typesobject.forobject_translate %>
</p>
<p>
    <b><%=t(:label_name) %></b>
    <%= @typesobject.name %><%=h h_show_translate @typesobject.name_translate %>
</p>
<p>
    <b><%=t(:label_description) %></b>
    <%=h @typesobject.description %>
</p>
<p>
	<b><%= t(:label_role_father)%></b>
	<%= h @typesobject.father_name %>
</p>
<p>
    <b><%=t(:label_typesobject_rank) %></b>
    <%=h @typesobject.rank %>
</p>
<p>
    <b><%=t(:label_fields) %></b>
    <%= h_render_fields(@typesobject, fonct, "fields") %>
</p>
<% end %>
