<div class="form-inputs">
	<%= f.label t(:label_ident) %>
	<%= f.text_field :ident %>
	<br/>
	<%= f.label t(:label_type_column) %>
	<%= f.text_field :type_column %>
	<br/>
	<%= f.label t(:label_description) %>
	<%= h_text_editor f, @ui_column, :description%>
	<br/>
	<%= f.label t(:label_visible_guest) %>
	<%= f.check_box(:visible_guest) %>
	<br/>
	<%= f.label t(:label_visible_user) %>
	<%= f.check_box(:visible_user) %>
	<br/>
	<%= f.label t(:label_visible_admin) %>
	<%= f.check_box(:visible_admin) %>
	<br/>
	<%= f.label t(:label_visible_support) %>
	<%= f.check_box :visible_support %>
	<br/>
	<%= f.label t(:label_sortable) %>
	<%= f.check_box :sortable %>
	<br/>
	<%= f.label t(:label_editable) %>
	<%= f.check_box :editable %>
	<br/>
	<%= f.label t(:label_type_index) %>
	<%= f.select(:type_index, @ui_column.getTypesIndex,  { },  ) %>
	<br/>
	<%= f.label t(:label_type_show) %>
	<%= f.select(:type_show, @ui_column.getTypesShow,  { },  ) %>
	<br/>
	<%= f.label t(:label_type_editable) %>
	<%= select(f, :type_editable, @ui_column.getTypesEditable,{ },  ) %>
	<br/>
	<%= f.label t(:label_type_editable_file) %>
	<%= select(f, :type_editable_file, @ui_column.getTypesEditableFile,{ }, {:multiple=>true} ) %>
	<br/>
	<%= f.label t(:label_belong_object) %>
	<%= f.text_field :belong_object%>
	<br/>
	<%= f.label t(:label_belong_method) %>
	<%= f.text_field :belong_method%>
	<br/>
	<%= f.label t(:label_input_size) %>
	<%= f.text_field :input_size%>
	<br/>
	<%= f.label t(:label_value_mini) %>
	<%= f.text_field :value_mini%>
	<br/>
	<%= f.label t(:label_value_maxi) %>
	<%= f.text_field :value_maxi%>
	<br/>
	<%= f.label t(:label_domain) %>
	<%= f.text_field (:domain) %>
	<br/>
</div>

