<p id="notice">
	<%= notice %>
</p>
<p>
	<strong><%= t(:label_ident)%></strong>
	<%= @ui_column.ident %>
</p>
<p>
	<strong><%= t(:label_type_column)%></strong>
	<%= @ui_column.type_column %>
</p>
<p>
	<strong><%= t(:label_description)%></strong>
	<%= @ui_column.description %>
</p>
<p>
	<strong><%= t(:label_visible_guest)%></strong>
	<%= @ui_column.visible_guest %>
</p>
<p>
	<strong><%= t(:label_visible_user)%></strong>
	<%= @ui_column.visible_user %>
</p>
<p>
	<strong><%= t(:label_visible_admin)%></strong>
	<%= @ui_column.visible_admin %>
</p>
<p>
	<strong><%= t(:label_visible_support)%></strong>
	<%= @ui_column.visible_support %>
</p>
<p>
	<strong><%= t(:label_sortable)%></strong>
	<%= @ui_column.sortable %>
</p>
<p>
<p>
	<strong><%= t(:label_editable)%></strong>
	<%= @ui_column.editable %>
</p>
<p>
	<strong><%= t(:label_type_index)%></strong>
	<%= @ui_column.type_index %>
</p>
<p>
	<strong><%= t(:label_type_show)%></strong>
	<%= @ui_column.type_show %>
</p>
<p>
	<strong><%= t(:label_type_editable)%></strong>
	<%= @ui_column.type_editable %>
</p>
<p>
	<strong><%= t(:label_type_editable_file)%></strong>
	<%= @ui_column.type_editable_file %>
</p>
<p>
	<strong><%= t(:label_type_export)%></strong>
	<%= @ui_column.type_export %>
</p>
<p>
	<strong><%= t(:label_belong_object)%></strong>
	<%= @ui_column.belong_object %>
</p>
<p>
	<strong><%= t(:label_belong_method)%></strong>
	<%= @ui_column.belong_method %>
</p>
<p>
	<strong><%= t(:label_input_size)%></strong>
	<%= @ui_column.input_size %>
</p>
<p>
	<strong><%= t(:label_value_mini)%></strong>
	<%= @ui_column.value_mini %>
</p>
<p>
	<strong><%= t(:label_value_maxi)%></strong>
	<%= @ui_column.value_maxi %>
</p>
<p>
	<strong><%= t(:label_domain)%></strong>
	<%= @ui_column.domain %>
</p>
