<%=puts "favorites:#{@favori.inspect}"%>
<h1><%= t(:legend_clipboard) %></h1>
<% %w[document part project customer user].each do |type| %>
<div id="favori_<%= type %>">

	<%= render 'layouts/favorite', type: type %>
</div>
<% end %>
<% if admin_logged_in? %>
<div id="favori_link">
	<%= render 'layouts/favorite', type: 'link' %>
</div>
<% end %>
<h1><%= t(:datas_in_database) %></h1>
<%= render(:partial => "shared/show_datas") %>
<%= render(:partial =>'layouts/recent_links') %>
