<h1><%=t(:sequence_edit) %></h1>
<% fonct="edit" %>
<%= form_for(@sequence) do |f| %>
<%= form_errors_for @sequence %>
<%= render(:partial => "shared/menu_edit",:locals => { :object => @sequence, :f => f, :fonct=>fonct}) %>
<%= render(:partial => "sequences/edit",:locals => {:object => @sequence, :f => f, :fonct=>fonct}) %>
<%= render(:partial => "shared/submit_edit",:locals => { :object => @sequence, :f => f, :fonct=>fonct}) %>

<% end %>
