<h1><%= t(:sequence_list) %><%= h_count_objects(@sequences) %></h1>
<%= h_form_simple_query('/sequences', @sequences) %>
<%= form_tag({:controller=>:sequences, :action=>:index_execute}) do %>
<%= h_menu_index_action("sequence")%>
<%= will_paginate(@sequences[:recordset]) %>
<table>
	<tr>
		<th <%= sort_td_class_helper :utility %>> <%= sort_link_helper t(:label_utility), :utility %> </th>
		<th <%= sort_td_class_helper :sequence %>> <%= sort_link_helper t(:label_sequence), :sequence %> </th>
		<th <%= sort_td_class_helper :modify %>> <%= sort_link_helper t(:label_modify), :modify %> </th>
		<th <%= sort_td_class_helper :value %>> <%= sort_link_helper t(:label_value), :value %> </th>
		<th <%= sort_td_class_helper :min %>> <%= sort_link_helper t(:label_min), :min %> </th>
		<th <%= sort_td_class_helper :max %>> <%= sort_link_helper t(:label_max), :max %> </th>
		<th <%= sort_td_class_helper :domain %>> <%= sort_link_helper t(:label_domain), :domain %> </th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @sequences[:recordset].each do |sequence| %>
	<tr class='<%= cycle("even", "odd") %>'>
		<td> <%= h_explorer sequence, :utility %> </td>
		<td> <%= h sequence.sequence %> </td>
		<td> <%= h sequence.modify %> </td>
		<td> <%= h sequence.value %> </td>
		<td> <%= h sequence.min %> </td>
		<td> <%= h sequence.max %> </td>
		<td> <%= h sequence.domain %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_sequence_path(sequence) %> </td>
		<td> <%= h_menu_duplicate(sequence) %> </td>
		<td> <%= h_destroy(sequence) %> </td>
		<td><%= check_box(:action_on,sequence.id) %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@sequences[:recordset]) %>
<%= h_menu_index_action("sequence")%>
<%end%>