<h1><%= t(:sequence_list) %><%= h_count_objects(@sequences) %></h1>
<%= form_simple_query_helper('/sequences', @sequences) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_sequence), new_sequence_path %> </td>
		<td> <%= show_help("help_sequences") %> </td>
	</tr>
</table>
<%= will_paginate(@sequences[:recordset]) %>
<table>
	<tr>
		
		<th <%= sort_td_class_helper :utility %>> <%= sort_link_helper t(:label_utility), :utility %> </th>
		<th <%= sort_td_class_helper :sequence %>> <%= sort_link_helper t(:label_sequence), :sequence %> </th>
		<th <%= sort_td_class_helper :modify %>> <%= sort_link_helper t(:label_modify), :modify %> </th>
		<th <%= sort_td_class_helper :value %>> <%= sort_link_helper t(:label_value), :value %> </th>
		<th <%= sort_td_class_helper :min %>> <%= sort_link_helper t(:label_min), :min %> </th>
		<th <%= sort_td_class_helper :max %>> <%= sort_link_helper t(:label_max), :max %> </th>
		<th <%= sort_td_class_helper :domain %>> <%= sort_link_helper t(:label_domain), :domain %> </th>
		
		<th></th>
		<th></th><th></th>
	</tr>
	<% @sequences[:recordset].each do |sequence| %>
	<tr>
		<td> <%= h sequence.utility %> </td>
		<td> <%= h sequence.sequence %> </td>
		<td> <%= h sequence.modify %> </td>
		<td> <%= h sequence.value %> </td>
		<td> <%= h sequence.min %> </td>
		<td> <%= h sequence.max %> </td>
		<td> <%= h sequence.domain %> </td>
		<td> <%= link_to h_img_show.to_s, sequence %> </td>
		<td> <%= link_to h_img_edit.to_s, edit_sequence_path(sequence) %> </td>
		<td> <%= link_to h_img_destroy.to_s, sequence, :confirm => t(:msg_confirm), :method => :delete %> </td>
	</tr>
	<% end %>
</table>
<%= will_paginate(@sequences[:recordset]) %>
<table class='menu_bas'>
	<tr>
		<td> <%= link_to t(:new_sequence), new_sequence_path %> </td>
		<td> <%= show_help("help_sequences") %> </td>
	</tr>
</table>