<h1><%=t(:sequence_new) %></h1>
<% fonct="new" %>
<% form_for(@sequence) do |f| %>
<%= f.error_messages %>
<%= render(:partial => "shared/menu_new", :locals => {:object => @sequence, :f => f, :fonct=>fonct}) %>
<%= render(:partial => "sequences/edit",:locals => { :f => f, :fonct=>fonct }) %>
<%= render(:partial => "shared/submit_new", :locals => {:object => @sequence, :f => f, :fonct=>fonct}) %>

<% end %>