<h1><%= t(:sequence_show) %></h1>
<p>
	<b><%= t(:label_utility) %></b>
	<%= h @sequence.utility %>
</p>
<p>
	<b><%= t(:label_sequence) %></b>
	<%= h @sequence.sequence %>
</p>
<p>
	<b><%= t(:label_modify) %></b>
	<%= h @sequence.modify %>
</p>
<p>
	<b><%= t(:label_value) %></b>
	<%= h @sequence.value %>
</p>
<p>
	<b><%= t(:label_min) %></b>
	<%= h @sequence.min %>
</p>
<p>
	<b><%= t(:label_max) %></b>
	<%= h @sequence.max %>
</p>
<%= render(:partial => "shared/menu_show", :object => @sequence) %>